<template>
  <!--begin::Menu 1-->
  <div
    class="menu menu-sub menu-sub-dropdown w-250px w-md-300px"
    data-kt-menu="true"
  >
    <!--begin::Header-->
    <div v-if="title" class="px-7 py-5">
      <div class="fs-5 text-dark fw-bolder">{{ title }}</div>
    </div>
    <!--end::Header-->

    <!--begin::Menu separator-->
    <div v-if="title" class="separator border-gray-200"></div>
    <!--end::Menu separator-->

    <!--begin::Form-->
    <div class="px-7 py-5">
      <slot></slot>
    </div>
    <!--end::Form-->
  </div>
  <!--end::Menu 1-->
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "dropdown-1",
  components: {},
  props: {
    title: {
      type: String,
    },
  },
});
</script>
