<template>
  <div
    class="dropdown-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold py-4 w-250px fs-6"
    :aria-labelledby="labelledby"
    data-kt-menu-placement="bottom-end"
    data-kt-menu-flip="top-end"
  >
    <slot></slot>
  </div>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    labelledby: {
      type: String,
    },
  },
});
</script>
