<template>
  <!--begin::Header-->
  <div id="kt_header" style="" class="header align-items-stretch">
    <!--begin::Container-->
    <div :class="{
        'container-fluid': headerWidthFluid,
        'container-xxl': !headerWidthFluid,
      }" class="d-flex align-items-stretch justify-content-between">
      <!--begin::Aside mobile toggle-->
      <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu">
        <div class="btn btn-icon btn-active-light-primary" id="kt_aside_mobile_toggle">
          <span class="svg-icon svg-icon-2x mt-1">
            <inline-svg src="/media/icons/duotune/abstract/abs015.svg" />
          </span>
        </div>
      </div>
      <!--end::Aside mobile toggle-->

      <!--begin::Mobile logo-->
      <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
        <a href="#" class="d-lg-none">
          <!-- <img alt="Logo" src="/media/logos/logo-2.svg" class="h-30px" /> -->
        </a>
      </div>
      <!--end::Mobile logo-->

      <!--begin::Wrapper-->
      <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
        <div class="d-flex align-items-stretch" id="kt_header_menu_nav">
          <!-- <KTMenu></KTMenu> -->
          <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-auto my-lg-0 align-items-stretch">
            <div class="menu-item me-lg-1">
              <a class="menu-link active">
                <span class="menu-title">
                  <div data-kt-menu-trigger="click" data-kt-menu-placement="right" data-kt-menu-attach="parent" data-kt-menu-flip="bottom">All Warehouse</div>

                  <p-dropdown class="mt-5">
                    <p-select :label="__.trans('Select Warehouse')" v-model="search.warehouse" :options="optionsMasterWarehouse">
                    </p-select>
                  </p-dropdown>
                </span>
                <!-- <el-dropdown :trigger="`click`" :placement="`bottom`">
                  <template #dropdown>
                    <p-select :label="__.trans('Job for Warehouse')" v-model="search.warehouse" :options="optionsMasterWarehouse">
                    </p-select>
                  </template>
                </el-dropdown> -->
              </a>
            </div>
          </div>

        </div>

        <!--begin::Topbar-->
        <div class="d-flex align-items-stretch flex-shrink-0">

          <KTTopbar></KTTopbar>
        </div>
        <!--end::Topbar-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Header-->
</template>

<script>
  import {
    defineComponent,
    reactive,
    onMounted
  } from "vue";
  import KTTopbar from "@/layout/header/Topbar.vue";
  import KTMenu from "@/layout/header/Menu.vue";
  import useMasterWarehouse from "@/composeable/useMasterWarehouse"
  import {
    headerWidthFluid,
    headerLeft,
    asideDisplay,
  } from "@/core/helpers/config";

  export default defineComponent({
    name: "KTHeader",
    props: {
      title: String,
    },
    components: {
      KTTopbar,
      // KTMenu,
    },
    setup() {
      const {
        getMasterWarehouse,
        optionsMasterWarehouse
      } = useMasterWarehouse()
      const search = reactive({
        warehouse: ''
      })
      onMounted(async () => {
        await getMasterWarehouse()
      });
      return {
        headerWidthFluid,
        headerLeft,
        asideDisplay,
        search,
        optionsMasterWarehouse
      };
    },
  });
</script>