<template>
  <!--begin::Toolbar wrapper-->

  <p-select filterable class="my-5 d-md-block d-none" style="width:400px" item-class="mb-0 me-5" placeholder="Search" v-model="search.value" :options="search.options" @input="onSelectSearch($event)"></p-select>
  <div class="d-flex align-items-stretch flex-shrink-0">
    <!--begin::Search-->
    <!-- <div class="d-flex align-items-stretch ms-1 ms-lg-3">
      <KTSearch></KTSearch>
    </div> -->
    <!--end::Search-->

    <!--begin::User-->

    <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
      <!--begin::Menu-->

      <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="hover" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
        <img src="/media/avatars/blank.png" alt="metronic" />
      </div>
      <KTUserMenu></KTUserMenu>
      <!--end::Menu-->
    </div>
    <!--end::User -->

    <!--begin::Heaeder menu toggle-->
    <!-- <div class="d-flex align-items-center d-lg-none ms-2 me-n3" title="Show header menu">
      <div class="btn btn-icon btn-active-light-primary" id="kt_header_menu_mobile_toggle">
        <span class="svg-icon svg-icon-1">
          <inline-svg src="/media/icons/duotune/text/txt001.svg" />
        </span>
      </div>
    </div> -->
    <!--end::Heaeder menu toggle-->
  </div>
  <!--end::Toolbar wrapper-->
</template>

<script>
  import {
    defineComponent,
    reactive
  } from "vue";
  // import KTSearch from "@/layout/header/partials/Search.vue";
  import KTUserMenu from "@/layout/header/partials/UserMenu.vue";

  export default defineComponent({
    name: "topbar",
    components: {
      // KTSearch,

      KTUserMenu,
    },
    setup() {
      const search = reactive({
        value: '',
        options: [{
          value: '24042022000K',
          text: '[9887823] AMBAL HIJAU KOTAK UKURAN 15gr'
        }]
      })
   
      return {
        search,
      }
    },
    methods:{
      onSelectSearch(event){
      this.$router.push({
        name: 'searchSerialNumber',
        params: {
          serialNumber: event
        }
      })
      },
    }
  });
</script>