<template>
  <el-form-item :label="label" :required="required">
    <el-select class="form-select-solid w-100" :filterable="filterable" placeholder="Select option" @change="$emit('input', e)" v-model="innerValue">
      <template v-for="(v, i) in options" :key="i">
        <el-option :label="v.text" :value="v.value">{{ v.text }}</el-option>
      </template>
    </el-select>
  </el-form-item>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
  } from "vue";

  export default defineComponent({
    props: {
      label: {
        type: String,
      },
      options: {
        type: Array,
      },
      value: {
        type: String || Number,
      },
      required: {
        type: Boolean,
        default: false
      },
      filterable: {
        type: Boolean,
        default: false
      },
      label: {
        type: String,
        default: ''
      },
    },
    emit: ["change"],

    setup(props, {
      emit
    }) {
      const innerValue = ref();
      onMounted(() => {
        innerValue.value = props.value;
      });
      watchEffect(() => emit("change", innerValue));

      return {
        innerValue,
      };
    },
  });
</script>