<template>
  <div class="mb-10">
    <label class="form-label fw-bold">{{ label }}</label>
    <div>
      <el-select class="form-select-solid w-100" placeholder="Select option" @change="$emit('input', e)" v-model="innerValue">
        <template v-for="(v, i) in options" :key="i">
          <el-option :label="v.text" :value="v.value">{{ v.text }}</el-option>
        </template>
      </el-select>
    </div>
  </div>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    watchEffect
  } from "vue";

  export default defineComponent({
    props: {
      label: {
        type: String,
      },
      options: {
        type: Array,
      },
      value: {
        type: String || Number,
      },
    },
    emit: ["change"],

    setup(props, {
      emit
    }) {
      const innerValue = ref();
      onMounted(() => {
        innerValue.value = props.value;
      });
      watchEffect(() => emit("change", innerValue));

      return {
        innerValue,
      };
    },
  });
</script>