<template>
  <router-view></router-view>
</template>
<script>
  import {
    defineComponent,
    onMounted
  } from 'vue';
  import {
    setCurrentPageTitle
  } from "@/core/helpers/breadcrumb";
  export default defineComponent({
    name: 'ItemsMaster',
    setup() {
      // onMounted(() => {
      //   setCurrentPageTitle("Item Master", "Master data of all items/materials");
      // });
      return {};
    },
  })
</script>