<template>
  <SearchField adv_id="items_master_advanced_search_form" class="mb-7" v-model="filter.itemname" @onReset="onResetFilter" @onSearch="onSearch" :placeholder="`Search Item Name`">
    <p-row>
      <p-col lg="4">
        <p-select :label="__.trans('Categories')" v-model="filter.categories" :placeholder="__.trans('Select Categories')" :options="optionsMasterCategories" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Picking Period')" v-model="filter.pickingPeriod" :placeholder="__.trans('Select Categories')" :options="options.pickingPeriod" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <div class="row fv-row">
          <p-select radio :label="__.trans('Picking Strategy')" v-model="filter.pickingStrategy" :placeholder="__.trans('Select Categories')" :options="options.pickingStrategy" :textAsValue="true">
          </p-select>
        </div>
      </p-col>

    </p-row>
  </SearchField>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted" class="position-relative" id="masterItemDataTable">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Items')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'itemsMasterCreate'}"></btn-add-new>
        <span>
          <p-btn-dropdown btnSize="sm" w="w-250px">
            <template #button>
              {{__.trans('bulkAction')}}
            </template>
            <template #dropdown>
              <p-dropdown-item>
                {{__.trans('removeFromWarehouse')}}
              </p-dropdown-item>
              <p-dropdown-item>
                {{__.trans('addToWarehouse')}}
              </p-dropdown-item>
            </template>
          </p-btn-dropdown>
        </span>
        <span>
          <p-btn-dropdown icon btnSize="sm">
            <template #button>
              <i class="bi bi-three-dots fs-3"></i>
            </template>
            <template #dropdown>
              <p-dropdown-item icon="bi-file-earmark-arrow-up">
                {{__.trans('import')}}
              </p-dropdown-item>
              <p-dropdown-item icon="bi bi-file-earmark-excel">
                {{__.trans('export')}}
              </p-dropdown-item>
              <p-dropdown-item icon="bi-arrow-repeat">
                {{__.trans('sync')}}
              </p-dropdown-item>
            </template>
          </p-btn-dropdown>
        </span>

      </p-flex>
    </p-flex>

    <p-table :isMounted="isMounted" :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="getData(api.getMasterItem({page:$event.currentPage,perPage:$event.perPage,filter:filter}))" @onCurrentChange="getData(api.getMasterItem({page:$event.currentPage,perPage:$event.perPage,filter:filter}))">
      <el-table-column label="Code" property="itemcode" width="140">
        <template #default="scope">
          <WordHighlighter :query="filter.itemname">
            {{ scope.row.itemcode }}
          </WordHighlighter>
        </template>
      </el-table-column>
      <el-table-column label="Item" property="itemname" min-width="250">
        <template #default="scope">
          <div>
            <WordHighlighter :query="filter.itemname">
              {{ scope.row.itemname }}
            </WordHighlighter>
          </div>
          <div>
            <span class="badge rounded-pill badge-light-primary me-3">
              {{ scope.row.categoryname }}</span>
            <span class="badge rounded-pill badge-light-success me-3">
              {{ scope.row.pickingstrategy }}</span>
            <span class="badge rounded-pill badge-light-info">
              {{ __.ucfirst(scope.row.pickingperiod) }}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="QTY (Min)" property="minimumqty" width="120">
        <template #default="scope">
          {{scope.row.minimumqty}} {{scope.row.uomname}}
        </template>
      </el-table-column>
      <el-table-column label="QTY (Def)" property="defaultqty" width="120">
        <template #default="scope">
          {{scope.row.defaultqty}} {{scope.row.uomname}}
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="120">
        <template #default="scope">
          <p-btn class="me-1" icon="bi-pencil-square" size="sm" bg="light" activeColor="primary">
          </p-btn>
          <p-btn class="me-1" icon="bi-trash" size="sm" bg="light" activeColor="danger" @click="useDeleteConfirm(table.data,scope.row.itemid)">
          </p-btn>
        </template>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive,
    computed,
  } from "vue";
  import SearchField from '@/widgets/generals/Search.vue'
  import api from "@/api/master"
  import useMasterCategories from "@/composeable/useMasterCategories"
  import useDeleteConfirm from "@/composeable/useDeleteConfirm"
  import useGetData from "@/composeable/useGetData"
  import useCheckSearch from "@/composeable/useCheckSearch"
  import {
    pickingPeriod,
    pickingStrategy
  } from "@/core/data/Options"

  export default defineComponent({
    name: "ItemsMaster",
    components: {
      SearchField,
    },
    setup() {


      const initialFilter = {
        itemname: '',
        categories: '',
        pickingStrategy: '',
        pickingPeriod: '',
      }
      const filter = reactive({
        ...initialFilter
      })
      const options = reactive({
        pickingStrategy: pickingStrategy,
        pickingPeriod: pickingPeriod
      })
      const onResetFilter = () => {
        Object.assign(filter, initialFilter)
      }
      const onSearch = () => {
        getData(api.getMasterItem({
          page: 1,
          perPage: 10,
          filter
        }))
      }

      const {
        getMasterCategories,
        optionsMasterCategories
      } = useMasterCategories()
      const {
        checkSearch
      } = useCheckSearch()
      const {
        isMounted,
        loading,
        table,
        getData
      } = useGetData()
      const filteredItemsData = computed(() => {
        return table.value.data.filter((res) =>
          (checkSearch(res.itemname, filter.value.itemname) || checkSearch(res.itemcode, filter.value.itemname)) &&
          checkSearch(res.categoryname, filter.value.categories) &&
          checkSearch(res.pickingperiod, filter.value.pickingPeriod) &&
          checkSearch(res.pickingstrategy, filter.value.pickingStrategy)
        );
      });
      onMounted(async () => {
        await getMasterCategories()
        await getData(api.getMasterItem({
          page: 1,
          perPage: 10
        }))
      });
      return {
        filteredItemsData,
        isMounted,
        filter,
        options,
        table,
        optionsMasterCategories,
        onResetFilter,
        loading,
        // onSizeChange,
        useDeleteConfirm,
        getData,
        api,
        onSearch
      };
    },
  });
</script>