<template>
  <p-row class="justify-content-center">

    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New Category')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('code')" required :placeholder="__.trans('Code for category')" v-model="input.code"></p-input>
        <p-input :label="__.trans('name')" required :placeholder="__.trans('Name for category')" v-model="input.name"></p-input>
        <p-flex jc="between">
          <btn-back :to="{name:'itemsCategoriesIndex'}"></btn-back>
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    reactive
  } from 'vue';

  export default defineComponent({
    name: 'ItemsCategoriesCreate',
    setup() {
      const input = reactive({
        code: '',
        name: '',
      })
      return {
        input
      };
    },
  })
</script>