<template>
  <p-row>
    <p-col cols="12">
      <p-flex class="mb-5" jc="between" ai="center">
        <p-text fs3 bolder class="mb-1">{{__.trans('Add New Item')}}</p-text>
      </p-flex>
    </p-col>
    <p-col md="6">
      <p-card class="shadow-sm mb-5">
        <p-flex class="mb-3" jc="between" ai="center">
          <p-text fs5 bold class="mb-1">{{__.trans('General Info')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('Item Code')" required :placeholder="__.trans('Code for item')" v-model="input.code"></p-input>
        <p-input :label="__.trans('Name')" required :placeholder="__.trans('Name for item')" v-model="input.name"></p-input>
        <p-select :label="__.trans('Category')" required v-model="input.category" :options="optionsMasterCategories">
        </p-select>
        <p-row>
          <p-col>
            <p-input :label="__.trans('Min. Replenish Qty')" type="number" :min="0" v-model="input.minReplenishQty"></p-input>
          </p-col>
          <p-col>
            <p-input :label="__.trans('Min. Re-Order Qty')" type="number" :min="0" v-model="input.minReorderQty"></p-input>
          </p-col>
        </p-row>
        <p-select :label="__.trans('Warehouse')" multiple required v-model="input.warehouse" :options="optionsMasterWarehouse">
        </p-select>
        <p-row>
          <p-col>
            <p-select :label="__.trans('Picking Strategy')" required v-model="input.pickingStrategy" :options="options.pickingStrategy">
            </p-select>
          </p-col>
          <p-col>
            <p-select :label="__.trans('Picking Period')" required v-model="input.pickingPeriod" :options="options.pickingPeriod">
            </p-select>
          </p-col>
        </p-row>

      </p-card>
      <p-card class="shadow-sm mb-5">
        <p-flex class="mb-3" jc="between" ai="center">
          <p-text fs5 bold class="mb-1">{{__.trans('Volumetrics')}}</p-text>
        </p-flex>
        <p-row>
          <p-col>
            <p-input required label="Height" type="number" min="0" v-model="input.height">
              <template #append>m3</template>
            </p-input>
          </p-col>
          <p-col>
            <p-input required label="Length" type="number" min="0" v-model="input.length">
              <template #append>m3</template>
            </p-input>
          </p-col>
          <p-col>
            <p-input required label="Width" type="number" min="0" v-model="input.width">
              <template #append>m3</template>
            </p-input>
          </p-col>
        </p-row>
        <p-row>
          <p-col>
            <el-form label-position="top">
              <el-form-item label="Volume">
                <el-input v-model="volume" disabled type="number" min="0">
                  <template #append>
                    m3
                  </template>
                </el-input>
              </el-form-item>
            </el-form>
          </p-col>
          <p-col>
            <p-input required label="Weight" type="number" min="0" v-model="input.weight">
              <template #append>Kg</template>
            </p-input>
          </p-col>
        </p-row>
        <!-- <p-input required label="Qty / Unit" v-model="input.qtyUnitValue">
          <template #append>
            <el-select v-model="input.qtyUnitUom" placeholder="UOM" style="width:100px">
              <el-option v-for="(v,i) in options.qtyUnitUom" :key="i" :label="v.text" ="v.value">
              </el-option>
            </el-select>
          </template>
        </p-input> -->

      </p-card>
    </p-col>
    <p-col md="6">
      <p-card class="mb-5 shadow-sm">
        <p-row>
          <p-flex class="mb-3" jc="between" ai="center">
            <p-text fs5 bold class="mb-1">{{__.trans('Item Hold')}}</p-text>
          </p-flex>
          <el-form label-position="top" class="me-8">
            <el-form-item label="Auto Quarantine">
              <el-switch v-model="input.isAutoQuarantine" />
            </el-form-item>
          </el-form>
          <p-col>
            <p-input :label="__.trans('Duration')" type="number" min="0" :disabled="!input.isAutoQuarantine" v-model="input.duration">
              <template #append>{{__.trans('Days')}}</template>
            </p-input>
          </p-col>
          <p-col>
            <el-form label-position="top">
              <el-form-item label="Auto Release">
                <el-switch :disabled="!input.isAutoQuarantine" v-model="input.isAutoRelease" />
              </el-form-item>
            </el-form>
          </p-col>
        </p-row>
        <p-flex class="mb-3" jc="between" ai="center">
          <p-text fs5 bold class="mb-1">{{__.trans('Mobile Input')}}</p-text>
        </p-flex>
        <p-row>
          <p-col>
            <el-form label-position="right">
              <el-form-item :label="__.trans('Lot/Batch')">
                <el-switch v-model="input.hasBatch" />
              </el-form-item>
            </el-form>
          </p-col>
          <p-col>
            <el-form label-position="right">
              <el-form-item :label="__.trans('Expiry Date')">
                <el-switch v-model="input.hasExpiryDate" :disabled="state.hasExpiryDateDisabled" />
              </el-form-item>
            </el-form>
          </p-col>
        </p-row>
      </p-card>


      <p-card class="shadow-sm mb-5">
        <p-flex class="mb-3" jc="between" ai="center">
          <p-text fs5 bold class="mb-1">{{__.trans('Upload Photo')}}</p-text>
        </p-flex>
        <file-upload></file-upload>
      </p-card>
      <p-flex jc="between">
        <btn-back :to="{name:'itemsMasterIndex'}"></btn-back>
        <btn-submit></btn-submit>
      </p-flex>
    </p-col>

  </p-row>
</template>
<script>
  import {
    defineComponent,
    reactive,
    computed,
    watchEffect,
    onMounted
  } from 'vue';
  import FileUpload from "@/components/files/FileUpload.vue"
  import useMasterCategories from "@/composeable/useMasterCategories"
  import useMasterWarehouse from "@/composeable/useMasterWarehouse"
  import useMasterUom from "@/composeable/useMasterUom"
  import {
    pickingPeriod,
    pickingStrategy
  } from "@/core/data/Options"
  export default defineComponent({
    name: 'ItemsMasterCreate',
    components: {
      FileUpload
    },
    setup() {
      const input = reactive({
        code: '',
        name: '',
        category: 1,
        height: 0,
        length: 0,
        width: 0,
        weight: 0,
        qtyUnitValue: null,
        qtyUnitUom: null,
        hasBatch: null,
        duration: 1,
        hasExpiryDate: null,
        isAutoQuarantine: null,
        isAutoRelease: null,
        pickingStrategy: 1,
        pickingPeriod: 2,
        minReplenishQty: 0,
        minReorderQty: 0,
        warehouse: [],
      })
      const state = reactive({
        hasExpiryDateDisabled: false
      })
      const volume = computed(() => {
        return input.height * input.length * input.width
      })
      watchEffect(() => {
        if (input.pickingStrategy == 1) {
          input.hasExpiryDate = false
          state.hasExpiryDateDisabled = false
        }
        if (input.pickingStrategy == 2) {
          input.hasExpiryDate = true
          state.hasExpiryDateDisabled = true
        }
      });
      const {
        getMasterCategories,
        optionsMasterCategories
      } = useMasterCategories()
      const {
        getMasterWarehouse,
        optionsMasterWarehouse
      } = useMasterWarehouse()
      const {
        getMasterUom,
        optionsMasterUom
      } = useMasterUom()
      const options = reactive({
        pickingStrategy: pickingStrategy,
        pickingPeriod: pickingPeriod
      })
      onMounted(async () => {
        await getMasterCategories()
        await getMasterWarehouse();
        await getMasterUom();
        input.category = optionsMasterCategories.value[0].value
        input.warehouse.push(optionsMasterWarehouse.value[0].value)
      });
      return {
        input,
        options,
        volume,
        state,
        optionsMasterCategories,
        optionsMasterWarehouse,
        optionsMasterUom,

      };
    },
  })
</script>