<template>
  <router-view></router-view>
</template>
<script>
  import {
    defineComponent,
  } from 'vue';
  export default defineComponent({
    name: 'ItemsCategories',
    setup() {

      return {};
    },
  })
</script>