<template>
  <p-row class="justify-content-center">

    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New UOM')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('code')" required :placeholder="__.trans('Code for Measurement')" v-model="input.code"></p-input>
        <p-input :label="__.trans('name')" required :placeholder="__.trans('Name for Measurement')" v-model="input.name"></p-input>
        <p-flex jc="between">
          <router-link tag="button" class="btn btn-sm btn-primary btn-light-primary" :to="{name:'itemsUomIndex'}"> <i class="bi bi-chevron-left"></i>
            {{__.trans('back')}}</router-link>
          <btn-submit @click="postData"></btn-submit>
        </p-flex>
      </p-card>
    </p-col>

  </p-row>
</template>
<script>
  import axios from '@/core/services/Axios';
  import {
    defineComponent,
    reactive
  } from 'vue';

  export default defineComponent({
    name: 'UnitOfMeasurementsCreate',
    setup() {
      const input = reactive({
        code: '',
        name: '',
        is_active: 1
      })
      const postData = async () => {
        try {
          // let dataform = new URLSearchParams(input)
          let data = JSON.stringify({
            code: '',
            name: '',
            is_active: 1
          })
          // let dataFrom = new FormData()
          // dataFrom.append('data',input)
          const res = await axios({
            method: "post",
            url: "api/items/insert_uom",
            headers: {},
            data: data,
          })
          // const res = await axios.post('api/items/insert_uom', { code: 'test',
          // name: 'test',
          // is_active:1})
          data.value = res.data.results.inbound
          // console.log(data.value);
        } catch (error) {}
      }

      return {
        input,
        postData
      };
    },
  })
</script>