<template>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of UOM')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'itemsUomCreate'}"></btn-add-new>
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-file-earmark-arrow-up">
              {{__.trans('import')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-file-earmark-excel">
              {{__.trans('export')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
        <!-- <button id="moreButtonItemMaster" type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots fs-3"></i>
        </button>
        <DropdownButton labelledby="moreButtonItemMaster">
          <div class="menu-item px-5">
            <a href="#" class="menu-link px-5"> Import </a>
          </div>
          <div class="menu-item px-5">
            <a href="#" class="menu-link px-5"> Export </a>
          </div>
        </DropdownButton> -->
      </p-flex>
    </p-flex>
    <p-table :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="getData(api.getMasterUom($event.currentPage,$event.perPage))" @onCurrentChange="getData(api.getMasterUom($event.currentPage,$event.perPage))">
      <el-table-column label="Code" property="unitcode" />
      <el-table-column label="Name" property="unitname" />
      <el-table-column label="" property="action" width="120">
        <p-btn class="me-1" icon="bi-pencil-square" size="sm" bg="light" activeColor="primary">
        </p-btn>
        <p-btn class="me-1" icon="bi-trash" size="sm" bg="light" activeColor="danger">
        </p-btn>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import DropdownButton from "@/components/dropdown/DropdownButton.vue";
  import useGetData from "@/composeable/useGetData"
  import api from "@/api/master";
  export default defineComponent({
    name: 'UnitOfMeasurementsIndex',
    components: {
      SearchField,
      DropdownButton
    },
    setup() {
      const {
        isMounted,
        loading,
        table,
        getData
      } = useGetData()
      onMounted(async () => {
        await getData(api.getMasterUom(1, 10))
      });
      return {
        table,
        getData,
        isMounted,
        loading,
        api
      };
    },
  })
</script>