<template>
  <apexchart class="card-rounded-bottom" :options="chartOptions" :series="series" :height="chartHeight" type="area"></apexchart>
</template>
<script>
  import {
    defineComponent,
    ref
  } from "vue";
  import {
    getCSSVariableValue
  } from "@/assets/ts/_utils";

  export default defineComponent({
    name: "AreaChart",
    props: {
      height: {
        type: Number,
        default: 150,
      },
      fs: {
        type: String,
        default: "12px",
      },
      dataCategories: {
        type: Array,
      },
      dataName: {
        type: Array,
      },
      dataValue: {
        type: Array,
      },
      color: {
        type: String,
        default: "primary",
      },
    },
    setup(props) {
      const color = ref(props.color);

      const labelColor = getCSSVariableValue("--bs-" + "gray-800");
      const strokeColor = getCSSVariableValue("--bs-" + "gray-300");
      const baseColor = getCSSVariableValue("--bs-" + color.value);
      const lightColor = getCSSVariableValue("--bs-light-" + color.value);

      const chartOptions = {
        chart: {
          fontFamily: "inherit",
          type: "area",
          height: props.height,
          toolbar: {
            show: false,
          },
          zoom: {
            enabled: false,
          },
          sparkline: {
            enabled: true,
          },
        },
        plotOptions: {},
        legend: {
          show: false,
        },
        dataLabels: {
          enabled: false,
        },
        fill: {
          type: "solid",
          opacity: 1,
        },
        stroke: {
          curve: "smooth",
          show: true,
          width: 3,
          colors: [baseColor],
        },
        xaxis: {
          categories: props.dataCategories,
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            style: {
              colors: labelColor,
              fontSize: props.fs,
            },
          },
          crosshairs: {
            show: false,
            position: "front",
            stroke: {
              color: strokeColor,
              width: 1,
              dashArray: 3,
            },
          },
          tooltip: {
            enabled: false,
          },
        },
        yaxis: {
          min: 0,
          labels: {
            show: false,
            style: {
              colors: labelColor,
              fontSize: props.fs,
            },
          },
        },
        states: {
          normal: {
            filter: {
              type: "none",
              value: 0,
            },
          },
          hover: {
            filter: {
              type: "none",
              value: 0,
            },
          },
          active: {
            allowMultipleDataPointsSelection: false,
            filter: {
              type: "none",
              value: 0,
            },
          },
        },
        tooltip: {
          style: {
            fontSize: props.fs,
          },
          y: {
            formatter: function(val) {
              return val;
            },
          },
        },
        colors: [lightColor],
        markers: {
          colors: [lightColor],
          strokeColor: [baseColor],
          strokeWidth: 3,
        },
      };

      const series = [{
        name: props.dataName,
        data: props.dataValue,
      }, ];

      return {
        chartOptions,
        series,
      };
    },
  });
</script>