<template>
  <apexchart type="bar" :options="options" :series="series"></apexchart>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from "vue";
  import {
    getCSSVariableValue
  } from "@/assets/ts/_utils";
  export default defineComponent({
    name: "BarChart",
    props: {
      dataCategories: {
        type: Array,
      },
      dataValue: {
        type: Array,
      },
      color: {
        type: String,
        default: "primary",
      },
    },
    setup(props) {
      const labelColor = getCSSVariableValue("--bs-gray-500");
      const borderColor = getCSSVariableValue("--bs-gray-200");
      const baseColor = getCSSVariableValue("--bs-" + props.color);
      const secondaryColor = getCSSVariableValue("--bs-gray-300");

      const options = {
        chart: {
          fontFamily: "inherit",
          type: "bar",
          toolbar: {
            show: false,
          },
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: ["50%"],
            endingShape: "rounded",
          },
        },
        legend: {
          show: false,
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          show: true,
          width: 2,
          colors: ["transparent"],
        },
        xaxis: {
          categories: props.dataCategories,
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
          labels: {
            style: {
              colors: labelColor,
              fontSize: "12px",
            },
          },
        },
        yaxis: {
          labels: {
            style: {
              colors: labelColor,
              fontSize: "12px",
            },
          },
        },
        fill: {
          opacity: 1,
        },
        states: {
          normal: {
            filter: {
              type: "none",
              value: 0,
            },
          },
          hover: {
            filter: {
              type: "none",
              value: 0,
            },
          },
          active: {
            allowMultipleDataPointsSelection: false,
            filter: {
              type: "none",
              value: 0,
            },
          },
        },
        tooltip: {
          style: {
            fontSize: "12px",
          },
          y: {
            formatter: function(val) {
              return val;
            },
          },
        },
        colors: [baseColor, secondaryColor],
        grid: {
          borderColor: borderColor,
          strokeDashArray: 4,
          yaxis: {
            lines: {
              show: true,
            },
          },
        },
        responsive: [{
          breakpoint: 576,
          options: {
            chart: {
              height: 350
            },
            plotOptions: {
              bar: {
                horizontal: true,
                barHeight: ["50%"],
              },
            },
            yaxis: {
              labels: {
                style: {
                  fontSize: "12px",
                },
              },
            },
          }
        }]
      };

      const series = [{
        name: "# Job Completed",
        data: props.dataValue,
      }, ];

      return {
        options,
        series,
      };
    },
  });
</script>