<template>
  <apexchart class="mixed-widget-4-chart" :options="chartOptions" :series="series" :height="chartOptions.chart.height" type="pie"></apexchart>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from "vue";
  import {
    getCSSVariableValue
  } from "@/assets/ts/_utils";
  export default defineComponent({
    name: "PieChart",
    props: {
      height: {
        type: String || Number,
        default: "250px",
      },

      fw: {
        type: String,
        default: "700",
      },
      fs: {
        type: String,
        default: "30px",
      },
      data: {
        type: Number,
      },
      labels: {
        type: Array,
      },
      color: {
        type: Array,
        default: () => ["primary", "success", "info"],
      },
    },
    setup(props) {
      const baseColor1 = getCSSVariableValue("--bs-" + props.color[0]);
      const lightColor1 = getCSSVariableValue("--bs-light-" + props.color[0]);
      const baseColor2 = getCSSVariableValue("--bs-" + props.color[1]);
      const lightColor2 = getCSSVariableValue("--bs-light-" + props.color[1]);
      const baseColor3 = getCSSVariableValue("--bs-" + props.color[2]);
      const lightColor3 = getCSSVariableValue("--bs-light-" + props.color[2]);
      const labelColor = getCSSVariableValue("--bs-" + "dark");

      const chartOptions = {
        chart: {
          fontFamily: "inherit",
          height: props.height,
          type: "pie",
        },
        plotOptions: {
          pie: {
            dataLabels: {
              offset: -10,
            },
          },
        },
        legend: {
          position: "left",
          fontSize: "20px",
          horizontalAlign: "center",
          fontFamily: "Poppins, Arial",
        },
        colors: [baseColor1, baseColor2, baseColor3],

        labels: props.labels,
        responsive: [{
          breakpoint: 1200,
          // breakpoint: 576,
          options: {
            legend: {
              position: "bottom",
              fontSize: "12px",

            },
          }
        }]
      };
      const series = reactive(props.data);

      return {
        series,
        chartOptions,
      };
    },
  });
</script>