<template>
  <apexchart
    class="mixed-widget-4-chart"
    :options="chartOptions"
    :series="series"
    :height="chartOptions.chart.height"
    type="radialBar"
  ></apexchart>
</template>
<script>
import { defineComponent, onMounted, ref, reactive } from "vue";
import { getCSSVariableValue } from "@/assets/ts/_utils";
export default defineComponent({
  name: "RadialBarChart",
  props: {
    height: {
      type: Number,
      default: 200,
    },
    size: {
      type: String,
      default: "65%",
    },
    fw: {
      type: String,
      default: "700",
    },
    fs: {
      type: String,
      default: "30px",
    },
    data: {
      type: Number,
    },
    color: {
      type: String,
      default: "success",
    },
  },
  setup(props) {
    const baseColor = getCSSVariableValue("--bs-" + props.color);
    const lightColor = getCSSVariableValue("--bs-light-" + props.color);
    const labelColor = getCSSVariableValue("--bs-" + "gray-700");

    const chartOptions = {
      chart: {
        fontFamily: "inherit",
        height: props.height,
        type: "radialBar",
      },
      plotOptions: {
        radialBar: {
          hollow: {
            margin: 0,
            size: props.size,
          },
          dataLabels: {
            showOn: "always",
            name: {
              show: false,
              fontWeight: props.fw,
            },
            value: {
              color: labelColor,
              fontSize: props.fs,
              fontWeight: props.fw,
              offsetY: 12,
              show: true,
              formatter: function (val) {
                return val + "%";
              },
            },
          },
          track: {
            background: lightColor,
            strokeWidth: "100%",
          },
        },
      },
      colors: [baseColor],
      stroke: {
        lineCap: "round",
      },
      labels: ["Progress"],
    };
    const series = [props.data];

    return {
      series,
      chartOptions,
    };
  },
});
</script>
