<template>
  <SearchField adv_id="outbound_document_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.code" :placeholder="`Search Outbound Document No.`" @onSearch="getNewData" @onReset="onResetFilter">
    <p-row>
      <p-col lg="4">
        <p-select :label="__.trans('Destination')" v-model="filter.destination" :placeholder="__.trans('Select Document Type')" :options="optionsMasterDestination" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Document Type')" v-model="filter.type" :placeholder="__.trans('Select Document Type')" :options="optionsMasterDocumentType" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Document Status')" v-model="filter.status" :placeholder="__.trans('Select Document Status')" :options="options.documentStatus" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar ref="calendar" @onDateChange="onDateChange"></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Outbound Document')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'outboundDocumentsCreate'}"></btn-add-new>
        <span>
          <p-btn-dropdown btnSize="sm" w="w-250px">
            <template #button>
              {{__.trans('import')}}
            </template>
            <template #dropdown>
              <p-dropdown-item>
                {{__.trans('Stock Import')}}
              </p-dropdown-item>
              <p-dropdown-item>
                {{__.trans('Document List')}}
              </p-dropdown-item>
            </template>
          </p-btn-dropdown>
        </span>
      </p-flex>
    </p-flex>
    <p-table :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="pageChange($event.currentPage,$event.perPage)" @onCurrentChange="pageChange($event.currentPage,$event.perPage)">
      <el-table-column label="Outbound Document" property="code" :min-width="250">
        <template #default="scope">
          <el-link type="primary" :underline="false" @click="openDetail(scope.row.id)">
            <p-text class="mb-1">
              {{ scope.row.code }}
            </p-text>
          </el-link>
          <p-text muted fs8 class="mb-0">{{ scope.row.type }}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Destination" property="destination" :min-width="250">
        <template #default="scope">
          <p-text class="mb-1">{{ scope.row.destination }}
          </p-text>
          <!-- <p-text fs8 muted class="mb-0">
            {{__.trans('Ship Date')}} : {{scope.row.date}}
          </p-text> -->
          <!-- <p-text v-if="scope.row.shipNote" muted fs8 class="mb-0">
            {{__.trans('Ship Note')}} : {{scope.row.shipNote}}
          </p-text> -->
        </template>
      </el-table-column>
      <el-table-column label="Items" property="items" align="center" width="120" />
      <!--    <el-table-column label="Volume" property="volume" align="center" width="80" /> -->
      <el-table-column label="Date" property="date" align="center" width="120">
        <template #default="scope">
          {{__.dateFormat(scope.row.date)}}
        </template>
      </el-table-column>
      <!-- <el-table-column label="Priority" property="priority" align="center" width="120">
        <template #default="scope">
          <p-badge :variant="colorBadge(scope.row.priority)">
            {{ scope.row.priority }}
          </p-badge>
        </template>
      </el-table-column> -->
      <el-table-column label="Status" property="status" align="center" width="120">
        <template #default="scope">
          <p-badge :variant="colorBadge(scope.row.status)">
            {{ scope.row.status }}
          </p-badge>
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="80">
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-search" @click="openDetail(scope.row.id)">
              {{__.trans('Detail')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-check-lg">
              {{__.trans('close')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-pencil-square">
              {{__.trans('edit')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
              {{__.trans('delete')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    toRef,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import useMasterOutboundDocumentType from "@/composeable/useMasterOutboundDocumentType"
  import useMasterOutboundDestination from "@/composeable/useMasterOutboundDestination"
  import colorBadge from "@/composeable/useColorBadge"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  import useGetData from "@/composeable/useGetData"
  import api from "@/api/outbound";
  import useCalendarFilterHandler from "@/composeable/useCalendarFilterHandler"
  import {
    useRouter
  } from 'vue-router'
  import {
    documentStatus
  } from "@/core/data/Options"
  export default defineComponent({
    name: 'OutboundDocumentsIndex',
    components: {
      SearchField,
      Calendar
    },
    setup() {
      const router = useRouter()
      const initialState = {
        warehouse_id: '0',
        page: '1',
        offset: '10',
        code: '',
        destination: '',
        type: '',
        status: '',
        from: '',
        to: ''
      }
      const filter = reactive({
        ...initialState
      })
      const {
        calendar,
        onDateChange
      } = useCalendarFilterHandler(toRef(filter, 'from'), toRef(filter, 'to'))
      const options = reactive({
        documentStatus: documentStatus
      })
      const {
        getMasterOutboundDocumentType,
        optionsMasterDocumentType
      } = useMasterOutboundDocumentType()
      const {
        getMasterOutboundDestination,
        optionsMasterDestination
      } = useMasterOutboundDestination()
      const {
        isMounted,
        loading,
        table,
        getData
      } = useGetData()
      const getNewData = async () => {
        await getData(api.getOutboundList(filter))
      }
      const pageChange = async (currentPage, perPage) => {
        filter.page = currentPage
        filter.offset = perPage
        loading.value = true
        await getNewData()
        loading.value = false
      }
      const onResetFilter = async () => {
        Object.assign(filter, initialState)
        calendar.value.resetDate()
        await getNewData()
      }
      const openDetail = (id) => {
        router.push({
          name: 'outboundDocumentsDetail',
          params: {
            documentId: id
          }
        })
      }
      onMounted(async () => {
        await getMasterOutboundDocumentType()
        await getMasterOutboundDestination()
        await getNewData()
      });
      return {
        filter,
        options,
        table,
        optionsMasterDestination,
        optionsMasterDocumentType,
        colorBadge,
        isMounted,
        loading,
        pageChange,
        onResetFilter,
        onDateChange,
        calendar,
        getNewData,
        openDetail
      };
    },
  })
</script>