<template>

  <p-card class="shadow-sm mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Create New Outbound Document')}}</p-text>
    </p-flex>
    <p-row>
      <el-form class="col-md-6" label-position="top">
        <el-form-item :label="__.trans('Outbound Date')">
          <el-date-picker class="w-100" v-model="input.date" type="date" :label="__.trans('Pick a date')" :shortcuts=" {
    text: 'Today',
    value: new Date(),
  }" />
        </el-form-item>
      </el-form>
      <p-select class="col-md-6" :label="__.trans('Document Type')" v-model="input.type" :options="optionsMasterDocumentType">
      </p-select>
      <p-select class="col-md-6" :label="__.trans('from')" v-model="input.warehouse" :options="optionsMasterWarehouse">
      </p-select>
      <el-form class="col-md-6" label-position="top">
        <el-form-item :label="__.trans('Delivery Date')">
          <el-date-picker class="w-100" v-model="input.deliverydate" type="date" :label="__.trans('Pick a date')" :shortcuts=" {
    text: 'Today',
    value: new Date(),
  }" />
        </el-form-item>
      </el-form>
      <p-select class="col-md-6" filterable :label="__.trans('Destination')" v-model="input.destination" :options="options.destination" @optionClick="onOptionClick($event)">
      </p-select>
      <p-input class="col-md-6" :label="__.trans('Name')" :placeholder="__.trans('Name')" v-model="input.name"></p-input>
      <p-input class="col-md-6" type="textarea" :label="__.trans('Address')" :placeholder="__.trans('Address')" v-model="input.address"></p-input>

      <p-input class="col-md-6" :label="__.trans('Phone')" :placeholder="__.trans('Phone')" v-model="input.phone"></p-input>
      <p-input class="col-md-6" :label="__.trans('Shipping Group')" :placeholder="__.trans('Shipping Group')" v-model="input.address"></p-input>
      <p-select class="col-md-6" :label="__.trans('Priority')" v-model="input.priority" :options="priorities">
      </p-select>
      <p-input class="col-md-6" type="textarea" :label="__.trans('Shipping Note')" :placeholder="__.trans('Shipping Note')" v-model="input.shippingnote"></p-input>
    </p-row>
  </p-card>
  <p-card class="shadow-sm  mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List Items')}}</p-text>
      <p-btn size="sm" variant="light-primary" @click="onClickAddItem">{{__.trans('Add')}}</p-btn>
    </p-flex>
    <p-table-plain :data="input.items">
      <el-table-column label="Item Name" property="name">
        <template #default="scope">
          <p-select filterable item-class="mb-0" v-model="scope.row.name" :options="optionsMasterItem" @input="onSelectItemInput($event,scope.$index)"></p-select>
        </template>
      </el-table-column>
      <el-table-column label="Quantity" property="quantity" width="120">
        <template #default="scope">
          <el-input type="number" :min="1" v-model="scope.row.quantity"></el-input>
        </template>
      </el-table-column>
      <el-table-column label="Uom" property="uom" width="120">
        <template #default="scope">
          {{scope.row.uom}}
        </template>
      </el-table-column>
      <el-table-column label="Shelf Life" property="shelflife" width="120">
        <template #default="scope">
          <el-input type="number" :min="1" v-model="scope.row.shelflife"></el-input>
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="80">
        <template #default="scope">
          <p-btn size="sm" variant="light-danger" icon="bi-x-lg" @click="onClickRemoveItem(scope.$index)"></p-btn>
        </template>
      </el-table-column>
    </p-table-plain>
  </p-card>
  <p-flex jc="between">
    <btn-back :to="{name:'outboundDocumentsIndex'}"></btn-back>
    <btn-submit></btn-submit>
  </p-flex>
</template>
<script>
  import {
    defineComponent,
    reactive,
    onMounted
  } from 'vue';
  import useMasterItem from "@/composeable/useMasterItem"
  import useMasterWarehouse from "@/composeable/useMasterWarehouse"
  import useMasterOutboundDocumentType from "@/composeable/useMasterOutboundDocumentType"
  // import useMasterSource from "@/composeable/useMasterSource"
  import {
    priorities
  } from "@/core/data/Options";
  import api from "@/api/master"
  export default defineComponent({
    name: 'OutboundDocumentsCreate',
    setup() {
      const input = reactive({
        outbounddate: '',
        deliverydate: '',
        type: '',
        destination: '',
        remark: '',
        name: '',
        address: '',
        phone: '',
        shippinggroup: '',
        priority: '',
        shippingnote: '',
        warehouse: '',
        items: []
      })
      const options = reactive({
        destination: []
      })
      const {
        getMasterOutboundDocumentType,
        optionsMasterDocumentType
      } = useMasterOutboundDocumentType()
      // const {
      // getMasterSource,
      // optionsMasterSource
      // } = useMasterSource()
      const {
        getMasterItem,
        optionsMasterItem
      } = useMasterItem()
      const {
        getMasterWarehouse,
        optionsMasterWarehouse
      } = useMasterWarehouse()
      const onClickAddItem = () => {
        input.items.push({
          name: '',
          quantity: 1,
          uom: '',
          shelflife: 0
        })
      }
      const onClickRemoveItem = (index) => {
        input.items.splice(index, 1)
      }
      const onSelectItemInput = (val, index) => {
        let uom = optionsMasterItem.value.find((item) => item.value == val).uom
        input.items[index].uom = uom
        console.log(uom);
      }
      const getMasterSources = async () => {
        try {


          const res = await api.getMasterSources(null, null)
          options.destination = res.data.results.map((item) => ({
            ...item,
            value: item.sourceid,
            text: `${item.sourcename} (${item.sourcecity})`
          }))
        } catch (error) {

        }
      }
      const onOptionClick = (val) => {
        console.log(val);
        input.name = val.sourcename
        input.address = val.sourceaddress
        input.phone = val.sourcephone
      }
      onMounted(async () => {
        await getMasterOutboundDocumentType()
        await getMasterSources()
        await getMasterWarehouse()
        await getMasterItem()
      });

      return {
        input,
        optionsMasterDocumentType,
        optionsMasterWarehouse,
        optionsMasterItem,
        onClickAddItem,
        onClickRemoveItem,
        onSelectItemInput,
        priorities,
        options,
        onOptionClick

      };
    },
  })
</script>