<template>
  <router-view></router-view>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'OutboundDocuments',
    setup() {
      onMounted(() => {});
      return {};
    },
  })
</script>