<template>
  <SearchField adv_id="picking_jobs_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.outbounddDocument" :placeholder="`Search Picking Document`">
    <p-row>
      <p-col lg="4">
        <p-input :label="__.trans('Outbound Document')" v-model="filter.outbounddDocument" :placeholder="__.trans('Search Outbound Document')">
        </p-input>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Document Status')" v-model="filter.status" :placeholder="__.trans('Select Document Status')" :options="options.documentPickingStatus" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>


  <p-loader :isLoading="false" />
  <p-row class="mb-3">
    <p-col lg="3">
      <SummaryCard title="Today's Picking" value="200" subtitle="Items" icon="bi-archive" variant="bg-primary" />
    </p-col>
    <p-col lg="3">
      <SummaryCard title="Ready for Pick" value="100" subtitle="Items" icon="bi-clipboard-check" variant="bg-success" />
    </p-col>
    <p-col lg="3">
      <SummaryCard title="Ready for Loading" value="20" subtitle="Items" icon="bi-cart-check" variant="bg-info" />
    </p-col>
    <p-col lg="3">
      <SummaryCard title="Avg Pick to Load" value="50" subtitle="Time / Item" icon="bi-clock-history" variant="bg-warning" />
    </p-col>
  </p-row>
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Picking')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'outboundPickingJobsCreate'}"></btn-add-new>
      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Picking No." property="pickingDocument" width="180">
        <template #default="scope">
          {{ scope.row.pickingDocument }}
          <p-text muted fs8 class="mb-0">
            {{__.trans('date')}} : {{scope.row.pickingDate}}
          </p-text>
          <p-text v-if="scope.row.remark" fs8 muted class="mb-0">
            {{__.trans('remark')}} : {{scope.row.remark}}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Document No." property="outboundDocument" width="180" />
      <el-table-column label="Destination" property="destination">
        <template #default="scope">
          <p-text class="mb-1">{{ scope.row.destination }}
          </p-text>

        </template>
      </el-table-column>
      <el-table-column label="Status" property="status" width="200">
        <template #default="scope">
          <p-text class="mb-1">{{ scope.row.status }}
          </p-text>
          <p-text v-if="scope.row.start" fs8 muted class="mb-0">
            {{__.trans('Start')}} : {{scope.row.start}}
          </p-text>
          <p-text v-if="scope.row.finish" fs8 muted class="mb-0">
            {{__.trans('Finish')}} : {{scope.row.finish}}
          </p-text>
          <p-badge class="mt-3" :variant="colorBadge(scope.row.priority)">
            {{ scope.row.priority }}
          </p-badge>
        </template>
      </el-table-column>
      <el-table-column label="Admin" property="admin" width="80" />
      <el-table-column label="" property="action" width="80">
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-printer">
              {{__.trans('print')}} Picking List
            </p-dropdown-item>
            <p-dropdown-item icon="bi-pencil-square">
              {{__.trans('edit')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
              {{__.trans('delete')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import useMasterSource from "@/composeable/useMasterSource"
  import colorBadge from "@/composeable/useColorBadge"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  import SummaryCard from "@/widgets/generals/SummaryCard.vue"
  import {
    documentPickingStatus
  } from "@/core/data/Options"
  export default defineComponent({
    name: 'OutboundPickingJobsIndex',
    components: {
      SearchField,
      Calendar,
      SummaryCard
    },
    setup() {
      const filter = reactive({
        inboundDocument: '',
        receivingDocument: '',
        date: '',
        status: ''
      })
      const options = reactive({
        documentPickingStatus: documentPickingStatus
      })
      const table = reactive({
        total: 10,
        data: [{
            pickingDocument: 'PL-22030785067102',
            outboundDocument: 'SO-20220301366068',
            pickingDate: '11-Mar-22 12:30',
            destination: 'PT BUMI TANI NUSANTARA',
            remark: 'test remark',
            start: '11-Mar-22 15:30',
            finish: '11-Mar-22 19:30',
            priority: 'NORMAL',
            status: 'Loading Complete',
            admin: 'Hasna',
          },
          {
            pickingDocument: 'PL-22030285047051',
            outboundDocument: 'SO-20220301366172',
            pickingDate: '11-Mar-22 12:30',
            destination: 'EVERBRIGHT PEKAN BARU',
            remark: '',
            start: '11-Mar-22 15:30',
            finish: '11-Mar-22 19:30',
            priority: 'NORMAL',
            status: 'Waiting For Picking',
            admin: 'Hasna',
          },
        ]
      })



      onMounted(async () => {
        // await getMasterSource()
      });
      return {
        filter,
        options,
        table,
        colorBadge
      };
    },
  })
</script>