<template>

  <p-card class="shadow-sm mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Create New Loading')}}</p-text>
    </p-flex>
    <p-row>
      <p-col md="6">

        <el-form label-position="top">
          <el-form-item :label="__.trans('Loading Date')">
            <el-date-picker class="w-100" v-model="input.date" type="date" :label="__.trans('Pick a date')" :shortcuts=" {
    text: 'Today',
    value: new Date(),
  }" />
          </el-form-item>
        </el-form>
        <el-form label-position="top">
          <el-form-item :label="__.trans('Driver')">
            <p-input class="w-100" v-model="input.driver">
            </p-input>
          </el-form-item>
        </el-form>
        <el-form label-position="top">
          <el-form-item :label="__.trans('Plate Number')">
            <p-input class="w-100" v-model="input.plateNumber">
            </p-input>
          </el-form-item>
        </el-form>
        <el-form label-position="top">
          <el-form-item :label="__.trans('Picking Number')">
            <p-select filterable class="w-100" @optionClick="onClickPickingNumberOption" v-model="input.pickingNumber" :options="options.pickingData">
            </p-select>
          </el-form-item>
        </el-form>
      </p-col>

    </p-row>
  </p-card>
  <p-card class="shadow-sm mb-3">
    <transition name="slide-fade" mode="out-in">
      <div>
        <p-flex jc="start" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('List Items')}}</p-text>
          <!-- <p-btn size="sm" variant="light-primary" @click="onClickAddItem">{{__.trans('Add')}}</p-btn> -->
        </p-flex>

        <p-table-plain :data="input.items">
          <el-table-column label="Item Code" property="code" width="100">
            <template #default="scope">
              {{scope.row.code}}
            </template>
          </el-table-column>
          <el-table-column label="Item Name" property="item">
            <template #default="scope">
              {{scope.row.name}}
            </template>
          </el-table-column>
          <el-table-column label="Scanned Qty " property="qty" width="150" align="center">
            <template #default="scope">
              {{scope.row.qty}}
            </template>
          </el-table-column>
        </p-table-plain>


      </div>

    </transition>
  </p-card>
  <p-flex jc="between">
    <router-link tag="button" class="btn btn-sm btn-primary btn-light-primary shadow-sm" :to="{name:'outboundLoadingJobsIndex'}"> <i class="bi bi-chevron-left"></i>
      {{__.trans('back')}}</router-link>
    <btn-back :to="{name:'managementRolesIndex'}"></btn-back>
    <btn-submit></btn-submit>
  </p-flex>
</template>
<script>
  import {
    defineComponent,
    reactive,
    onMounted
  } from 'vue';
  import useOutboundDocument from "@/composeable/useOutboundDocument"
  export default defineComponent({
    name: 'OutboundLoadingJobsCreate',
    setup() {
      const data = reactive({
        searchOutboundDocument: '',
        items: [{
          code: 861912,
          name: 'ABC MCKRLEP EOE DW PNG425G1809',
          qty: 66,
        }, ]
      })
      const input = reactive({
        date: '',
        driver: '',
        plateNumber: '',
        pickingNumber: null,
        items: []
      })
      const options = reactive({
        pickingData: [{
            value: 1,
            text: 'PL-22030785067102 - PT BUMI TANI NUSANTARA (SO-20220301366068)'
          },
          {
            value: 2,
            text: 'PL-22030285047051 - EVERBRIGHT PEKAN BARU (SO-20220301366172)'
          },
        ]
      })


      const onClickRemoveItem = (index) => {
        input.items.splice(index, 1)
      }
      const onClickPickingNumberOption = async () => {
        // input.items.length = 0
        // input.items.push(data.items)
        Object.assign(input.items, data.items)
      }

      onMounted(async () => {

      });

      return {
        data,
        input,
        onClickPickingNumberOption,
        options,
      };
    },
  })
</script>