<template>
  <SearchField adv_id="loading_jobs_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.loadingDocument" :placeholder="`Search Loading Document`">
    <p-row>
      <p-col lg="4">
        <p-input :label="__.trans('Picking Document')" v-model="filter.pickingDocument" :placeholder="__.trans('Search Picking Document')">
        </p-input>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Document Status')" v-model="filter.status" :placeholder="__.trans('Select Document Status')" :options="options.documentLoadingStatus" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>


  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Loading')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'outboundLoadingJobsCreate'}"></btn-add-new>

      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Loading No." property="loadingDocument" width="200" />
      <el-table-column label="Picking No." property="pickingDocument" width="200" />
      <el-table-column label="Customer" property="customerName">
        <template #default="scope">
          <p-text class="mb-1">{{ scope.row.customerName }}
          </p-text>
          <!-- <p-text v-if="scope.row.inboundSource" fs8 class="mb-0">
            {{__.trans('source')}} : {{scope.row.inboundSource}}
          </p-text> -->
          <!-- <p-text fs8 muted class="mb-0">
            {{__.trans('Receiving No.')}} : {{scope.row.receivingDocument}}
          </p-text> -->
          <p-flex>

            <p-text muted fs8 class="mb-0">
              {{__.trans('driver')}} : {{scope.row.driverName}} ({{scope.row.plateNumber}})
            </p-text>

          </p-flex>
          <p-text v-if="scope.row.loadingDate" fs8 muted class="mb-0">
            {{__.trans('date')}} : {{scope.row.loadingDate}}
          </p-text>
        </template>
      </el-table-column>
      <!-- <el-table-column label="Priority" property="priority" align="center" width="120">
        <template #default="scope">
          <p-badge :variant="colorBadge(scope.row.priority)">
            {{ scope.row.priority }}
          </p-badge>
        </template>
      </el-table-column> -->
      <el-table-column label="Status" property="status" width="200">
        <template #default="scope">
          <p-badge class="mb-1" :variant="colorBadge(scope.row.status)">
            {{ scope.row.status }}
          </p-badge>
          <p-text v-if="scope.row.start" fs8 muted class="mb-0">
            {{__.trans('Start')}} : {{scope.row.start}}
          </p-text>
          <p-text v-if="scope.row.finish" fs8 muted class="mb-0">
            {{__.trans('Finish')}} : {{scope.row.finish}}
          </p-text>
          <p-badge class="mt-3" :variant="colorBadge(scope.row.priority)">
            {{ scope.row.priority }}
          </p-badge>
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="80">
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-printer">
              {{__.trans('print')}} Manifest
            </p-dropdown-item>
            <p-dropdown-item icon="bi-printer">
              {{__.trans('print')}} Surat Jalan
            </p-dropdown-item>
            <p-dropdown-item icon="bi-printer">
              {{__.trans('print')}} License Plate
            </p-dropdown-item>
            <p-dropdown-item icon="bi-pencil-square">
              {{__.trans('edit')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
              {{__.trans('delete')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-danger" icon="bi-x-lg text-danger">
              {{__.trans('Cancel')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import useMasterSource from "@/composeable/useMasterSource"
  import colorBadge from "@/composeable/useColorBadge"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  import SummaryCard from "@/widgets/generals/SummaryCard.vue"
  import {
    documentLoadingStatus
  } from "@/core/data/Options"
  export default defineComponent({
    name: 'OutboundLoadingJobsIndex',
    components: {
      SearchField,
      Calendar,
      SummaryCard
    },
    setup() {
      const filter = reactive({
        loadingDocument: '',
        pickingDocument: '',
        date: '',
        status: ''
      })
      const options = reactive({
        documentLoadingStatus: documentLoadingStatus
      })
      const table = reactive({
        total: 10,
        data: [{
            pickingDocument: 'PL-22030785067102',
            loadingDocument: 'SJ-CL-202203117TU4',
            loadingDate: '11-Mar-22',
            customerName: 'PT BUMI TANI NUSANTARA',
            driverName: 'DC Driver',
            plateNumber: 'B 123 ABC',
            start: '11-Mar-22 15:30',
            finish: '11-Mar-22 19:30',
            status: 'Close'
          },
          {
            pickingDocument: 'SJ-CL-198220220307Y17',
            loadingDocument: 'SJ-CL-202203117TU4',
            loadingDate: '11-Mar-22',
            customerName: 'PD TEGUH NUGRAHA',
            driverName: 'DC Driver',
            plateNumber: 'B 123 ABC',
            start: '11-Mar-22 15:30',
            finish: '',
            status: 'In Progress'
          }

        ]
      })



      onMounted(async () => {
        // await getMasterSource()
      });
      return {
        filter,
        options,
        table,
        colorBadge
      };
    },
  })
</script>