<template>

  <p-card class="shadow-sm mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Create New Picking List')}}</p-text>
    </p-flex>
    <p-row>
      <p-col md="6">

        <el-form label-position="top">
          <el-form-item :label="__.trans('Picking Date')">
            <el-date-picker class="w-100" v-model="input.date" type="date" :label="__.trans('Pick a date')" :shortcuts=" {
    text: 'Today',
    value: new Date(),
  }" />
          </el-form-item>
        </el-form>
        <el-form label-position="top">
          <el-form-item :label="__.trans('Gate/Outbound Staging')">
            <p-select filterable class="w-100" v-model="input.gate" :options="options.gates">
            </p-select>
          </el-form-item>
        </el-form>
        <el-form label-position="top">
          <el-form-item :label="__.trans('Outbound Doc #')">
            <p-select filterable multiple class="w-100" @optionClick="onClickOutboundDocumentOption" @onRemoveTag="removeOutboundDocumentOption($event)" v-model="input.OutboundDocument" :options="optionsOutboundDocument">
            </p-select>
          </el-form-item>
        </el-form>
      </p-col>

    </p-row>
  </p-card>
  <p-card class="shadow-sm mb-3">
    <transition name="slide-fade" mode="out-in">
      <div :key="state.detailMode">
        <p-flex jc="start" ai="center">
          <p-text v-if="state.detailMode == false" fs3 bolder class="mb-1">{{__.trans('List Items')}}</p-text>
          <p-text v-else fs3 bolder class="mb-1">{{__.trans('Detail Items')}}</p-text>
          <!-- <p-btn size="sm" variant="light-primary" @click="onClickAddItem">{{__.trans('Add')}}</p-btn> -->
        </p-flex>

        <p-table-plain v-if="state.detailMode == false" :data="input.items">
          <el-table-column label="Item Code" property="code" width="100">
            <template #default="scope">
              {{scope.row.code}}
            </template>
          </el-table-column>
          <el-table-column label="Item Name" property="item">
            <template #default="scope">
              {{scope.row.name}}
            </template>
          </el-table-column>
          <el-table-column label="Qty " property="qty" width="100" align="center">
            <template #default="scope">
              {{scope.row.qty}}
            </template>
          </el-table-column>
          <el-table-column label="Picked" property="picked" width="100" align="center">
            <template #default="scope">
              {{scope.row.picked}}
            </template>
          </el-table-column>
          <el-table-column label="Remaining" property="picked" width="100" align="center">
            <template #default="scope">
              {{scope.row.qty - scope.row.picked}}
            </template>
          </el-table-column>
          <el-table-column label="" property="action" width="120">
            <p-btn @click="state.detailMode = true" size="sm" variant="color-primary" class="btn-active-primary">
              {{__.trans('Detail')}}
            </p-btn>
          </el-table-column>
        </p-table-plain>
        <p-table-plain v-if="state.detailMode == true" :data="data.detailTable">
          <el-table-column label="Serial Number" property="serialNumber" min-width="150">
            <template #default="scope">
              <div>
                {{scope.row.serialNumber}}
              </div>
              <div>
                <p-text muted fs8 class="mb-0">
                  <i class="bi bi-alarm"></i> {{__.trans('Exp Date')}} : {{scope.row.expDate}} ({{__.trans('Exp in') }} : {{scope.row.shelfLife}} )
                </p-text>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="Location " property="location" width="150" align="center">
            <template #default="scope">
              {{scope.row.location}} (lot: {{scope.row.lot}})
            </template>
          </el-table-column>
          <el-table-column label="Available " property="availableQuantity" width="150" align="center">
            <template #default="scope">
              {{scope.row.availableQuantity}}
            </template>
          </el-table-column>
          <el-table-column label="Picked " property="pickedQuantity" align="center">
            <template #default="scope">
              <el-input-number v-model="scope.row.pickedQuantity" :min="1" :max="scope.row.availableQuantity" />
              <el-button-group>
                <el-button class="me-2" type="text" size="small" @click="scope.row.pickedQuantity =1">Min</el-button>
                <el-button class="ms-2" type="text" size="small" @click="scope.row.pickedQuantity =scope.row.availableQuantity">Max
                </el-button>
              </el-button-group>
            </template>
          </el-table-column>
        </p-table-plain>
        <p-flex v-if="state.detailMode == true" jc="end" class="row">
          <p-col lg="4" sm="6" cols="9">
            <p-row class="text-end">
              <p-col cols="6">
                {{__.trans('Quantity')}} :
              </p-col>
              <p-col cols="6">
                123
              </p-col>
              <p-col cols="6">
                {{__.trans('Previous Picked')}} :
              </p-col>
              <p-col cols="6">
                123
              </p-col>
              <p-col cols="6">
                {{__.trans('Remaining Qty')}} :
              </p-col>
              <p-col cols="6">
                123
              </p-col>
              <p-col cols="6">
                {{__.trans('Total Pick')}} :
              </p-col>
              <p-col cols="6">
                123
              </p-col>
            </p-row>
          </p-col>
        </p-flex>
        <div class="w-100 text-end" v-if="state.detailMode == true">
          <p-btn size="sm" variant="color-primary" class="btn-active-primary" @click="state.detailMode = false">{{__.trans('Ok')}}</p-btn>
        </div>
      </div>

    </transition>
  </p-card>
  <p-flex jc="between">
    <btn-back :to="{name:'outboundPickingJobsIndex'}"></btn-back>
    <btn-submit></btn-submit>
  </p-flex>
</template>
<script>
  import {
    defineComponent,
    reactive,
    onMounted
  } from 'vue';
  import useOutboundDocument from "@/composeable/useOutboundDocument"
  export default defineComponent({
    name: 'OutboundPickingJobsCreate',
    setup() {
      const data = reactive({
        searchOutboundDocument: '',
        detailTable: [{
            serialNumber: 'ABC-123-123',
            expDate: '12-Mar-22',
            shelfLife: 'Was Expired',
            lot: 123,
            location: 'A0032',
            availableQuantity: 180,
            pickedQuantity: 0
          },
          {
            serialNumber: 'ABC-123-245',
            expDate: '12-Mar-23',
            shelfLife: 123,
            lot: 123,
            location: 'A0032',
            availableQuantity: 280,
            pickedQuantity: 0
          }
        ]
      })
      const state = reactive({
        detailMode: false,
      })
      const input = reactive({
        date: '',
        gate: '',
        outboundDocument: '',
        items: []
      })
      const options = reactive({
        gates: [{
            value: 'Any',
            text: 'Any'
          },
          {
            value: 'Gate1',
            text: 'Gate2'
          },
        ]
      })
      const {
        getOutboundDocument,
        getOutboundDocumentItem,
        dataOutboundDocumentItem,
        optionsOutboundDocument
      } = useOutboundDocument()

      const onClickRemoveItem = (index) => {
        input.items.splice(index, 1)
      }
      const onClickOutboundDocumentOption = async (data) => {
        let isExistByIndex = input.items.findIndex(item => item.id == data.value)
        if (isExistByIndex >= 0) {
          removeOutboundDocumentOption(data.value)
          return
        }
        await getOutboundDocumentItem(data.value)
        let mutatedItems = dataOutboundDocumentItem.value.items.map((item) => ({
          ...item,
          id: dataOutboundDocumentItem.value.detail[0].id
        }))
        mutatedItems.map(item => input.items.push(item))
      }
      const removeOutboundDocumentOption = (id) => {
        const newData = input.items.filter(item => item.id != id)
        input.items = newData
      }
      const searchOutboundDocument = async (query) => {
        console.log(query);
        let params = {
          code: query
        }
        await getOutboundDocument(params)
      }
      onMounted(async () => {

        await getOutboundDocument()
      });

      return {
        data,
        input,
        optionsOutboundDocument,
        searchOutboundDocument,
        onClickRemoveItem,
        onClickOutboundDocumentOption,
        removeOutboundDocumentOption,
        dataOutboundDocumentItem,
        options,
        state
      };
    },
  })
</script>