<template>
  <p-loader :isLoading="!isMounted" />

  <DocumentInfoArea v-if="isMounted" :barcode="data.detail[0].code" :status="data.detail[0].status">
    <template #title>
      {{__.trans('Outbound Document #')}}
    </template>
    <template #detail>
      <p-text fs1 bolder>{{data.detail[0].destination_name}}</p-text>
      <div>
        <DetailItem :title="__.trans('code')"></DetailItem>
        <DetailItem :title="__.trans('address')" :value="data.detail[0].destination_address"></DetailItem>
        <DetailItem :title="__.trans('city')" :value="data.detail[0].destination_city"></DetailItem>
        <DetailItem :title="__.trans('phone')" :value="data.detail[0].destination_phone"></DetailItem>
        <DetailItem :title="__.trans('CP')" :value="data.detail[0].destination_contact_person"></DetailItem>
      </div>
    </template>

    <template #info>
      <InfoItem class="me-3" :title="__.trans('Date')" :value="__.dateFormat(data.detail[0].date)"></InfoItem>
      <InfoItem class="me-3" :title="__.trans('Document Type')" :value="data.detail[0].type"></InfoItem>
      <InfoItem :title="__.trans('Created By')" :value="data.detail[0].created_by"></InfoItem>
    </template>
  </DocumentInfoArea>
  <p-card :show="isMounted" class="mb-3 shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Ordered Items')}}</p-text>
      <p-btn size="sm" variant="color-primary" class=" btn-active-light-primary">
        {{__.trans('Export')}}
      </p-btn>
    </p-flex>
    <p-table :isLoading="loading" :data="data.items" :total="data.items.length" @onPerPageChange="pageChange($event.currentPage,$event.perPage)" @onCurrentChange="pageChange($event.currentPage,$event.perPage)">
      <el-table-column label="Code" property="code" width="100" />
      <el-table-column label="Item Name" property="name" :min-width="300" />
      <el-table-column label="Ordered" property="qty" align="center" width="100" />
      <el-table-column label="Picked" property="picked" align="center" width="100" />
    </p-table>
  </p-card>
  <!-- <p-card :show="isMounted" class="mb-3 shadow-sm">
    <p-flex jc="start" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Receiving')}}</p-text>
    </p-flex>
    <p-table :isLoading="loading" :data="data.tally" :total="data.tally.length" @onPerPageChange="pageChange($event.currentPage,$event.perPage)" @onCurrentChange="pageChange($event.currentPage,$event.perPage)">
      <el-table-column label="Receiving No." property="code" />
      <el-table-column label="Transporter" property="transporter" width="120" />
      <el-table-column label="Tally" property="tally_start_time" width="200">
        <template #default="scope">
          <p-text v-if="scope.row.tally_start_time" fs8 muted class="mb-0">
            {{__.trans('Start')}} :
            {{__.dateFormat(scope.row.tally_start_time, 'DD-MMM-YY hh:mm')}}
          </p-text>
          <p-text v-if="scope.row.tally_finish_time" fs8 muted class="mb-0">
            {{__.trans('Finish')}} :
            {{__.dateFormat(scope.row.tally_finish_time, 'DD-MMM-YY hh:mm')}}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Putaway" property="putaway_start_time" width="200">
        <template #default="scope">
          <p-text v-if="scope.row.putaway_start_time" fs8 muted class="mb-0">
            {{__.trans('Start')}} : {{__.dateFormat(scope.row.putaway_start_time, 'DD-MMM-YY hh:mm')}}
          </p-text>
          <p-text v-if="scope.row.putaway_finish_time" fs8 muted class="mb-0">
            {{__.trans('Finish')}} :{{__.dateFormat(scope.row.putaway_finish_time, 'DD-MMM-YY hh:mm')}}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Remark" property="remark" />
    </p-table>
  </p-card> -->
  <p-flex>
    <router-link tag="button" class="btn btn-sm btn-primary btn-light-primary shadow-sm" :to="{name:'outboundDocumentsIndex'}"> <i class="bi bi-chevron-left"></i>
      {{__.trans('back')}}</router-link>
  </p-flex>
</template>
<script>
  import {
    defineComponent,
    reactive,
    onMounted,
    ref,
    toRef
  } from 'vue';
  import api from "@/api/outbound";
  import {
    useRouter,
    useRoute
  } from 'vue-router'
  import useGetData from "@/composeable/useGetData"
  import DocumentInfoArea from "@/widgets/detail/DocumentInfoArea.vue"
  import DocumentInfoAreaDetailItem from "@/widgets/detail/DocumentInfoAreaDetailItem.vue"
  import DocumentInfoAreaInfoItem from "@/widgets/detail/DocumentInfoAreaInfoItem.vue"
  export default defineComponent({
    name: 'InboundDocumentsDetail',
    components: {
      DocumentInfoArea,
      'DetailItem': DocumentInfoAreaDetailItem,
      'InfoItem': DocumentInfoAreaInfoItem
    },
    setup() {
      const route = useRoute()
      const data = ref({})
      const initialState = {
        warehouse_id: '0',
        page: '1',
        offset: '10',
      }
      const filter = reactive({
        ...initialState
      })
      const {
        isMounted,
        loading,
        getDataV2
      } = useGetData()
      const pageChange = async (currentPage, perPage) => {
        filter.page = currentPage
        filter.offset = perPage
        loading.value = true
        await getNewData()
        loading.value = false
      }
      onMounted(async () => {
        await getDataV2(api.getOutboundDetail({
          id: route.params.documentId
        }), data.value)
      });

      return {
        isMounted,
        loading,
        data,
        pageChange
      };
    },
  })
</script>