<template>
  <p-flex>
    <div style="width:100px">{{title}}</div>
    <div>: {{ value?value:''}}</div>
  </p-flex>
</template>
<script>
  import {
    defineComponent
  } from 'vue';
  export default defineComponent({
    name: 'DocumentInfoAreaDetailItem',

    props: {
      title: {
        type: String || Number,
      },
      value: {
        type: String || Number,
      },
    },
  })
</script>