<template>
  <p-card class="shadow-sm mb-3">
    <slot name="header"></slot>

    <p-flex lg class="py-5" jc="between" ai="center">
      <p-flex lg>
        <p-flex column jc="center" ai="center" class=" text-center me-lg-5">
          <div>
            <slot name="title"></slot>
          </div>
          <!-- <QRCodeVue3 :value="barcode" :width="100" :height="100" :qrOptions="{ typeNumber: 0, mode: 'Byte', errorCorrectionLevel: 'H' }" :imageOptions="{ hideBackgroundDots: true, imageSize: 0.4, margin: 0 }" :dotsOptions="{
            type: 'square',
            color: '#000000',
            gradient: {
              type: 'linear',
              rotation: 0,
              colorStops: [
                { offset: 0, color: '#000000' },
                { offset: 1, color: '#000000' },
              ],
            },
          }" :backgroundOptions="{ color: '#ffffff' }" :cornersSquareOptions="{ type: 'dot', color: '#000000' }" :cornersDotOptions="{ type: undefined, color: '#000000' }" fileExt="png" :download="false" myclass="my-qur" imgclass="img-qr" downloadButton="my-button" :downloadOptions="{ name: 'vqr', extension: 'png' }" /> -->
          <barcode v-if="!noBarcode" :id="idBarcode" :key="idBarcode" :value="barcode" :width="1" :height="50" :fontSize="15"></barcode>
        </p-flex>
        <div class="ms-5">
          <slot name="detail"></slot>
        </div>
      </p-flex>
      <div class="text-end">
        <p-badge outline :variant="colorBadge(status)" class="border-5">
          <p-text class="mb-0  display-5 text-uppercase">
            {{status}}
          </p-text>
        </p-badge>
      </div>
    </p-flex>
    <p-flex jc="end" ai="center">
      <p-flex ai="center">
        <slot name="info"></slot>
      </p-flex>
    </p-flex>
  </p-card>
</template>
<script>
  import {
    defineComponent
  } from 'vue';
  import Vue3Barcode from 'vue3-barcode'
  import colorBadge from "@/composeable/useColorBadge"
  // import QRCodeVue3 from "qrcode-vue3";
  export default defineComponent({
    name: 'DocumentInfoArea',
    components: {
      'barcode': Vue3Barcode,
      // QRCodeVue3
    },
    props: {

      idBarcode: {
        type: String,
        default: null
      },
      noBarcode: {
        type: Boolean,
        default: false
      },
      barcode: {
        type: String,
        default: '0'
      },
      status: {
        type: String,
        default: ''
      },
    },
    setup() {
      return {
        colorBadge
      }
    }
  })
</script>