<template>
  <p-flex sm>
    <p-text fs8 muted class="mb-0 me-2">{{title}} :</p-text>
    <p-text fs8 class="mb-0 ">
      {{value}}
    </p-text>
  </p-flex>
</template>
<script>
  import {
    defineComponent
  } from 'vue';
  export default defineComponent({
    name: 'DocumentInfoAreaInfoItem',
    props: {
      title: {
        type: String || Number,
      },
      value: {
        type: String || Number,
      },
    },
  })
</script>