<template>
  <el-upload ref="upload" accept=".png,.jpeg,.jpg" action="#" list-type="picture-card" :auto-upload="false">
    <template #default>
      <el-icon>
        <plus />
      </el-icon>
    </template>
    <template #file="{ file }">
      <div>
        <img class="el-upload-list__item-thumbnail" @load="handleLoad(file)" :src="file.url" alt="" />
        <span class="el-upload-list__item-actions">
          <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
            <el-icon>
              <zoom-in />
            </el-icon>
          </span>
          <!--    <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleDownload(file)">
            <el-icon>
              <download />
            </el-icon>
          </span> -->
          <span v-if="!disabled" class="el-upload-list__item-delete" @click="handleRemove(file)">
            <el-icon>
              <delete />
            </el-icon>
          </span>
        </span>
      </div>
    </template>
    <template #tip>
      <div class="el-upload__tip">
        jpg/png files with a size less than 512kb
      </div>
    </template>
  </el-upload>
  <el-dialog v-model="dialogVisible">
    <img class="w-100" :src="dialogImageUrl" alt="" />
  </el-dialog>
</template>
<script lang="ts" setup>
  import {
    ref
  } from 'vue'
  import {
    Plus,
    ZoomIn,
    Download,
    Delete
  } from '@element-plus/icons-vue'
  import type {
    UploadFile
  }
  from 'element-plus'

  const dialogImageUrl = ref('')
  const dialogVisible = ref(false)
  const disabled = ref(false)
  const upload = ref()
  const handleLoad = (file) => {
    console.log(file.size / 1024);
    if ((file.size / 1024) > 512) {
      upload.value.handleRemove(file)
    }
  }
  const handleRemove = (file: UploadFile) => {
    // console.log(file);
    console.log(file);
    upload.value.handleRemove(file)
  }
  const handlePictureCardPreview = (file: UploadFile) => {
    dialogImageUrl.value = file.url!
      dialogVisible.value = true
  }
  const handleDownload = (file: UploadFile) => {
    console.log(file)
  }
</script>