<template>
  <p-card class="shadow-sm" bodyClass="p-0">
    <div :class="[`bg-${variant} text-white rounded-top text-center py-2 `]">
      <p-text fs8 bold class="mb-0 ">{{title}}</p-text>
    </div>
    <p-flex jc="end">
      <div class="px-2">
        <p-text bold fs3 class="my-2  text-end">{{value}}</p-text>
      </div>
    </p-flex>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'ActiveInventorySummaryCard',
    props: {
      title: {
        type: String,
        default: '',
      },
      value: {
        type: String,
        default: '',
      },
      variant: {
        type: String,
        default: '',
      },
    },
    setup() {
      onMounted(() => {});
      return {};
    },
  })
</script>