<template>
  <p-card class="shadow-sm">
    <p-text bold class="mb-2 border-bottom">{{title}}</p-text>
    <p-flex jc="between">
      <p-flex jc="end" ai="center">
        <div class="symbol shadow-sm  ">
          <span :class="`${variant} symbol-label`">
            <i :class="`bi ${icon} fs-1 ${iconColor}`"></i>
          </span>
        </div>
      </p-flex>
      <div>
        <p-text bold fs1 class="mb-2 text-end">{{value}}</p-text>
        <p-text muted class="mb-0 text-end">{{subtitle}}</p-text>
      </div>
    </p-flex>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'ExpiredItemSummaryCard',
    props: {
      title: {
        type: String,
      },
      subtitle: {
        type: String,
      },
      value: {
        type: String || Number,
      },
      variant: {
        type: String,
      },
      icon: {
        type: String,
      },
      iconColor: {
        type: String,
        default: 'text-light'
      },
    },
    setup() {
      onMounted(() => {});
      return {};
    },
  })
</script>