<template>
  <p-card>
    <p-flex ai="center">
      <!--begin::Input group-->
      <div class="position-relative w-md-400px me-md-2">
        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
        <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
          </svg>
        </span>
        <!--end::Svg Icon-->
        <input type="text" class="form-control form-control-solid ps-10" :placeholder="placeholder" v-model="newValue" />
        <!-- <input type="text" class="form-control form-control-solid ps-10" placeholder="Search" v-model="newValue" @input="$emit('update:modelValue', $event.target.value)" /> -->
      </div>
      <p-flex ai="center">
        <!-- <button type="submit" class="btn btn-primary me-5">Search</button> -->
        <button type="button" class="btn btn-primary me-5 shadow-sm" @click="onSearch">
          Search
        </button>
        <!-- <button v-if="$slots.default" id="kt_horizontal_search_advanced_link" type="button" class="btn btn-primary me-5 shadow-sm" data-bs-toggle="collapse" :data-bs-target="`#${adv_id}`" aria-expanded="false" aria-controls="collapseExample">
          Advanced Filter
        </button> -->
        <!-- <button type="button" class="btn btn-link" @click="onReset">
          Reset
        </button> -->
        <button v-if="$slots.default" id="kt_horizontal_search_advanced_link" type="button" class="btn btn-link" data-bs-toggle="collapse" :data-bs-target="`#${adv_id}`" aria-expanded="false" aria-controls="collapseExample">
          Advanced Search
        </button>
      </p-flex>
    </p-flex>
    <div v-if="$slots.default" class="collapse" :id="adv_id">
      <div class="separator separator-dashed mt-9 mb-6"></div>
      <slot></slot>
      <p-flex jc="end">
        <button type="reset" class="btn btn-sm btn-white btn-active-light-primary me-2" @click="onReset">
          {{__.trans('reset')}}
        </button>
        <button type="submit" class="btn btn-sm btn-primary" @click="onSearch">
          {{__.trans('apply')}}
        </button>
      </p-flex>
    </div>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    computed
  } from 'vue';
  export default defineComponent({
    name: 'Search',
    props: {
      adv_id: {
        type: String,
      },
      modelValue: {
        type: String || Number,
        default: null
      },
      placeholder: {
        type: String,
        default: 'Search'
      },
    },
    setup(props, {
      emit
    }) {
      const newValue = computed({
        get: () => props.modelValue,
        set: (value) => emit("update:modelValue", value),
      });
      const onReset = () => {
        emit('onReset')
      }
      const onSearch = () => {
        emit('onSearch')
      }
      onMounted(() => {});
      return {
        newValue,
        onReset,
        onSearch
      };
    },
  })
</script>