<template>
  <!--begin::Toolbar-->
  <div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" :class="{
        'container-fluid': toolbarWidthFluid,
        'container-xxl': !toolbarWidthFluid,
      }" class="d-flex flex-stack">
      <!--begin::Page title-->
      <div class="page-title d-flex align-items-center flex-wrap me-3  mb-0">
        <!--begin::Title-->
        <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3 text-uppercase">
          {{$route.meta.title}}
          <!-- {{ title }} -->
        </h1>
        <!--end::Title-->

        <span v-if="$route.meta.subtitle" class="h-20px border-gray-200 border-start mx-4"></span>

        <span class="fw-bold fs-7 my-1 text-muted">
          {{$route.meta.subtitle}}
          <!-- {{ subTitle }} -->
        </span>
        <!--begin::Breadcrumb-->
        <!-- <ul
          v-if="breadcrumbs"
          class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1"
        >
          <li class="breadcrumb-item pe-3">
            <router-link to="/dashboard" class="text-muted text-hover-primary">
              Home
            </router-link>
          </li>
          <li class="breadcrumb-item">
            <span class="bullet bg-gray-200 w-5px h-2px"></span>
          </li>
          <template v-for="(item, index) in breadcrumbs" :key="index">
            <li class="breadcrumb-item text-muted">
              {{ item }}
            </li>
            <li class="breadcrumb-item">
              <span class="bullet bg-gray-200 w-5px h-2px"></span>
            </li>
          </template>
          <li class="breadcrumb-item pe-3 text-dark">
            {{ title }}
          </li>
        </ul> -->
        <!--end::Breadcrumb-->
      </div>
      <!--end::Page title-->

      <!--begin::Actions-->
      <div class="d-flex align-items-center py-1">
        <!--begin::Wrapper-->
        <!-- <div id="filterContainerToolbar" class="me-4"> -->
        <!--begin::Menu-->
        <!-- <button
            class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder"
            data-kt-menu-trigger="hover"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end"
          >
            <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
              <inline-svg src="/media/icons/duotune/general/gen031.svg" />
            </span>
            Filter
          </button> -->

        <!-- <Dropdown1></Dropdown1> -->
        <!--end::Menu-->
        <!-- </div> -->
        <!--end::Wrapper-->

        <!--begin::Button-->
        <!-- <a
          href="#"
          class="btn btn-sm btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#kt_modal_create_app"
          id="kt_toolbar_primary_button"
        >
          Create
        </a> -->
        <!--end::Button-->
      </div>
      <!--end::Actions-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Toolbar-->
</template>

<script>
  import {
    defineComponent,
    computed
  } from "vue";
  // import Dropdown1 from "@/components/dropdown/Dropdown4.vue";
  import {
    toolbarWidthFluid
  } from "@/core/helpers/config";
  // import {
  //   useRoute
  // } from "vue-router";
  export default defineComponent({
    name: "KToolbar",
    props: {
      breadcrumbs: Array,
      title: String,
      subTitle: String,
    },
    components: {
      // Dropdown1,
    },
    setup() {
      // const route = useRoute
      // const titleName = computed(() => {
      //   return route.meta.title;
      // });
      return {
        toolbarWidthFluid,
      };
    }
  });
</script>