<template>
  <router-link tag="button" class="btn btn-sm btn-color-primary btn-active-light-primary" :to="to">
    {{__.trans('addNew')}}
  </router-link>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'BtnAddNew',
    props: {
      to: {
        type: Object,
        default: () => {},
      },
    },
    setup() {
      onMounted(() => {});
      return {};
    },
  })
</script>