<template>
  <p-btn variant="primary" size="sm" class="shadow-sm">
    {{__.trans('submit')}}
  </p-btn>
</template>
<script>
  export default {
    name: 'BtnSubmit',
    data: function() {
      return {}
    },
    created() {},
    methods: {},
  }
</script>
<style>
</style>