<template>
  <div class="btn btn-sm btn-color-primary btn-active-light-primary">
    <slot></slot>
  </div>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'BtnTool',
    props: {
      to: {
        type: Object,
        default: () => {},
      },
    },
    setup() {
      onMounted(() => {});
      return {};
    },
  })
</script>