<template>
  <p-text fs8 muted class="mb-0">
    <slot></slot>
  </p-text>
</template>
<script>
  import {
    defineComponent,

  } from 'vue';
  export default defineComponent({
    name: 'SubText',
  })
</script>