<template>
  <p-text fs3 bolder class="mb-1">
    <slot></slot>
  </p-text>
</template>
<script>
  import {
    defineComponent,

  } from 'vue';
  export default defineComponent({
    name: 'TextBold',
  })
</script>