<template>
  <p-loader :isLoading="!isLoaded"></p-loader>
  <Container :show="isLoaded" title="Warehouse Capacity" subtitle="Snapshot of your warehouse">
    <p-row g="6" class="mb-5">
      <p-col sm="5" md="4" xl="3">
        <p-card class="shadow-sm h-100" header-class="border-0 pt-5" body-class="pt-0">
          <template #header>
            <p-text bold fs3>Warehouse Utilisation</p-text>
          </template>

          <radial-chart :data="data.warehouseUtilisation.toFixed(1)" :color="data.warehouseUtilisation.toFixed(2) < 80 ? 'success' : 'danger'">
          </radial-chart>

          <!-- <el-skeleton v-else class="h-100 d-flex justify-content-center align-items-center" style="--el-skeleton-circle-size: 150px">
          <template #template>
            <el-skeleton-item variant="circle" />
          </template>
        </el-skeleton> -->
        </p-card>
      </p-col>
      <p-col sm="7" md="8" xl="9">
        <p-card class="shadow-sm h-100" header-class="border-0 pt-5" body-class="pt-0">
          <template #header>
            <p-text bold fs3>Warehouse Location</p-text>
          </template>
          <div class="mt-10 mb-8">
            <p-progress class="fs-3 bg-light-primary" bar-class="rounded text-start ps-3" height="50px" :value="data.warehouseCapacity" :min="0" :max="100">
              {{data.warehouseCapacity.toFixed(2)}}%
            </p-progress>
          </div>
          <p-flex jc="end">
            <p-col cols="12" xl="11" xxl="8">
              <p-row g="0" class="justify-content-end">
                <p-col cols="6" md="4">
                  <div class="pe-8  border-end">
                    <p-text end bolder fs1 class="mb-0">{{data.warehouse_capacities.registered_loc}}</p-text>
                    <p-text end bold fs5 muted class="mb-0">Bin Location</p-text>
                  </div>
                </p-col>
                <p-col cols="6" md="4">
                  <div class="ps-2 pe-md-8">
                    <p-text end bolder fs1 class="mb-0">{{data.warehouse_capacities.filled_loc}}</p-text>
                    <p-text end bold fs5 muted class="mb-0">
                      Filled Bin Location
                    </p-text>
                  </div>
                </p-col>
                <p-col cols="12" lg="3" md="4">
                  <div class="ps-8 border-start">
                    <p-text end bolder fs1 class="mb-0">{{data.checkedYtd.toFixed(2)}}%</p-text>
                    <p-text end bold fs5 muted class="mb-0">Checked YTD</p-text>
                  </div>
                </p-col>

              </p-row>
            </p-col>

          </p-flex>
        </p-card>
      </p-col>
    </p-row>
    <p-text bolder fs3>Area Capacity</p-text>
    <p-row gy="5">
      <template v-for="(v, i) in data.area_capacity" :key="`areaCapacity-${i}`">
        <p-col cols="6" sm="4" lg="3">
          <p-card class="shadow-sm">
            <p-text bolder fs5 class="card-title mb-3">
              {{v.area}}
            </p-text>
            <p-flex>
              <p-text bolder fs1 variant="dark" class="me-2">{{ toFixed(100 * v.filled_loc / v.registered_loc) }}%</p-text>
            </p-flex>
            <p-progress class="bg-opacity-50" :class="toFixed(100 * v.filled_loc / v.registered_loc) < 80 ? 'bg-primary' : 'bg-danger'" height="7px" :variant="toFixed(100 * v.filled_loc / v.registered_loc) < 80 ? 'primary' : 'danger'" :value="toFixed(100 * v.filled_loc / v.registered_loc)" :min="0" :max="100">
            </p-progress>
          </p-card>
        </p-col>
      </template>
    </p-row>
  </Container>
</template>
<script>
  import api from '@/api/dashboard'
  import RadialChart from "@/components/chart/RadialBarChart.vue";
  import Container from "@/widgets/Dashboard/Container.vue";
  import {
    defineComponent,
    onMounted,
    ref,
    computed
  } from 'vue';
  export default defineComponent({
    name: 'DashboardWarehouseCapacity',
    components: {
      RadialChart,
      Container,

    },
    setup() {
      const data = ref({
        warehouse_capacities: {
          max_loc: 0,
          registered_loc: 0,
          filled_loc: 0,
          checked_loc: 0,
        },
        area_capacity: [],
        checkedYtd: computed(() => 100 * data.value.warehouse_capacities.checked_loc / data.value.warehouse_capacities.registered_loc),
        warehouseCapacity: computed(() => 100 * data.value.warehouse_capacities.filled_loc / data.value.warehouse_capacities.registered_loc),
        warehouseUtilisation: computed(() => 100 * data.value.warehouse_capacities.filled_loc / data.value.warehouse_capacities.max_loc)
      })
      const isLoaded = ref(false)
      const toFixed = (value) => {
        return value.toFixed(2);
      };
      const getData = async () => {
        try {
          const res = await api.getWarehouseCapacity()
          data.value.warehouse_capacities = res.data.results.warehouse_capacity
          data.value.area_capacity = res.data.results.area_capacity
          isLoaded.value = true
          // console.log(res.data.results.area_capacity);
        } catch (error) {
          console.log(error.response);
        }
      }
      onMounted(() => {
        // getData()
      });
      return {
        data,
        isLoaded,
        toFixed,
        getData
      };
    },
  })
</script>
<style>

</style>