<template>
  <p-loader :isLoading="!isLoaded"></p-loader>
  <Container :show="isLoaded" title="Operation Performance" subtitle="Monthly snapshots of warehouse floor operation">
    <p-text fs-4 bold>Inbound</p-text>
    <p-row g="6" class="mb-6">
      <p-col sm="6" xl="4">
        <FOPContainer id="tally" :title="`Tally`" data-kt-menu-trigger="hover" data-kt-menu-placement="bottom" data-kt-menu-attach="parent" data-kt-menu-flip="bottom">
          <p-row g="5">
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Total Job`" :value="data.tally.total_job" :indicatorValue="getIndicator('tally','total_job')" :indicatorTrend="getIndicator('tally','total_job',false)" :isSelected="fopState.tally[0]" @click="handleFopState('tally', 0)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Item / Job`" :value="data.tally.average_item_per_job" :indicatorValue="getIndicator('tally','average_item_per_job')" :indicatorTrend="getIndicator('tally','average_item_per_job',false)" :isSelected="fopState.tally[1]" @click="handleFopState('tally', 1)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Qty / Job`" :value="data.tally.average_qty_per_job" :indicatorValue="getIndicator('tally','average_qty_per_job')" :indicatorTrend="getIndicator('tally','average_qty_per_job',false)" :isSelected="fopState.tally[2]" @click="handleFopState('tally', 2)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Time / Job`" :value="`${(data.tally.average_time_per_job / 60 ).toFixed(0)} Mins`" :indicatorValue="(getIndicator('tally','average_time_per_job')/60).toFixed(0)" :indicatorTrend="getIndicator('tally','average_time_per_job',false)" :isSelected="fopState.tally[3]" @click="handleFopState('tally', 3)" />
            </p-col>
          </p-row>
          <!-- <template #report>
 
          </template> -->
          <template #chart>
            <area-chart :dataCategories="data.tally.chart_categories" dataName="Total Job" :dataValue="data.tally.total_job_chart.value" v-if="fopState.tally[0]">
            </area-chart>
            <area-chart :dataCategories="data.tally.chart_categories" dataName="Avg. Item / Job" :dataValue="data.tally.average_item_chart.value" v-if="fopState.tally[1]">
            </area-chart>
            <area-chart :dataCategories="data.tally.chart_categories" dataName="Avg. Qty / Job" :dataValue="data.tally.average_qty_chart.value" v-if="fopState.tally[2]">
            </area-chart>
            <area-chart :dataCategories="data.tally.chart_categories" dataName="Avg. Time / Job" :dataValue="data.tally.average_time_chart.value.map(val => (val/60).toFixed(0))" v-if="fopState.tally[3]">
            </area-chart>
          </template>
        </FOPContainer>
        <p-dropdown>
          <a href="#" class="text-center">See Report</a>
        </p-dropdown>
      </p-col>
      <p-col sm="6" xl="4">
        <FOPContainer id="fop-putaway" :title="`Putaway`" data-kt-menu-trigger="hover" data-kt-menu-placement="bottom" data-kt-menu-attach="parent" data-kt-menu-flip="bottom">
          <p-row g="5">
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Total Putaways`" :value="data.putaway.total_putaway" :indicatorValue="getIndicator('putaway','total_putaway')" :indicatorTrend="getIndicator('putaway','total_putaway',false)" :isSelected="fopState.putaway[0]" @click="handleFopState('putaway', 0)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Time / Put`" :value="`${(data.putaway.average_time_per_putaway/60).toFixed(0)} Mins`" :indicatorValue="(getIndicator('putaway','average_time_per_putaway')/60).toFixed(0)" :indicatorTrend="getIndicator('putaway','average_time_per_putaway',false)" :isSelected="fopState.putaway[1]" @click="handleFopState('putaway', 1)" />
            </p-col>
          </p-row>
          <p-dropdown>
            <a href="#" class="text-center">See Report</a>
          </p-dropdown>
          <template #chart>
            <area-chart :dataCategories="data.putaway.chart_categories" dataName="Total Putaways" :dataValue="data.putaway.total_job_chart.value" v-if="fopState.putaway[0]">
            </area-chart>
            <area-chart :dataCategories="data.putaway.chart_categories" dataName="Avg. Time / Put" :dataValue="data.putaway.average_time_chart.value" v-if="fopState.putaway[1]">
            </area-chart>
          </template>
        </FOPContainer>
      </p-col>
    </p-row>
    <p-text fs-4 bold>Outbound</p-text>

    <p-row v-if="isLoaded" g="6">
      <p-col sm="6" xl="4">
        <FOPContainer id="fop-picking" :title="`Picking`" data-kt-menu-trigger="hover" data-kt-menu-placement="bottom" data-kt-menu-attach="parent" data-kt-menu-flip="bottom">
          <p-row g="5">
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Total Job`" :value="data.picking.total_job" :indicatorValue="getIndicator('picking','total_job')" :indicatorTrend="getIndicator('picking','total_job',false)" :isSelected="fopState.picking[0]" @click="handleFopState('picking', 0)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Item / Job`" :value="data.picking.average_item_per_job" :indicatorValue="getIndicator('picking','average_item_per_job')" :indicatorTrend="getIndicator('picking','average_item_per_job',false)" :isSelected="fopState.picking[1]" @click="handleFopState('picking', 1)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Qty / Job`" :value="data.picking.average_qty_per_job" :indicatorValue="getIndicator('picking','average_qty_per_job')" :indicatorTrend="getIndicator('picking','average_qty_per_job',false)" :isSelected="fopState.picking[2]" @click="handleFopState('picking', 2)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Time / Job`" :value="`${(data.picking.average_time_per_job / 60).toFixed(0) || 0} Mins`" :indicatorValue="(getIndicator('picking','average_time_per_job')/ 60).toFixed(0)" :indicatorTrend="getIndicator('picking','average_time_per_job',false)" :isSelected="fopState.picking[3]" @click="handleFopState('picking', 3)" />
            </p-col>
            <p-dropdown>
              <a href="#" class="text-center">See Report</a>
            </p-dropdown>
          </p-row>
          <template #chart>
            <area-chart :dataCategories="data.picking.chart_categories" dataName="Total Job" :dataValue="data.picking.total_job_chart.value" v-if="fopState.picking[0]">
            </area-chart>
            <area-chart :dataCategories="data.picking.chart_categories" dataName="Avg. Item / Job" :dataValue="data.picking.average_item_chart.value" v-if="fopState.picking[1]">
            </area-chart>
            <area-chart :dataCategories="data.picking.chart_categories" dataName="Avg. Qty / Job" :dataValue="data.picking.average_qty_chart.value" v-if="fopState.picking[2]">
            </area-chart>
            <area-chart :dataCategories="data.picking.chart_categories" dataName="Avg. Time / Job" :dataValue="data.picking.average_time_chart.value" v-if="fopState.picking[3]">
            </area-chart>
          </template>
        </FOPContainer>
      </p-col>
      <!-- <p-col sm="6" xl="4">
      <FOPContainer id="fop-packing" :title="`Packing`" data-kt-menu-trigger="hover" data-kt-menu-placement="bottom" data-kt-menu-attach="parent" data-kt-menu-flip="bottom">
        <p-row g="5">
          <p-col cols="6" lg="6" xl="6">
            <FOPItem :title="`Total Job`" :value="data.outbound.packing.total_job" :indicatorValue="10" :indicatorTrend="true" :isSelected="fopState.packing[0]" @click="handleFopState('packing', 0)" />
          </p-col>
          <p-col cols="6" lg="6" xl="6">
            <FOPItem :title="`Avg. Item / Job`" :value="data.outbound.packing.average_item_per_job" :indicatorValue="10" :indicatorTrend="false" :isSelected="fopState.packing[1]" @click="handleFopState('packing', 1)" />
          </p-col>
          <p-col cols="6" lg="6" xl="6">
            <FOPItem :title="`Avg. Qty / Job`" :value="data.outbound.packing.average_qty_per_job" :indicatorValue="10" :indicatorTrend="true" :isSelected="fopState.packing[2]" @click="handleFopState('packing', 2)" />
          </p-col>
          <p-col cols="6" lg="6" xl="6">
            <FOPItem :title="`Avg. Time / Job`" :value="`${(data.outbound.packing.average_time_per_job / 60).toFixed(0) || 0} Mins`" :indicatorValue="10" :indicatorTrend="false" :isSelected="fopState.packing[3]" @click="handleFopState('packing', 3)" />
          </p-col>
          <p-dropdown>
            <a href="#" class="text-center">See Report</a>
          </p-dropdown>
        </p-row>
        <template #chart>
          <area-chart :dataCategories="[' Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']" dataName="Total Job" :dataValue="[30, 25, 45, 30, 55, 55]" v-if="fopState.packing[0]">
          </area-chart>
          <area-chart :dataCategories="[' Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']" dataName="Avg. Item / Job" :dataValue="[25, 30, 30, 55, 45, 55]" v-if="fopState.packing[1]">
          </area-chart>
          <area-chart :dataCategories="[' Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']" dataName="Avg. Qty / Job" :dataValue="[30, 45, 55, 25, 30, 55]" v-if="fopState.packing[2]">
          </area-chart>
          <area-chart :dataCategories="[' Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']" dataName="Avg. Time / Job" :dataValue="[30, 30, 25, 55, 55, 45]" v-if="fopState.packing[3]">
          </area-chart>
        </template>
      </FOPContainer>
    </p-col> -->
      <p-col sm="6" xl="4">
        <FOPContainer id="fop-loading" :title="`Loading`" data-kt-menu-trigger="hover" data-kt-menu-placement="bottom" data-kt-menu-attach="parent" data-kt-menu-flip="bottom">
          <p-row g="5">
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Total Job`" :value="data.loading.total_job" :indicatorValue="getIndicator('loading','total_job')" :indicatorTrend="getIndicator('loading','total_job',false)" :isSelected="fopState.loading[0]" @click="handleFopState('loading', 0)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Item / Job`" :value="data.loading.average_item_per_job" :indicatorValue="getIndicator('loading','average_item_per_job')" :indicatorTrend="getIndicator('loading','average_item_per_job',false)" :isSelected="fopState.loading[1]" @click="handleFopState('loading', 1)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Qty / Job`" :value="data.loading.average_qty_per_job" :indicatorValue="getIndicator('loading','average_qty_per_job')" :indicatorTrend="getIndicator('loading','average_qty_per_job',false)" :isSelected="fopState.loading[2]" @click="handleFopState('loading', 2)" />
            </p-col>
            <p-col cols="6" lg="6" xl="6">
              <FOPItem :title="`Avg. Time / Job`" :value="`${(data.loading.average_time_per_job / 60).toFixed(0) || 0} Mins`" :indicatorValue="(getIndicator('loading','average_time_per_job')/ 60).toFixed(0)" :indicatorTrend="getIndicator('loading','average_time_per_job',false)" :isSelected="fopState.loading[3]" @click="handleFopState('loading', 3)" />
            </p-col>
            <p-dropdown>
              <a href="#" class="text-center">See Report</a>
            </p-dropdown>
          </p-row>
          <template #chart>
            <area-chart :dataCategories="data.loading.chart_categories" dataName="Total Job" :dataValue="data.loading.total_job_chart.value" v-if="fopState.loading[0]">
            </area-chart>
            <area-chart :dataCategories="data.loading.chart_categories" dataName="Avg. Item / Job" :dataValue="data.loading.average_item_chart.value" v-if="fopState.loading[1]">
            </area-chart>
            <area-chart :dataCategories="data.loading.chart_categories" dataName="Avg. Qty / Job" :dataValue="data.loading.average_qty_chart.value" v-if="fopState.loading[2]">
            </area-chart>
            <area-chart :dataCategories="data.loading.chart_categories" dataName="Avg. Time / Job" :dataValue="data.loading.average_time_chart.value" v-if="fopState.loading[3]">
            </area-chart>
          </template>
        </FOPContainer>
      </p-col>
    </p-row>
  </Container>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import Container from "@/widgets/Dashboard/Container.vue";
  import AreaChart from "@/components/chart/AreaChart.vue";
  import FOPItem from "@/widgets/Dashboard/FloorOperatorsPerformanceItem.vue";
  import FOPContainer from "@/widgets/Dashboard/FloorOperatorsPerformanceContainer.vue";
  // import API from '@/core/services/ApiService';
  import api from '@/api/dashboard'
  export default defineComponent({
    name: 'DashboardOperatorsPerformance',
    components: {
      FOPItem,
      FOPContainer,
      AreaChart,
      Container,

    },
    setup() {
      const data = reactive({
        tally: {},
        putaway: {},
        picking: {},
        loading: {},

      })
      const fopState = reactive({
        tally: [true, false, false, false],
        putaway: [true, false, false, false],
        picking: [true, false, false, false],
        packing: [true, false, false, false],
        loading: [true, false, false, false],
      });
      const isLoaded = ref(false)
      const handleFopState = (title, index) => {
        fopState.tally.map((a, i) => {
          fopState[title][i] = false;
        });
        fopState[title][index] = true;
        //   console.log(fopState.tally);
      };
      const getIndicator = (kpi, param, valueData = true) => {
        let diffData = data[kpi][param] - data[kpi][`last_month_${param}`]
        if (valueData) {
          return Math.abs(diffData).toFixed(0)
        } else {
          return diffData > 0 ? true : false
        }
      }
      const getData = async () => {
        try {
          const resTally = await api.getKpiTally()
          const resPutaway = await api.getKPIPutawayWidget()
          const resPicking = await api.getKPIPickingWidget()
          const resLoading = await api.getKPILoadingWidget()
          data.tally = resTally.data.result
          data.putaway = resPutaway.data.result
          data.picking = resPicking.data.result
          data.loading = resLoading.data.result
          // console.log(data.value);
          isLoaded.value = true
        } catch (error) {
          console.log(error);
        }
      }
      onMounted(() => {
        // getData()
      });
      return {
        data,
        fopState,
        isLoaded,
        handleFopState,
        getData,
        getIndicator
      };
    },
  })
</script>