<template>
  <p-loader :isLoading="!isLoaded"></p-loader>
  <Container :show="isLoaded" title="Inventory Info" subtitle="High Level Indicators of Items or Materials in the warehouse">
    <p-row g="6" class="mb-6">
      <p-col md="6">
        <p-card class="shadow-sm">
          <p-flex jc="between" ai="center">
            <p-flex ai="center">
              <p-symbol variant="light-primary" class="shadow-sm">
                <i class="bi bi-check-lg fs-1 text-primary"></i>
              </p-symbol>
              <p-text bolder fs1 class="mb-0">{{__.trans('Checked YTD')}}</p-text>
            </p-flex>
            <span class="bg-light-success rounded text-success p-3">
              <p-text fs1 bolder class="mb-0">65.7%</p-text>
            </span>
          </p-flex>
        </p-card>
      </p-col>
      <p-col md="6">
        <p-card class="shadow-sm">
          <p-flex jc="between" ai="center">
            <p-flex ai="center">
              <p-symbol variant="light-primary" class="shadow-sm">
                <i class="bi bi-bullseye fs-1 text-primary"></i>
              </p-symbol>
              <p-text bolder fs1 class="mb-0">{{__.trans('Accuracy YTD')}}</p-text>
            </p-flex>
            <span class="bg-light-success rounded text-success p-3">
              <p-text fs1 bolder class="mb-0">{{data.accuracy_checked}}</p-text>
            </span>
          </p-flex>
        </p-card>
      </p-col>
    </p-row>
    <p-row g="6">
      <template v-for="(v, i) in inventoryInfo" :key="`inventory-info-${i}`">
        <p-col cols="6" sm="4" xl="2">
          <p-card :id="`inventory-info-${i}`" class="shadow-sm text-center" body-class="px-2">
            <p-text center bold fs3>{{ v.title }}</p-text>
            <p-text fs1 bolder>{{ v.value }}</p-text>
            <!-- <p-btn data-kt-menu-trigger="hover" data-kt-menu-placement="bottom" data-kt-menu-attach="parent" data-kt-menu-flip="bottom" size="sm" variant="light-primary">See More</p-btn>
              <p-dropdown>
                {{ inventoryInfoTooltips[i] }}
              </p-dropdown> -->
            <p-btn-dropdown class="btn-light-primary" trigger="hover" dropdownClass="p-5" w="w-250px" wmd="w-300px">
              <template #button>
                See More
              </template>
              <template #dropdown>
                {{ inventoryInfoTooltips[i] }}
              </template>
            </p-btn-dropdown>
          </p-card>
        </p-col>
      </template>
    </p-row>
  </Container>
</template>
<script>
  import api from '@/api/dashboard'
  import Container from "@/widgets/Dashboard/Container.vue";
  import {
    defineComponent,
    onMounted,
    ref,
    reactive,
    computed
  } from 'vue';
  export default defineComponent({
    name: 'DashboardInventoryInfo',
    components: {
      Container,
    },
    setup() {
      const data = ref({
        active_item: 0,
        expired_item: 0,
        low_item: 0,
        non_moving_item: 0,
        cc_hold_item: 0,
        qc_hold_item: 0,
        checked_item: 0,
        accuracy_checked: 0
      })
      const inventoryInfo = reactive([{
        title: "Active SKU",
        value: computed(() => data.value.active_item),
      }, {
        title: "Expired Items",
        value: computed(() => data.value.expired_item),
      }, {
        title: "Low Items",
        value: computed(() => data.value.low_item),
      }, {
        title: "Non Moving",
        value: computed(() => data.value.non_moving_item),
      }, {
        title: "CC Hold Items",
        value: computed(() => data.value.cc_hold_item),
      }, {
        title: "QC Hold Items",
        value: computed(() => data.value.qc_hold_item),
      }])
      const isLoaded = ref(false)
      const getData = async () => {
        const res = await api.getInventoryInfo()
        data.value = res.data.results.inventory_info
        isLoaded.value = true
      }
      onMounted(() => {
        // getData()
        // console.log(inventoryInfo.value);
      });
      const inventoryInfoTooltips = [
        "Registered Items that are currently active",
        "Items that rea already past expiration date",
        "Items that require re-stock / re-order",
        "Items with no outbound transaction for the past 6 months",
        "Items currently on hold and cannot be transacted because of Cycle Count Jobs Lock",
        "Items currently on QC On Hold status",
      ];
      return {
        data,
        isLoaded,
        inventoryInfo,
        inventoryInfoTooltips,
        getData
      };
    },
  })
</script>