<template>
  <p-row class="mb-5" g="5" v-loading="!isLoaded">
    <p-col sm="6" xl="4">
      <OAContainer :show="isLoaded" title="Inbound Totals" class="h-100">
        <OATotals title="Jobs" :value="data.inbound_total.total_job" />
        <OATotals title="SKUs" :value="data.inbound_total.total_item" />
        <OATotals title="Units" :value="data.inbound_total.total_doc_qty" />
        <OATotals title="GR Fullfilment" :value="`${grFullfilmentData}%`" />
      </OAContainer>
    </p-col>
    <p-col sm="6" xl="8">
      <OAContainer :show="isLoaded" title="Inbound Docs Status" class="h-100">
        <pie-chart v-if="data.inbound_doc_status.open +data.inbound_doc_status.on_progress +data.inbound_doc_status.completed > 0" :data="[data.inbound_doc_status.open, data.inbound_doc_status.on_progress, data.inbound_doc_status.completed]" :labels="['Open Inbound', 'On Progress', 'Completed']"></pie-chart>
        <p-empty-state :state="2" v-else></p-empty-state>

      </OAContainer>
    </p-col>
  </p-row>
  <p-row class="mb-5" g="5">

    <p-col xl="8">
      <OAContainer :show="isLoaded" title="Receiving Jobs Completed" class="h-100">

        <BarChart v-if="!data.chart.value.every(val => val === 0)" :dataCategories="data.chart.categories" :dataValue="data.chart.value"></BarChart>
        <p-empty-state :state="2" v-else></p-empty-state>

      </OAContainer>
    </p-col>
    <p-col xl="4">
      <OAContainer :show="isLoaded" title="Inbound Processing Time" class="h-100">
        <p-row>
          <p-col xl="12" md="6">
            <PTItem title="Total Inbound Job Completion" :data="`${totalInboundJobCompletionData.toFixed(2)} mins/cycle`" variant="primary"></PTItem>
          </p-col>
          <p-col xl="12" md="6">
            <PTItem title="Tally Cycle time" :data="`${(data.inbound_processing_time.tally_cycle_time / 60).toFixed(2)} mins/LPN`" variant="primary"></PTItem>
          </p-col>
          <p-col xl="12" md="6">
            <PTItem title="Putaway Cycle Time" :data="`${putawayCycleTimeData.toFixed(2)}  mins/cycle`" variant="primary"></PTItem>
          </p-col>
        </p-row>
      </OAContainer>
    </p-col>
  </p-row>
</template>
<script>
  import api from '@/api/dashboard'
  import {
    defineComponent,
    onMounted,
    ref,
    reactive,
    computed,
    watchEffect,
    inject
  } from 'vue';
  import PTItem from "@/widgets/Dashboard/ProcessingTimeItem.vue";
  import OATotals from "@/widgets/Dashboard/OperationActivitiesTotals.vue";
  import OAContainer from "@/widgets/Dashboard/OperationActivitiesContainer.vue";
  import PieChart from "@/components/chart/PieChart.vue";
  import BarChart from "@/components/chart/BarChart.vue";
  export default defineComponent({
    name: 'DashboardOperationInbound',
    components: {
      OATotals,
      OAContainer,
      PTItem,
      PieChart,
      BarChart,
    },
    props: {
      fromData: {
        type: String,
      },
      toData: {
        type: String,

      },
    },
    setup(props) {
      const dayjs = inject('dayjs')
      const data = ref({})
      const isLoaded = ref(false)
      // watch(() => props.toData, (toData, prevtoData) => {
      //   console.log(toData);
      // });

      const getData = async (fromData, toData) => {
        isLoaded.value = false
        try {
          let dataform = new URLSearchParams({
            from: fromData,
            to: toData,
            warehouse_id: 0
          })
          const res = await api.getOperationActivityInbound(dataform)
          data.value = res.data.results.inbound
          isLoaded.value = true
          // console.log(data.value);
        } catch (error) {}
      }

      const grFullfilmentData = computed(() => {
        let total_doc_qty = data.value.inbound_total.total_doc_qty
        let total_gr_qty = data.value.inbound_total.total_gr_qty
        if (total_doc_qty > 0) {
          return (100 * total_gr_qty / total_doc_qty).toFixed(1) || 0
        }
        return 0;
      });
      const totalInboundJobCompletionData = computed(() => {
        let tally_cycle_time = data.value.inbound_processing_time.tally_cycle_time
        let total_job_completion = data.value.inbound_processing_time.total_job_completion
        if (tally_cycle_time > 0) {
          return ((total_job_completion) / (tally_cycle_time / 60));
        }
        return 0;
      });
      const putawayCycleTimeData = computed(() => {
        let putaway_cycle_time = data.value.inbound_processing_time.putaway_cycle_time
        let tally_cycle_time = data.value.inbound_processing_time.tally_cycle_time
        if (tally_cycle_time > 0) {
          return ((putaway_cycle_time) / (tally_cycle_time / 60));
        }
        return 0;
      });
      watchEffect(() => {
        if (props.fromData && props.toData) {
          getData(props.fromData, props.toData);
        }
      });
      onMounted(() => {
        // let today = dayjs().format('YYYY-MM-DD')
        // getData(today, today);
      });
      return {
        data,
        isLoaded,
        grFullfilmentData,
        totalInboundJobCompletionData,
        putawayCycleTimeData,
        getData
      };
    },
  })
</script>