<template>
  <div>
    <WarehouseCapacity ref="warehouseCapacity"></WarehouseCapacity>
    <InventoryInfo ref="inventoryInfo"></InventoryInfo>
    <OperatorsPerformance ref="operatorsPerformance"></OperatorsPerformance>
    <Container :show="oaIsLoaded" title="Operation Activities" subtitle="inbound and Outbound Operation Summary">
      <template #header-tool>
        <div class="pb-5">
          <p-card class="shadow-sm" body-class="p-3">
            <calendar :defaultValue="[new Date(), new Date()]" @onDateChange="onDateChange"></calendar>
          </p-card>
        </div>
      </template>
      <OperationInbound ref="operationInbound" :fromData="date.from" :toData="date.to"></OperationInbound>
      <OperationOutbound ref="operationOutbound" :fromData="date.from" :toData="date.to"></OperationOutbound>
      <!-- <p-row g="5">

        <p-col lg="4">
          <OAContainer title="Outbound Totals" class="h-100">
            <OATotals title="Jobs" value="15" variant="info" />
            <OATotals title="SKUs" value="450" variant="info" />
            <OATotals title="Units" value="13.670" variant="info" />
            <OATotals title="GI Fullfilment" value="97.9%" variant="info" />
          </OAContainer>
        </p-col>
        <p-col lg="8">
          <OAContainer title="Outbound Docs Status" class="h-100">
            <pie-chart :data="[10, 20, 30]" :labels="['Open Outbound', 'On Progress', 'Completed']"></pie-chart>
          </OAContainer>
        </p-col>
        <p-col lg="8">
          <OAContainer title="Receiving Jobs Completed" class="h-100">
            <BarChart color="info"></BarChart>
          </OAContainer>
        </p-col>
        <p-col lg="4">
          <OAContainer title="Outbound Processing Time" class="h-100">
            <PTItem title="Total Outbound Job Completion" data="2.32 hours/cycle" variant="info"></PTItem>
            <PTItem title="Picking Job Cycle Time" data="0.65 hours/job" variant="info"></PTItem>
            <PTItem title="Packing Job Cycle Time" data="0.23 hours/job" variant="info"></PTItem>
            <PTItem title="loading Job Cycle Time" data="1.6 hours/job" variant="info"></PTItem>
          </OAContainer>
        </p-col>
      </p-row> -->
    </Container>
  </div>
</template>

<script>
  import {
    defineComponent,
    onMounted,
    reactive,
    ref,
    inject
  } from "vue";
  import PieChart from "@/components/chart/PieChart.vue";
  import BarChart from "@/components/chart/BarChart.vue";
  import Container from "@/widgets/Dashboard/Container.vue";
  import InventoryInfo from "@/pages/home/DashboardInventoryInfo.vue"
  import OperationInbound from "@/pages/home/DashboardOperationInbound.vue"
  import OperationOutbound from "@/pages/home/DashboardOperationOutbound.vue"
  import WarehouseCapacity from "@/pages/home/DashboardWarehouseCapacity.vue"
  import OperatorsPerformance from "@/pages/home/DashboardOperatorsPerformance.vue"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  export default defineComponent({
    name: "dashboard",
    components: {
      Container,
      PieChart,
      BarChart,
      InventoryInfo,
      WarehouseCapacity,
      OperatorsPerformance,
      OperationInbound,
      OperationOutbound,
      Calendar
    },
    setup() {
      const warehouseCapacity = ref(null)
      const inventoryInfo = ref(null)
      const operatorsPerformance = ref(null)
      const operationInbound = ref(null)
      const operationOutbound = ref(null)
      const oaIsLoaded = ref(false)
      const dayjs = inject('dayjs')
      const date = reactive({
        from: '',
        to: ''
      })
      const onDateChange = (val) => {
        date.from = dayjs(val[0]).format('YYYY-MM-DD')
        date.to = dayjs(val[1]).format('YYYY-MM-DD')
        // console.log(date);
        // operationInbound.value.getData()
      }
      onMounted(async () => {
        await warehouseCapacity.value.getData()
        await inventoryInfo.value.getData()
        oaIsLoaded.value = true
        await operatorsPerformance.value.getData()
        let today = dayjs().format('YYYY-MM-DD')
        await operationInbound.value.getData(today, today)
        await operationOutbound.value.getData(today, today)
      });
      return {
        onDateChange,
        operationInbound,
        date,
        warehouseCapacity,
        inventoryInfo,
        operatorsPerformance,
        operationInbound,
        operationOutbound,
        oaIsLoaded
      };
    },
  });
</script>