<template>
  <p-row class="mb-5" g="5" v-loading="!isLoaded">

    <p-col sm="6" xl="4">
      <OAContainer :show="isLoaded" title="Outbound Totals" class="h-100">
        <OATotals :variant="`info`" title="Jobs" :value="data.outbound_total.total_job" />
        <OATotals :variant="`info`" title="SKUs" :value="data.outbound_total.total_item" />
        <OATotals :variant="`info`" title="Units" :value="data.outbound_total.total_doc_qty" />
        <OATotals :variant="`info`" title="GI Fullfilment" :value="`${giFullfilmentData}%`" />
      </OAContainer>
    </p-col>
    <p-col sm="6" xl="8">
      <OAContainer :show="isLoaded" title="Outbound Docs Status" class="h-100">
        <pie-chart v-if="data.outbound_doc_status.open+ data.outbound_doc_status.on_progress+ data.outbound_doc_status.completed>0" :data="[data.outbound_doc_status.open, data.outbound_doc_status.on_progress, data.outbound_doc_status.completed]" :labels="['Open Outbound', 'On Progress', 'Completed']"></pie-chart>
        <p-empty-state :state="2" v-else></p-empty-state>

      </OAContainer>
    </p-col>
  </p-row>
  <p-row class="mb-5" g="5">

    <p-col xl="8">
      <OAContainer :show="isLoaded" title="Loading Jobs Completed" class="h-100">
        <BarChart v-if="!data.chart.value.every(val => val === 0)" color="info" :dataCategories="data.chart.categories" :dataValue="data.chart.value"></BarChart>
        <p-empty-state :state="2" v-else></p-empty-state>
      </OAContainer>
    </p-col>
    <p-col xl="4">
      <OAContainer :show="isLoaded" title="Outbound Processing Time" class="h-100">
        <p-row>
          <p-col xl="12" md="6">
            <PTItem title="Total Outbound Job Completion" :data="`${((data.outbound_processing_time.total_job_completion / 60).toFixed(2))} mins/cycle`" variant="info"></PTItem>
          </p-col>
          <p-col xl="12" md="6">
            <PTItem title="Picking Job Cycle Time" :data="`${(data.outbound_processing_time.picking_cycle_time / 60).toFixed(2)} mins/job`" variant="info"></PTItem>
          </p-col>
          <p-col xl="12" md="6">
            <PTItem title="Packing Job Cycle Time" :data="`${(data.outbound_processing_time.packing_cycle_time / 60).toFixed(2)} mins/job`" variant="info"></PTItem>
          </p-col>
          <p-col xl="12" md="6">
            <PTItem title="loading Job Cycle Time" :data="`${(data.outbound_processing_time.loading_cycle_time / 60).toFixed(2)} mins/job`" variant="info"></PTItem>
          </p-col>
        </p-row>
      </OAContainer>
    </p-col>
  </p-row>
</template>
<script>
  import api from '@/api/dashboard'
  import {
    defineComponent,
    onMounted,
    ref,
    reactive,
    computed,
    watchEffect,
    inject
  } from 'vue';
  import PTItem from "@/widgets/Dashboard/ProcessingTimeItem.vue";
  import OATotals from "@/widgets/Dashboard/OperationActivitiesTotals.vue";
  import OAContainer from "@/widgets/Dashboard/OperationActivitiesContainer.vue";
  import PieChart from "@/components/chart/PieChart.vue";
  import BarChart from "@/components/chart/BarChart.vue";
  export default defineComponent({
    name: 'DashboardOperationOutbound',
    components: {
      OATotals,
      OAContainer,
      PTItem,
      PieChart,
      BarChart,
    },
    props: {
      fromData: {
        type: String,
      },
      toData: {
        type: String,

      },
    },
    setup(props) {
      const dayjs = inject('dayjs')
      const data = ref({})
      const isLoaded = ref(false)
      const getData = async (fromData, toData) => {
        isLoaded.value = false
        try {
          let dataform = new URLSearchParams({
            from: fromData,
            to: toData,
            warehouse_id: 0
          })
          const res = await api.getOperationActivityOutbound(dataform)
          data.value = res.data.results.outbound
          isLoaded.value = true
        } catch (error) {}
      }
      const giFullfilmentData = computed(() => {
        if (data.value.outbound_total.total_doc_qty > 0) {
          return (100 * data.value.outbound_total.total_gi_qty / data.value.outbound_total.total_doc_qty).toFixed(1) || 0
        }
        return 0;
      });
      watchEffect(() => {
        if (props.fromData && props.toData) {
          getData(props.fromData, props.toData);
        }
      });
      onMounted(() => {
        // let today = dayjs().format('YYYY-MM-DD')
        // getData(today, today);
      });
      return {
        data,
        isLoaded,
        giFullfilmentData,
        getData
      };
    },
  })
</script>