<template>
  <!--begin::Tables Widget 1-->
  <div :class="widgetClasses" class="card">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <slot name="header"></slot>
      </h3>
      <div class="card-toolbar">
        <!--begin::Menu-->
        <slot name="toolbar"></slot>
        <!--end::Menu-->
      </div>
    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div class="card-body py-3">
      <slot></slot>
    </div>
    <!--end::Body-->
  </div>
  <!--endW::Tables Widget 1-->
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "CardStandard",
  props: {
    widgetClasses: String,
  },
  components: {},
});
</script>
