<template >
  <div :class="`${props.class} ${gridOptions}`">
    <slot></slot>
  </div>
</template>
<script>
import { defineComponent, computed } from "vue";
export default defineComponent({
  name: "PCol",
  props: {
    class: {
      type: String,
      default: "",
    },
    cols: {
      type: Number || String,
    },
    xs: {
      type: Number || String,
    },
    sm: {
      type: Number || String,
    },
    md: {
      type: Number || String,
    },
    lg: {
      type: Number || String,
    },
    xl: {
      type: Number || String,
    },
    xxl: {
      type: Number || String,
    },
  },
  setup(props) {
    const cols = computed(() => {
      return props.cols ? `col-${props.cols} ` : "";
    });
    const xs = computed(() => {
      return props.xs ? `col-xs-${props.xs} ` : "";
    });
    const sm = computed(() => {
      return props.sm ? `col-sm-${props.sm} ` : "";
    });
    const md = computed(() => {
      return props.md ? `col-md-${props.md} ` : "";
    });
    const lg = computed(() => {
      return props.lg ? `col-lg-${props.lg} ` : "";
    });
    const xl = computed(() => {
      return props.xl ? `col-xl-${props.xl} ` : "";
    });
    const xxl = computed(() => {
      return props.xxl ? `col-xxl-${props.xxl} ` : "";
    });
    const gridOptions = computed(() => {
      return cols.value ||
        xs.value ||
        sm.value ||
        md.value ||
        lg.value ||
        xl.value ||
        xxl.value
        ? `${cols.value} ${xs.value} ${sm.value} ${md.value} ${lg.value} ${xl.value} ${xxl.value}`
        : "col";
    });
    return {
      props,
      gridOptions,
    };
  },
});
</script>
