<template>
  <div :class="` ${props.class} ${containerOptions}`">
    <slot></slot>
  </div>
</template>
<script>
  import {
    defineComponent,
    computed
  } from "vue";
  export default defineComponent({
    name: "PContainer",
    props: {
      class: {
        type: String,
          default: "",
      },
      xs: {
        type: Boolean,
      },
      sm: {
        type: Boolean,
      },
      md: {
        type: Boolean,
      },
      lg: {
        type: Boolean,
      },
      xl: {
        type: Boolean,
      },
      xxl: {
        type: Boolean,
      },
      fluid: {
        type: Boolean,
      },
    },
    setup(props) {
      const sm = computed(() => {
        return props.sm ? `-sm ` : "";
      });
      const md = computed(() => {
        return props.md ? `-md ` : "";
      });
      const lg = computed(() => {
        return props.lg ? `-lg ` : "";
      });
      const xl = computed(() => {
        return props.xl ? `-xl ` : "";
      });
      const xxl = computed(() => {
        return props.xxl ? `-xxl ` : "";
      });
      const fluid = computed(() => {
        return props.xxl ? `-fluid ` : "";
      });
      const containerOptions = computed(() => {
        return `container${fluid.value}${sm.value}${md.value}${lg.value}${xl.value}${xxl.value}`;
      });
      return {
        props,
        containerOptions,
      };
    },
  });
</script>