<template>
  <div class="row" :class="`${props.class} ${gutterOptions}`">
    <slot></slot>
  </div>
</template>
<script>
  import {
    defineComponent,
    computed
  } from "vue";
  export default defineComponent({
    name: "PRow",
    props: {
      class: {
        type: String,
          default: "",
      },
      gy: {
        type: Number,
      },
      gx: {
        type: Number,
      },
      g: {
        type: Number,
      },
    },
    setup(props) {
      const gy = computed(() => {
        return props.gy ? `gy-${props.gy} ` : "";
      });
      const gx = computed(() => {
        return props.gx ? `gx-${props.gx} ` : "";
      });
      const g = computed(() => {
        return props.g ? `g-${props.g} ` : "";
      });
      const gutterOptions = computed(() => {
        return `${gy.value} ${gx.value} ${g.value}`;
      });
      return {
        props,
        gutterOptions,
      };
    },
  });
</script>