<template>

  <el-date-picker v-model="value2" type="daterange" range-separator="-" start-placeholder="Start date" end-placeholder="End date" :disabled-date="disabledDate" :shortcuts="shortcuts" @blur="onChange()">
  </el-date-picker>
</template>
<script lang="ts">
  import {
    defineComponent,
    ref,
    onMounted
  } from 'vue'
  export default defineComponent({
    name: "CalendarDateRange",
    props: {
      defaultValue: {
        type: String || Array,
        default: ''
      }
    },
    setup(props, {
      emit
    }) {
      const value2 = ref('')
      // const value2 = ref([new Date(), new Date()])
      // const initialValue = ''

      const disabledDate = (time: Date) => {
        return time.getTime() > Date.now()
      }
      const shortcuts = [
        //   {
        //   text: 'this week',
        //   value: () => {
        //     const end = new Date()
        //     const start = new Date()
        //     start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
        //     return [start, end]
        //   },
        // },
        {
          text: 'Today',
          value: () => {
            const end = new Date()
            const start = new Date()
            return [start, end]
          },
        },
        {
          text: 'This week',
          value: () => {
            const current = new Date()
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - (3600 * 1000 * 24 * (current.getDay() - 1)))
            return [start, end]
          },
        },
        {
          text: 'Last week',
          value: () => {
            const current = new Date()
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * (current.getDay() + 6))
            end.setTime(end.getTime() - 3600 * 1000 * 24 * current.getDay())
            return [start, end]
          },
        },
        {
          text: 'This month',
          value: () => {
            const current = new Date()
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * (current.getDate() - 1))
            return [start, end]
          },
        },
        {
          text: 'Last month',
          value: () => {
            const current = new Date()
            const getYear = current.getMonth() - 1 >= 0 ? current.getFullYear() : current.getFullYear() - 1
            const getMonth = current.getMonth() - 1 >= 0 ? current.getMonth() - 1 : current.getMonth() - 1 + 12
            const daysLastMonth = new Date(getYear, getMonth + 1, 0).getDate()
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * (current.getDate() + daysLastMonth - 1))
            end.setTime(end.getTime() - 3600 * 1000 * 24 * (current.getDate()))
            return [start, end]
          },
        },

        // {
        //   text: 'Last 3 months',
        //   value: () => {
        //     const end = new Date()
        //     const start = new Date()
        //     start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
        //     return [start, end]
        //   },
        // },
      ]
      const resetDate = () => {
        value2.value = props.defaultValue
        // value2.value = initialValue
      }
      const onChange = () => {
        // console.log(value2.value);
        emit("onDateChange", value2.value)
      }
      onMounted(() => {
        resetDate()

      });
      return {
        value2,
        shortcuts,
        onChange,
        disabledDate,
        // defaultValue,
        resetDate

      }
    }
  });
</script>
<style>
  .el-date-editor {
    width: 100% !important
  }
</style>