<template>
  <SearchField adv_id="cycle_count_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.document" :placeholder="`Search Cycle Count Document Number`">
    <p-row>
      <p-col lg="4">
        <p-select :label="__.trans('Remark')" v-model="filter.remark" :placeholder="__.trans('Select Remark')" :options="options.cycleCountRemark" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Status')" v-model="filter.status" :placeholder="__.trans('Select Status')" :options="options.cycleCountStatus" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Cycle Count Result')}}</p-text>
      <p-flex ai="center">
        <btn-tool>
          {{__.trans('export')}}
        </btn-tool>
        <!-- <btn-add-new :to="{name:'outboundLoadingJobsCreate'}"></btn-add-new> -->

      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Cycle Count Document" property="document" :min-width="200">
        <template #default="scope">
          <p-text class="mb-1">
            {{ scope.row.documentNumber }}
          </p-text>
          <sub-text>{{ __.dateFormat(scope.row.documentDate) }} ({{ scope.row.documentType }})
          </sub-text>
          <sub-text v-if="scope.row.remark">
            {{__.trans('remarks')}} : {{scope.row.remark}}
          </sub-text>
        </template>
      </el-table-column>
      <el-table-column label="Item" property="itemname" :min-width="250">
        <template #default="scope">
          <p-text class="mb-1">
            {{ scope.row.itemName }}
          </p-text>
          <sub-text>
            LPN : {{scope.row.lpn}}
          </sub-text>
        </template>
      </el-table-column>
      <el-table-column label="qty" property="systemQty" align="center">
        <el-table-column label="system" property="systemQty" align="center" :width="100" />
        <el-table-column label="scanned" property="scannedQty" align="center" :width="100" />
        <el-table-column label="discrepancy" property="discrepancy" align="center" :width="150" />
      </el-table-column>
      <el-table-column label="status" property="status" :width="200" />
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import colorBadge from "@/composeable/useColorBadge"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  import {
    cycleCountStatus,
    cycleCountRemark
  } from "@/core/data/Options"
  export default defineComponent({
    name: 'CycleCountIndex',
    components: {
      SearchField,
      Calendar
    },
    setup() {
      const filter = reactive({
        document: '',
        remark: '',
        date: '',
        status: ''
      })
      const options = reactive({
        cycleCountStatus: cycleCountStatus,
        cycleCountRemark: cycleCountRemark
      })
      const table = reactive({
        total: 10,
        data: [{
            documentNumber: 'CC-220428242122',
            documentDate: '2022/04/28',
            documentType: 'By Location',
            location: 'A0062',
            itemName: '861202 - ABC TRSUDANG BR 32X20X4.2G1605',
            lpn: 'SJP-IMPRT170220223',
            systemQty: 1111,
            scannedQty: 1111,
            discrepancy: 0,
            remark: 'EQUAL',
            status: 'ADJUST TO SCANNED QTY'
          },

        ]
      })

      onMounted(() => {});
      return {
        filter,
        options,
        table
      };
    },
  })
</script>