<template>

  <p-loader :isLoading="false" />

  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Detail Expiration Report ')}} - #{{$route.params.itemcode}}</p-text>
      <p-flex ai="center">

      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="LPN" property="lpn" :min-width="200" />
      <el-table-column label="Quantity" property="quantity" :min-width="200" />

      <el-table-column label="Expired Date" property="expiredDate" :width="200">
        <template #default="scope">
          {{__.dateFormat(scope.row.expiredDate)}}
        </template>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';

  export default defineComponent({
    name: 'ExpiredItemListDetail',
    setup() {


      const table = reactive({
        total: 10,
        data: [{
            lpn: 'ABC-220130205921CDD292',
            quantity: 300,
            expiredDate: '2022/6/30',
          },

        ]
      })

      onMounted(() => {});
      return {
        table,
      };
    },
  })
</script>