<template>
  <SearchField adv_id="expiration_item_list_search_form" class="mb-7 shadow-sm" v-model="filter.item" :placeholder="`Search Item`">
    <p-row>
      <p-col lg="4">
        <p-select filterable item-class="mb-0" :label="__.trans('location')" v-model="filter.location" :options="optionsMasterBinLocation"></p-select>

      </p-col>

    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-row class="mb-3">
    <p-col lg="3">
      <SummaryCard title="30 DAYS" value="600" subtitle="Items" icon="bi-clock-history" variant="bg-primary" />
    </p-col>
    <p-col lg="3">
      <SummaryCard title="60 DAYS" value="2720" subtitle="Items" icon="bi-clock-history" variant="bg-info" />
    </p-col>
    <p-col lg="3">
      <SummaryCard title="120 DAYS" value="10964" subtitle="Items" icon="bi-clock-history" variant="bg-warning" />
    </p-col>
    <p-col lg="3">
      <SummaryCard title="EXPIRED" value="88862" subtitle="Items" icon="bi-clock-history" variant="bg-danger" />
    </p-col>
  </p-row>
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Expiration Periods (Within Days)')}}</p-text>
      <p-flex ai="center">
        <btn-tool>
          {{__.trans('Export XLS')}}
        </btn-tool>
        <btn-tool>
          {{__.trans('Export PDF')}}
        </btn-tool>
        <!-- <btn-add-new :to="{name:'outboundLoadingJobsCreate'}"></btn-add-new> -->
      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Item" property="itemName" :min-width="300">
        <template #default="scope">
          <p-text class="mb-1">
            [{{scope.row.itemCode}}] {{ scope.row.itemName }}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Quantity" align="center" property="quantity" :width="100">
        <template #default="scope">
          <p-text class="mb-1">
            {{ scope.row.quantity }} {{ scope.row.uom }}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Expired Date" align="center" property="expiredDate" :width="200">
        <template #default="scope">
          {{__.dateFormat(scope.row.expiredDate)}}
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="100">
        <template #default="scope">
          <p-btn class="me-1" icon="bi-search" size="sm" bg="light" activeColor="primary" @click="openDetail(scope.row.itemCode)">
          </p-btn>
        </template>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import colorBadge from "@/composeable/useColorBadge"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  import SummaryCard from "@/widgets/generals/ExpiredItemSummaryCard.vue"
  import useMasterBinLocation from "@/composeable/useMasterBinLocation"
  import {
    useRouter,
    useRoute
  } from 'vue-router'
  export default defineComponent({
    name: 'ExpiredItemListIndex',
    components: {
      SearchField,
      Calendar,
      SummaryCard
    },
    setup() {
      const router = useRouter()
      const filter = reactive({
        item: '',
        location: '',
      })

      const table = reactive({
        total: 10,
        data: [{
            itemCode: '846114',
            itemName: 'ABC TAMARIND DRNK KR 250ML1911',
            quantity: 300,
            uom: 'PCS',
            expiredDate: '2022/6/30',
          },

        ]
      })
      const {
        getMasterBinLocation,
        optionsMasterBinLocation
      } = useMasterBinLocation()
      const openDetail = (itemcode) => {
        let routeData = router.resolve({
          name: 'expiredItemListDetail',
          params: {
            itemcode: itemcode
          }
        })
        window.open(routeData.href, '_blank');
      }
      onMounted(async () => {
        await getMasterBinLocation()
      });
      return {
        filter,
        table,
        optionsMasterBinLocation,
        openDetail
      };
    },
  })
</script>