<template>
  <SearchField adv_id="items_transfer_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.document" :placeholder="`Search Item Code`">
    <p-row>
      <p-col lg="4">
        <p-select filterable item-class="mb-0" :label="__.trans('location')" v-model="filter.location" :options="optionsMasterBinLocation"></p-select>
      </p-col>
      <p-col lg="4">
        <p-select filterable item-class="mb-0" :label="__.trans('LPN')" v-model="filter.lpn" :placeholder="__.trans('Select Remark')" :options="options.lpn" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Inventory Transfer List')}}</p-text>
      <p-flex ai="center">
        <btn-tool>
          {{__.trans('Export XLS')}}
        </btn-tool>
        <!-- <btn-add-new :to="{name:'outboundLoadingJobsCreate'}"></btn-add-new> -->

      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="item" property="document" :min-width="200">
        <template #default="scope">
          <p-text class="mb-1">
            [{{scope.row.code}}] {{ scope.row.itemName }}
          </p-text>
          <sub-text>LPN : {{scope.row.lpn}}</sub-text>
        </template>
      </el-table-column>
      <el-table-column label="from" align="center">
        <el-table-column label="location" property="fromLocation" align="center" :width="100" />
        <el-table-column label="time" property="fromTime" align="center" :width="150">
          <template #default="scope">
            {{__.dateFormat(scope.row.fromTime, 'DD-MMM-YY hh:mm')}}
          </template>
        </el-table-column>
        <el-table-column label="by" property="fromBy" align="center" :width="100" />
      </el-table-column>
      <el-table-column label="to" align="center">
        <el-table-column label="location" property="toLocation" align="center" :width="100" />
        <el-table-column label="time" property="toTime" align="center" :width="150">
          <template #default="scope">
            {{__.dateFormat(scope.row.toTime, 'DD-MMM-YY hh:mm')}}
          </template>
        </el-table-column>
        <el-table-column label="by" property="toBy" align="center" :width="100" />
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import colorBadge from "@/composeable/useColorBadge"
  import useMasterBinLocation from "@/composeable/useMasterBinLocation"

  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  export default defineComponent({
    name: 'ItemTransferIndex',
    components: {
      SearchField,
      Calendar
    },
    setup() {
      const filter = reactive({
        itemcode: '',
        location: '',
        lpn: '',
        date: '',
      })
      const options = reactive({
        lpn: [],
      })
      const table = reactive({
        total: 10,
        data: [{
            code: '100007',
            itemName: 'ABC KCP MANIS 275 ML',
            lpn: '12312-LPN',
            fromLocation: 'A0012',
            fromBy: 'hasna',
            fromTime: '2022/02/14 13:35',
            toLocation: 'A0011',
            toBy: 'hasna',
            toTime: '2022/02/14 13:35',
          },

        ]
      })
      const {
        getMasterBinLocation,
        optionsMasterBinLocation
      } = useMasterBinLocation()
      onMounted(async () => {
        await getMasterBinLocation()
      });
      return {
        filter,
        options,
        table,
        optionsMasterBinLocation
      };
    },
  })
</script>