<template>
  <SearchField adv_id="material_in_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.document" :placeholder="`Search SN`">
    <p-row>
      <p-col lg="4">
        <p-select filterable item-class="mb-0" :label="__.trans('item')" v-model="filter.item" :options="optionsMasterItem"></p-select>
      </p-col>
      <p-col lg="4">
        <p-select filterable item-class="mb-0" :label="__.trans('Group By')" v-model="filter.group" :placeholder="__.trans('Select Group')" :options="options.group" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select filterable item-class="mb-0" :label="__.trans('Destination')" v-model="filter.destination" :options="optionsMasterDestination"></p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Material Out Report')}}</p-text>
      <p-flex ai="center">
        <btn-tool>
          {{__.trans('Export XLS')}}
        </btn-tool>
        <btn-tool>
          {{__.trans('Export CSV Detail')}}
        </btn-tool>
        <!-- <btn-add-new :to="{name:'outboundLoadingJobsCreate'}"></btn-add-new> -->

      </p-flex>
    </p-flex>
    <el-table class="table-header-only" ref="datatable" :highlight-current-row="false" :data="[table.data[0].data[0]]" style="width: 100%" header-row-class-name="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
      <el-table-column type="index" align="center" label="No" width="60" />
      <el-table-column label="Outbound Document" property="documentType" width="200" />
      <el-table-column label="Picking Document" property="receivingDocument" width="200" />
      <el-table-column label="Item" property="itemName" min-width="200" />
      <el-table-column label="qty (doc)" property="docQuantity" align="center" width="100" />
      <el-table-column label="qty (load)" property="loadQuantity" align="center" width="100" />
      <el-table-column label="batch" property="batch" align="center" width="100" />

    </el-table>

    <template v-for="(v,i) in table.data" :key="i">
      <p-text fs5 bolder class="mb-0 mt-3 ms-6">
        {{__.dateFormat(v.date)}}
      </p-text>

      <p-table-plain :data="v.data" :show-header="false">
        <el-table-column label="Outbound Document" property="documentType" width="200">
          <template #default="scope">
            <p-text class="mb-1">
              {{scope.row.documentNumber}}
            </p-text>
            <sub-text>{{ scope.row.documentType }}</sub-text>
            <sub-text>{{__.trans('destination')}} : {{scope.row.destinationName}} ({{scope.row.destinationCode}})</sub-text>
          </template>
        </el-table-column>
        <el-table-column label="Picking Document" property="pickingDocument" width="200">
          <template #default="scope">
            {{scope.row.pickingDocument}}
          </template>
        </el-table-column>
        <el-table-column label="Item" property="itemName" min-width="200">
          <template #default="scope">
            <p-text class="mb-1">
              [{{scope.row.itemCode}}] {{scope.row.itemName}}
            </p-text>
            <sub-text>LPN : {{ scope.row.lpn }}</sub-text>
          </template>
        </el-table-column>
        <el-table-column label="qty (doc)" property="docQuantity" align="center" width="100" />
        <el-table-column label="qty (load)" property="loadQuantity" align="center" width="100" />
        <el-table-column label="batch" property="batch" align="center" width="100" />

      </p-table-plain>

    </template>

  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import colorBadge from "@/composeable/useColorBadge"
  import useMasterItem from "@/composeable/useMasterItem"
  import useMasterBinLocation from "@/composeable/useMasterBinLocation"
  import useMasterOutboundDestination from "@/composeable/useMasterOutboundDestination"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  export default defineComponent({
    name: 'MaterialOutIndex',
    components: {
      SearchField,
      Calendar
    },
    setup() {
      const filter = reactive({
        sn: '',
        item: '',
        group: '',
        destination: '',
      })
      const options = reactive({
        group: [{
            value: 'Date',
            text: 'Date'
          },
          {
            value: 'Source',
            text: 'Source'
          }
        ],
      })
      const table = reactive({
        total: 10,
        data: [{
            date: '2022/05/23',
            data: [{
                documentType: 'Sales Order (SO)',
                documentNumber: 'SO-20220501392979',
                destinationCode: '184786',
                destinationName: 'PT DELTA PUSAKA INDAH',
                pickingDocument: 'PL-22052385332291',
                lpn: 'ABC-220105142551JB1248-XA2WA-S8983',
                itemCode: '861904',
                itemName: 'ABC SRDNS TOMAT DW PNG155G1809',
                docQuantity: '10 PCS',
                loadQuantity: '1 PCS',
                batch: 'test',
              },
              {
                documentType: 'Sales Order (SO)',
                documentNumber: 'SO-20220501392979',
                destinationCode: '184786',
                destinationName: 'PT DELTA PUSAKA INDAH',
                pickingDocument: 'PL-22052385332291',
                lpn: 'ABC-220105142551JB1248-XA2WA-S8983',
                itemCode: '861904',
                itemName: 'ABC SRDNS TOMAT DW PNG155G1809',
                docQuantity: '10 PCS',
                loadQuantity: '1 PCS',
                batch: 'test',
              },
            ]
          },
          {
            date: '2022/05/25',
            data: [{
                documentType: 'Sales Order (SO)',
                documentNumber: 'SO-20220501392979',
                destinationCode: '184786',
                destinationName: 'PT DELTA PUSAKA INDAH',
                pickingDocument: 'PL-22052385332291',
                lpn: 'ABC-220105142551JB1248-XA2WA-S8983',
                itemCode: '861904',
                itemName: 'ABC SRDNS TOMAT DW PNG155G1809',
                docQuantity: '10 PCS',
                loadQuantity: '1 PCS',
                batch: 'test',
              },
              {
                documentType: 'Sales Order (SO)',
                documentNumber: 'SO-20220501392979',
                destinationCode: '184786',
                destinationName: 'PT DELTA PUSAKA INDAH',
                pickingDocument: 'PL-22052385332291',
                lpn: 'ABC-220105142551JB1248-XA2WA-S8983',
                itemCode: '861904',
                itemName: 'ABC SRDNS TOMAT DW PNG155G1809',
                docQuantity: '10 PCS',
                loadQuantity: '1 PCS',
                batch: 'test',
              },
            ]
          },

        ]
      })
      const {
        getMasterItem,
        optionsMasterItem
      } = useMasterItem()
      const {
        getMasterOutboundDestination,
        optionsMasterDestination
      } = useMasterOutboundDestination()
      onMounted(async () => {
        await getMasterItem()
        await getMasterOutboundDestination()
      });

      return {
        filter,
        options,
        table,
        optionsMasterItem,
        optionsMasterDestination
      };
    },
  })
</script>
<style>
  .table-header-only .el-table__body-wrapper {
    display: none !important;
  }
</style>