<template>
  <SearchField adv_id="material_in_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.document" :placeholder="`Search SN`">
    <p-row>
      <p-col lg="4">
        <p-select filterable item-class="mb-0" :label="__.trans('item')" v-model="filter.item" :options="optionsMasterItem"></p-select>
      </p-col>
      <p-col lg="4">
        <p-select filterable item-class="mb-0" :label="__.trans('Group By')" v-model="filter.group" :placeholder="__.trans('Select Group')" :options="options.group" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select filterable item-class="mb-0" :label="__.trans('Source')" v-model="filter.source" :options="optionsMasterSource"></p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Material In Report')}}</p-text>
      <p-flex ai="center">
        <btn-tool>
          {{__.trans('Export XLS')}}
        </btn-tool>
        <btn-tool>
          {{__.trans('Export CSV Detail')}}
        </btn-tool>
        <!-- <btn-add-new :to="{name:'outboundLoadingJobsCreate'}"></btn-add-new> -->

      </p-flex>
    </p-flex>
    <el-table class="table-header-only" ref="datatable" :highlight-current-row="false" :data="[table.data[0].data[0]]" style="width: 100%" header-row-class-name="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
      <el-table-column type="index" align="center" label="No" width="60" />
      <el-table-column label="Inbound Document" property="documentType" width="200" />
      <el-table-column label="Receiving Document" property="receivingDocument" width="200" />
      <el-table-column label="Item" property="itemName" min-width="200" />
      <el-table-column label="quantity" property="quantity" align="center" width="100" />
      <el-table-column label="batch" property="batch" align="center" width="100" />
      <el-table-column label="user" property="user" align="center" width="100" />

    </el-table>

    <template v-for="(v,i) in table.data" :key="i">
      <p-text fs5 bolder class="mb-0 mt-3 ms-6">
        {{__.dateFormat(v.date)}}
      </p-text>

      <p-table-plain :data="v.data" :show-header="false">
        <el-table-column label="Inbound Document" property="documentType" width="200">
          <template #default="scope">
            <p-text class="mb-1">
              {{scope.row.documentNumber}}
            </p-text>
            <sub-text>{{ scope.row.documentType }}</sub-text>
            <sub-text>{{__.trans('source')}} : {{scope.row.sourceName}} ({{scope.row.sourceCode}})</sub-text>
          </template>
        </el-table-column>
        <el-table-column label="Receiving Document" property="receivingDocument" width="200">
          <template #default="scope">
            {{scope.row.receivingDocument}}
          </template>
        </el-table-column>
        <el-table-column label="Item" property="itemName" min-width="200">
          <template #default="scope">
            <p-text class="mb-1">
              {{scope.row.itemName}}
            </p-text>
            <sub-text>LPN : {{ scope.row.lpn }}</sub-text>
          </template>
        </el-table-column>
        <el-table-column label="quantity" property="quantity" align="center" width="100" />
        <el-table-column label="batch" property="batch" align="center" width="100" />
        <el-table-column label="user" property="user" align="center" width="100" />

      </p-table-plain>

    </template>

  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import colorBadge from "@/composeable/useColorBadge"
  import useMasterItem from "@/composeable/useMasterItem"
  import useMasterBinLocation from "@/composeable/useMasterBinLocation"
  import useMasterSource from "@/composeable/useMasterSource"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  export default defineComponent({
    name: 'MaterialInIndex',
    components: {
      SearchField,
      Calendar
    },
    setup() {
      const filter = reactive({
        sn: '',
        item: '',
        group: '',
        source: '',
      })
      const options = reactive({
        group: [{
            value: 'Date',
            text: 'Date'
          },
          {
            value: 'Source',
            text: 'Source'
          }
        ],
      })
      const table = reactive({
        total: 10,
        data: [{
            date: '2022/05/23',
            data: [{
                documentType: 'Purchase Order',
                documentNumber: 'PO-19230520229474',
                sourceCode: 'ST',
                sourceName: 'Copacker CV Sari Laut',
                receivingDocument: 'RCV-22052348517807',
                lpn: 'AB111',
                itemName: '846113 - ABC TAMARIND DRNK HK 250ML1905',
                quantity: '50 PCS',
                batch: 'test',
                user: 'edwin'
              },
              {
                documentType: 'Surat Jalan Pemindahan ( Co-packer )',
                documentNumber: 'SJP-WS001',
                sourceCode: 'ST',
                sourceName: 'Copacker CV Sari Laut',
                receivingDocument: 'RCV-22052348498185',
                lpn: 'AB111',
                itemName: '100007 - ABC KCP MANIS 275 ML',
                quantity: '50 PCS',
                batch: 'test',
                user: 'edwin'
              }
            ]
          },
          {
            date: '2022/05/25',
            data: [{
                documentType: 'Purchase Order',
                documentNumber: 'PO-19230520229474',
                sourceCode: 'ST',
                sourceName: 'Copacker CV Sari Laut',
                receivingDocument: 'RCV-22052348517807',
                lpn: 'AB111',
                itemName: '846113 - ABC T250ML1905',
                quantity: '50 PCS',
                batch: 'test',
                user: 'edwin'
              },
              {
                documentType: 'Surat Jalan Pemindahan ( Co-packer )',
                documentNumber: 'SJP-WS001',
                sourceCode: 'ST',
                sourceName: 'Copacker CV Sari Laut',
                receivingDocument: 'RCV-22052348498185',
                lpn: 'AB111',
                itemName: '100007 - ABC KCP MANIS 275 ML',
                quantity: '50 PCS',
                batch: 'test',
                user: 'edwin'
              }
            ]
          },

        ]
      })
      const {
        getMasterItem,
        optionsMasterItem
      } = useMasterItem()
      const {
        getMasterSource,
        optionsMasterSource
      } = useMasterSource()
      onMounted(async () => {
        await getMasterItem()
        await getMasterSource()
      });

      return {
        filter,
        options,
        table,
        optionsMasterItem,
        optionsMasterSource
      };
    },
  })
</script>
<style>
  .table-header-only .el-table__body-wrapper {
    display: none !important;
  }
</style>