<template>
  <!--begin::Menu-->
  <div class="
      menu
      menu-sub
      menu-sub-dropdown
      menu-column
      menu-rounded
      menu-gray-600
      menu-state-bg-light-primary
      fw-bold
      py-4
      fs-6
      w-275px
    " data-kt-menu="true">
    <!--begin::Menu item-->
    <div class="menu-item px-3">
      <div class="menu-content d-flex align-items-center px-3">
        <!--begin::Avatar-->
        <div class="symbol symbol-50px me-5">
          <img alt="Logo" src="/media/avatars/blank.png" />
        </div>
        <!--end::Avatar-->

        <!--begin::Username-->
        <div class="d-flex flex-column">
          <div class="fw-bolder d-flex align-items-center fs-5">
            Max Smith
          </div>
          <a href="#" class="fw-bold text-muted text-hover-primary fs-7">max@kt.com</a>
        </div>
        <!--end::Username-->
      </div>
    </div>
    <!--end::Menu item-->


    <!--begin::Menu separator-->
    <div class="separator my-2"></div>
    <!--end::Menu separator-->



    <!--begin::Menu item-->
    <div class="menu-item px-5 my-1">
      <router-link :to="{name:'changePassword'}" class="menu-link px-5">
        Change Password
      </router-link>
    </div>
    <!--end::Menu item-->

    <!--begin::Menu item-->
    <div class="menu-item px-5">
      <a @click="signOut()" class="menu-link px-5"> Sign Out </a>
    </div>
    <!--end::Menu item-->
  </div>
  <!--end::Menu-->
</template>

<script>
  import {
    defineComponent,
    computed
  } from "vue";
  import {
    useI18n
  } from "vue-i18n/index";
  import {
    useStore
  } from "vuex";
  import {
    useRouter
  } from "vue-router";
  import {
    Actions
  } from "@/store/enums/StoreEnums";

  export default defineComponent({
    name: "kt-user-menu",
    components: {},
    setup() {
      const router = useRouter();
      const i18n = useI18n();
      const store = useStore();

      i18n.locale.value = localStorage.getItem("lang") ?
        (localStorage.getItem("lang")) :
        "en";

      const countries = {
        en: {
          flag: "media/flags/united-states.svg",
          name: "English",
        },
        es: {
          flag: "media/flags/spain.svg",
          name: "Spanish",
        },
        de: {
          flag: "media/flags/germany.svg",
          name: "German",
        },
        ja: {
          flag: "media/flags/japan.svg",
          name: "Japanese",
        },
        fr: {
          flag: "media/flags/france.svg",
          name: "French",
        },
      };

      const signOut = () => {
        store
          .dispatch(Actions.LOGOUT)
          .then(() => router.push({
            name: "sign-in"
          }));
      };

      const setLang = (lang) => {
        localStorage.setItem("lang", lang);
        i18n.locale.value = lang;
      };

      const currentLanguage = (lang) => {
        return i18n.locale.value === lang;
      };

      const currentLangugeLocale = computed(() => {
        return countries[i18n.locale.value];
      });

      return {
        signOut,
        setLang,
        currentLanguage,
        currentLangugeLocale,
        countries,
      };
    },
  });
</script>