<template>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Roles')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'managementRolesCreate'}"></btn-add-new>
      </p-flex>
    </p-flex>
    <p-table :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="getData(api.getMasterRoles($event.currentPage,$event.perPage))" @onCurrentChange="getData(api.getMasterRoles($event.currentPage,$event.perPage))">
      <el-table-column label="Role Name" property="rolename" />
      <el-table-column label="Role Description" property="roledescription" />
      <el-table-column label="" property="action" width="120">
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-pencil-square">
              {{__.trans('edit')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-key">
              {{__.trans('editRole')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
              {{__.trans('delete')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref
  } from 'vue';
  import api from "@/api/master";
  import useGetData from "@/composeable/useGetData"
  export default defineComponent({
    name: 'ManagementRole',
    components: {

    },
    setup() {
      const {
        isMounted,
        loading,
        table,
        getData
      } = useGetData()
      onMounted(async () => {
        await getData(api.getMasterRoles(1, 10))
      });
      return {
        table,
        getData,
        isMounted,
        loading,
        api

      };
    },
  })
</script>