<template>
  <p-row class="justify-content-center">

    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New Role')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('Name')" required :placeholder="__.trans('Role Name')" v-model="input.name"></p-input>
        <p-input :label="__.trans('Description Name')" :placeholder="__.trans('Role Description')" v-model="input.description"></p-input>

        <p-flex jc="between">
          <btn-back :to="{name:'managementRolesIndex'}"></btn-back>
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    ref,
  } from 'vue';

  export default defineComponent({
    name: 'managementRolesCreate',
    setup() {
      const input = ref({
        name: '',
        description: ''
      })
      return {
        input
      };
    },
  })
</script>