<template>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of User')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'managementUsersCreate'}"></btn-add-new>
        <p-btn-dropdown btnSize="sm" w="w-250px">
          <template #button>
            {{__.trans('bulkAction')}}
          </template>
          <template #dropdown>
            <p-dropdown-item>
              {{__.trans('removeFromWarehouse')}}
            </p-dropdown-item>
            <p-dropdown-item>
              {{__.trans('addToWarehouse')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-file-earmark-arrow-up">
              {{__.trans('import')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-key">
              {{__.trans('renewLicense')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </p-flex>
    </p-flex>
    <p-table :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="getData(api.getMasterUsers($event.currentPage,$event.perPage))" @onCurrentChange="getData(api.getMasterUsers($event.currentPage,$event.perPage))">
      <el-table-column label="Name" property="fullname" />
      <el-table-column label="Username" property="username" />
      <el-table-column label="Role" property="userroles" />
      <el-table-column label="Status" property="status">
        <template #default="scope">
          <p-badge :variant="scope.row.status == 'ONLINE' ? 'success':'danger'">
            {{ scope.row.status }}
          </p-badge>
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="120">
        <p-btn class="me-1" icon="bi-pencil-square" size="sm" bg="light" activeColor="primary">
        </p-btn>
        <p-btn class="me-1" icon="bi-trash" size="sm" bg="light" activeColor="danger">
        </p-btn>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref
  } from 'vue';
  import api from "@/api/master";
  import useGetData from "@/composeable/useGetData"
  export default defineComponent({
    name: 'ManagementUsersIndex',
    components: {

    },
    setup() {
      const {
        isMounted,
        loading,
        table,
        getData
      } = useGetData()
      onMounted(async () => {
        await getData(api.getMasterUsers(1, 10))
      });
      return {
        table,
        getData,
        isMounted,
        loading,
        api

      };
    },
  })
</script>