<template>
  <p-row class="justify-content-center">

    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New User')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('NIK')" required :placeholder="__.trans('NIK')" v-model="input.nik"></p-input>
        <p-input :label="__.trans('Full Name')" required :placeholder="__.trans('Full Name')" v-model="input.name"></p-input>
        <p-select :label="__.trans('Role')" required v-model="input.role" :options="optionsMasterRole">
        </p-select>
        <p-input :label="__.trans('Username')" required :placeholder="__.trans('Username')" v-model="input.username"></p-input>
        <p-input :label="__.trans('Password')" required :placeholder="__.trans('Password')" v-model="input.password"></p-input>
        <p-select :label="__.trans('Assigned Warehouse')" :placeholder="__.trans('Select Assigned Warehouse')" v-model="input.warehouse" :options="optionsMasterWarehouse">
        </p-select>
        <p-select :label="__.trans('Assigned Area')" :placeholder="__.trans('Select Assigned Area')" v-model="input.area" :options="optionsMasterArea">
        </p-select>
        <p-select :label="__.trans('Status')" :placeholder="__.trans('Select Status')" required v-model="input.status" :options="options.status">
        </p-select>
        <p-flex jc="between">
          <btn-back :to="{name:'managementUsersIndex'}"></btn-back>
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    ref,
    onMounted,
    reactive
  } from 'vue';
  import useMasterRole from "@/composeable/useMasterRole"
  import useMasterArea from "@/composeable/useMasterArea"
  import useMasterWarehouse from "@/composeable/useMasterWarehouse"

  export default defineComponent({
    name: 'managementUsersCreate',
    setup() {
      const input = ref({
        nik: '',
        name: '',
        role: null,
        username: '',
        password: '',
        warehouse: '',
        area: '',
        status: '',
      })
      const options = reactive({

        status: [{
            text: 'Active',
            value: 'active'
          },
          {
            text: 'Inactive',
            value: 'inactive'
          },
        ]
      })
      const {
        getMasterWarehouse,
        optionsMasterWarehouse
      } = useMasterWarehouse()
      const {
        getMasterArea,
        optionsMasterArea
      } = useMasterArea()
      const {
        getMasterRole,
        optionsMasterRole
      } = useMasterRole(true)


      onMounted(async () => {
        await getMasterRole()
        await getMasterWarehouse()
        await getMasterArea()
      });
      return {
        input,
        options,
        optionsMasterRole,
        optionsMasterWarehouse,
        optionsMasterArea
      };
    },
  })
</script>