<template>
  <p-row class="justify-content-center">

    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New Inbound Document')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('Name')" required :placeholder="__.trans('Type Name')" v-model="input.code"></p-input>
        <p-select :label="__.trans('Input Document Code')" v-model="input.code" :placeholder="__.trans('Select Input Document Code')" :options="options.documentCode"></p-select>
        <p-select :label="__.trans('Source Type')" v-model="input.sourceType" :placeholder="__.trans('Select Source Type')" :options="optionsMasterSourceType"></p-select>
        <p-select :label="__.trans('Warehouse')" v-model="input.warehouse" :placeholder="__.trans('Select Warehouse')" :options="optionsMasterWarehouse"></p-select>
        <p-select :label="__.trans('Status')" v-model="input.status" :placeholder="__.trans('Select Status')" :options="options.status">
        </p-select>
        <p-flex jc="between">
          <btn-back :to="{name:'inboundDocumentIndex'}"></btn-back>
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    ref,
    onMounted,
    reactive
  } from 'vue';
  import useMasterWarehouse from "@/composeable/useMasterWarehouse"
  import useMasterSourceType from "@/composeable/useMasterSourceType"

  export default defineComponent({
    name: 'InboundDocumentCreate',
    setup() {
      const input = ref({
        name: '',
        code: null,
        sourceType: null,
        warehouse: null,
        status: null
      })
      const options = reactive({
        documentCode: [{
            text: 'Manual',
            value: 'manual'
          },
          {
            text: 'Auto Generate',
            value: 'auto'
          },
        ],
        status: [{
            text: 'Active',
            value: 'active'
          },
          {
            text: 'Inactive',
            value: 'inactive'
          },
        ]
      })
      const {
        getMasterWarehouse,
        optionsMasterWarehouse
      } = useMasterWarehouse()
      const {
        getMasterSourceType,
        optionsMasterSourceType
      } = useMasterSourceType()
      onMounted(async () => {
        await getMasterWarehouse()
        await getMasterSourceType()
      });
      return {
        input,
        optionsMasterWarehouse,
        optionsMasterSourceType,
        options
      };
    },
  })
</script>