<template>
  <SearchField adv_id="outbound_destination_advanced_search_form" class="mb-7">
    <p-row>
      <p-col lg="4">
        <p-input label="Code" placeholder="Code to filter" v-model="filter.code"></p-input>
      </p-col>
      <p-col lg="4">
        <p-input label="Contact Person" placeholder="CP to filter" v-model="filter.cp"></p-input>
      </p-col>
      <p-col lg="4">
        <p-input label="Email" placeholder="Email to filter" v-model="filter.email"></p-input>
      </p-col>
      <p-col lg="4">
        <p-input label="Phone" placeholder="Phone to filter" v-model="filter.phone"></p-input>
      </p-col>
      <p-col lg="4">
        <p-input label="Address" placeholder="Address to filter" v-model="filter.address"></p-input>
      </p-col>
      <p-col lg="4">
        <p-select label="Type" v-model="filter.types.selected" :options="filter.types.options">
        </p-select>
      </p-col>
      <p-flex jc="end">
        <button type="reset" class="btn btn-sm btn-white btn-active-light-primary me-2" data-kt-menu-dismiss="true">
          {{__.trans('reset')}}
        </button>
        <button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">
          {{__.trans('apply')}}
        </button>
      </p-flex>
    </p-row>
  </SearchField>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Destination Master')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'outboundDestinationCreate'}"></btn-add-new>
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-file-earmark-arrow-up">
              {{__.trans('import')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-file-earmark-excel">
              {{__.trans('export')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </p-flex>
    </p-flex>
    <p-table :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="getData($event.currentPage,$event.perPage)" @onCurrentChange="getData($event.currentPage,$event.perPage)">
      <el-table-column label="Name" property="destinationname">
        <template #default="scope">
          <p-text bolder class="mb-1">{{ scope.row.destinationname }}
            <span>({{scope.row.source_category_code}})</span>
          </p-text>
          <p-text v-if="scope.row.destinationcontactperson" fs8 class="mb-0">
            CP : {{scope.row.destinationcontactperson}}
          </p-text>
          <p-text v-if="scope.row.destinationphone" fs8 class="mb-0">
            {{__.trans('phone')}} : {{scope.row.destinationphone}}
          </p-text>
          <p-text v-if="scope.row.destinationemail" fs8 class="mb-0">
            {{__.trans('email')}} : {{scope.row.destinationemail}}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Address" property="sourceaddress">
        <template #default="scope">
          {{ scope.row.destinationaddress }}
          <br>
          <small>- {{scope.row.destinationcity}}</small>
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="120">
        <p-btn class="me-1" icon="bi-pencil-square" size="sm" bg="light" activeColor="primary">
        </p-btn>
        <p-btn class="me-1" icon="bi-trash" size="sm" bg="light" activeColor="danger">
        </p-btn>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    reactive,
    ref
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import tableHeader from "./OutboundDestinationTableHeader"
  import api from "@/api/master";
  export default defineComponent({
    name: 'OutboundDestination',
    components: {
      SearchField

    },
    setup() {

      const isMounted = ref(false);
      const loading = ref(true);
      const table = reactive({
        total: 644,
        data: []
      });
      const getData = async (page = 1, perPage = 10) => {
        loading.value = true
        try {
          const res = await api.getMasterDestinations(page, perPage)
          table.data = res.data.results
          isMounted.value = true
          loading.value = false
        } catch (error) {
          loading.value = false
          console.log(error);
        }
      }
      onMounted(async () => {
        getData()
      });
      const filter = ref({
        code: "",
        name: "",
        email: "",
        phone: "",
        cp: "",
        address: "",
        types: {
          selected: null,
          options: [{
              value: 1,
              text: "Customer",
            },
            {
              value: 2,
              text: "Vendor",
            },
            {
              value: 3,
              text: "Internal",
            }
          ]
        }
      })

      return {
        table,
        getData,
        loading,
        isMounted,
        filter
      };
    },
  })
</script>