<template>
  <p-row class="justify-content-center">
    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New Destination')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('Code')" required :placeholder="__.trans('Destination Code')" v-model="input.code"></p-input>
        <p-input :label="__.trans('Name')" required :placeholder="__.trans('Destination Name')" v-model="input.name"></p-input>
        <p-input :label="__.trans('Address')" required :placeholder="__.trans('Destination Address')" v-model="input.address"></p-input>
        <p-input :label="__.trans('Contact Person')" :placeholder="__.trans('Destination Contact Person')" v-model="input.contactPerson"></p-input>
        <p-input :label="__.trans('Phone')" :placeholder="__.trans('Destination Phone')" v-model="input.phone"></p-input>
        <p-input :label="__.trans('Email')" :placeholder="__.trans('Destination Email')" v-model="input.email"></p-input>
        <p-input :label="__.trans('City')" :placeholder="__.trans('Destination City')" v-model="input.city"></p-input>
        <p-select :label="__.trans('Type')" v-model="input.sourceType" :options="optionsMasterSourceType" :placeholder="__.trans('Destination Type')"></p-select>
        <p-flex jc="between">
          <btn-back :to="{name:'outboundDestinationIndex'}"></btn-back>
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    ref,
    onMounted,
    reactive
  } from 'vue';
  import useMasterSourceType from "@/composeable/useMasterSourceType"

  export default defineComponent({
    name: 'OutboundDestinationCreate',
    setup() {
      const input = ref({
        name: '',
        code: '',
        address: '',
        phone: '',
        contactPerson: '',
        email: '',
        city: '',
        sourceType: null
      })

      const {
        getMasterSourceType,
        optionsMasterSourceType
      } = useMasterSourceType()
      onMounted(async () => {
        await getMasterSourceType()
      });
      return {
        input,
        optionsMasterSourceType
      };
    },
  })
</script>