<template>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Outbound Documents')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'outboundDocumentCreate'}"></btn-add-new>
        <p-btn-dropdown btnSize="sm" w="w-250px">
          <template #button>
            {{__.trans('bulkAction')}}
          </template>
          <template #dropdown>
            <p-dropdown-item>
              {{__.trans('removeFromWarehouse')}}
            </p-dropdown-item>
            <p-dropdown-item>
              {{__.trans('addToWarehouse')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
        <button type="button" class="btn btn-sm btn-color-primary btn-active-light-primary" data-bs-toggle="dropdown" aria-expanded="false">
          {{__.trans('import')}}
        </button>
      </p-flex>
    </p-flex>
    <p-table :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="getData($event.currentPage,$event.perPage)" @onCurrentChange="getData($event.currentPage,$event.perPage)">
      <el-table-column label="Name" property="documenttypename" />
      <el-table-column label="Description" property="documenttypecode" />
      <el-table-column label="" property="action" width="120">
        <p-btn class="me-1" icon="bi-pencil-square" size="sm" bg="light" activeColor="primary">
        </p-btn>
        <p-btn class="me-1" icon="bi-trash" size="sm" bg="light" activeColor="danger">
        </p-btn>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive

  } from 'vue';
  import api from "@/api/master";
  import SearchField from '@/widgets/generals/Search.vue'
  export default defineComponent({
    name: 'OutboundDocumentIndex',
    components: {
      SearchField,
    },
    setup() {
      const isMounted = ref(false);
      const loading = ref(true);
      const table = reactive({
        total: 644,
        data: []
      });
      const getData = async (page = 1, perPage = 10) => {
        loading.value = true
        try {
          const res = await api.getMasterOutboundTypes(page, perPage)
          table.data = res.data.results
          isMounted.value = true
          loading.value = false
        } catch (error) {
          loading.value = false
          console.log(error);
        }
      }
      onMounted(async () => {
        getData()

      });
      return {
        table,
        getData,
        loading,
        isMounted,
      };
    },
  })
</script>