<template>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Source / Destination Categories Master')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'sourceDestinationTypeCreate'}"></btn-add-new>
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-file-earmark-arrow-up">
              {{__.trans('import')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-file-earmark-excel">
              {{__.trans('export')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </p-flex>
    </p-flex>
    <p-table :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="getData($event.currentPage,$event.perPage)" @onCurrentChange="getData($event.currentPage,$event.perPage)">
      <el-table-column label="Code" property="sourcecategorycode" />
      <el-table-column label="Name" property="sourcecategoryname" />
      <el-table-column label="" property="action" width="120">
        <p-btn class="me-1" icon="bi-pencil-square" size="sm" bg="light" activeColor="primary">
        </p-btn>
        <p-btn class="me-1" icon="bi-trash" size="sm" bg="light" activeColor="danger">
        </p-btn>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import api from "@/api/master";

  export default defineComponent({
    name: 'SourceDestinationTypeIndex',
    components: {

    },
    setup() {

      const isMounted = ref(false);
      const loading = ref(true);
      const table = reactive({
        total: 644,
        data: []
      });
      const getData = async (page = 1, perPage = 10) => {
        loading.value = true
        try {
          const res = await api.getMasterSourceDesCategories(page, perPage)
          table.data = res.data.results
          isMounted.value = true
          loading.value = false
        } catch (error) {
          loading.value = false
          console.log(error);
        }
      }
      onMounted(async () => {
        getData()

      });
      return {
        table,
        getData,
        loading,
        isMounted,
      };
    },
  })
</script>