<template>
  <p-row class="justify-content-center">
    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New Source / Destination Category')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('Code')" required :placeholder="__.trans('Source / Destination Category Code')" v-model="input.code"></p-input>
        <p-input :label="__.trans('Name')" required :placeholder="__.trans('Source / Destination Category Name')" v-model="input.name"></p-input>

        <p-flex jc="between">
          <btn-back :to="{name:'sourceDestinationTypeIndex'}"></btn-back>
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    ref,
    onMounted,
    reactive
  } from 'vue';

  export default defineComponent({
    name: 'SourceDestinationTypeCreate',
    setup() {
      const input = ref({
        name: '',
        code: ''
      })

      return {
        input
      };
    },
  })
</script>