<template>
  <p-row class="justify-content-center">

    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Change Password')}}</p-text>
        </p-flex>
        <p-input type="password" :label="__.trans('Name')" required :placeholder="__.trans('Old Password')" v-model="input.oldPassword"></p-input>
        <p-input type="password" :label="__.trans('Description Name')" :placeholder="__.trans('New Password')" v-model="input.newPassword"></p-input>
        <p-input type="password" :label="__.trans('Description Name')" :placeholder="__.trans('Confirm Password')" v-model="input.confirmPassword"></p-input>

        <p-flex jc="end">
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    ref,
  } from 'vue';

  export default defineComponent({
    name: 'ChangePassword',
    setup() {
      const input = ref({
        oldPassword: '',
        newPassword: '',
        confirmPassword: ''
      })
      return {
        input
      };
    },
  })
</script>