<template>
  <SearchField adv_id="receiving_jobs_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.code" :placeholder="`Search Receiving Document`" @onSearch="getNewData" @onReset="onResetFilter">
    <p-row>
      <p-col lg="4">
        <p-select :label="__.trans('Source')" v-model="filter.source" :placeholder="__.trans('Select Source')" :options="optionsMasterSource" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Document Status')" v-model="filter.status" :placeholder="__.trans('Select Document Status')" :options="options.documentReceivingStatus" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar ref="calendar" @onDateChange="onDateChange"></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>


  <p-loader :isLoading="false" />
  <p-row class="mb-3">
    <p-col lg="3">
      <SummaryCard title="Today's Receiving" value="200" subtitle="Items" icon="bi-archive" variant="bg-primary" />
    </p-col>
    <p-col lg="3">
      <SummaryCard title="Ready for Tally" value="100" subtitle="Items" icon="bi-clipboard-check" variant="bg-success" />
    </p-col>
    <p-col lg="3">
      <SummaryCard title="Ready for Putaway" value="20" subtitle="Items" icon="bi-cart-check" variant="bg-info" />
    </p-col>
    <p-col lg="3">
      <SummaryCard title="Avg Receive to Bin" value="50" subtitle="Time / Item" icon="bi-clock-history" variant="bg-warning" />
    </p-col>
  </p-row>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted" class="shadow-sm">

    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Receiving Jobs')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'inboundReceivingJobsCreate'}"></btn-add-new>
        <p-btn variant="color-primary" size="sm" class=" btn-active-light-primary">
          {{__.trans('import')}}
        </p-btn>

      </p-flex>
    </p-flex>
    <p-table :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="pageChange($event.currentPage,$event.perPage)" @onCurrentChange="pageChange($event.currentPage,$event.perPage)">
      <el-table-column label="Receiving No." property="code" width="180">
        <template #default="scope">
          <el-link type="primary" :underline="false" @click="openDetail(scope.row.id)">
            <p-text class="mb-1">
              {{ scope.row.code }}
            </p-text>
          </el-link>
          <p-text fs8 muted class="mb-0">
            {{__.trans('date')}} : {{__.dateFormat(scope.row.date, 'DD-MMM-YY hh:mm')}}
          </p-text>
          <p-text v-if="scope.row.remark" fs8 muted class="mb-0">
            {{__.trans('remark')}} : {{scope.row.remark}}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Document No." property="reference_doc" width="180" />
      <el-table-column label="Source" property="source">
        <template #default="scope">
          <p-text class="mb-1">{{ scope.row.source }}
          </p-text>
          <p-text v-if="scope.row.transporter" muted fs8 class="mb-0">
            {{__.trans('driver')}} : {{scope.row.driver}} ({{scope.row.transporter}})
          </p-text>
        </template>
      </el-table-column>
      <!-- <el-table-column label="Date" property="documentTime" width="150" align="center" /> -->

      <!-- <el-table-column label="Tally" property="finishTally" align="center" width="120" />
      <el-table-column label="Putaway" property="finishPutaway" align="center" width="120" /> -->
      <el-table-column label="Status" property="status" width="200">
        <template #default="scope">
          <p-text class="mb-1">{{ scope.row.status }}
            <el-popover v-if="scope.row.tally_start_time" :width="200" trigger="hover">
              <template #reference>
                <i class="bi bi-info-circle-fill"></i>
              </template>
              <template #default>

                <p-text v-if="scope.row.tally_start_time" bold fs8 class="mb-0"> {{__.trans('Tally')}}
                </p-text>
                <p-text v-if="scope.row.tally_start_time" fs8 muted class="mb-0">
                  {{__.trans('Start')}} :
                  {{__.dateFormat(scope.row.tally_start_time, 'DD-MMM-YY hh:mm')}}
                </p-text>
                <p-text v-if="scope.row.tally_finish_time" fs8 muted class="mb-0">
                  {{__.trans('Finish')}} :
                  {{__.dateFormat(scope.row.tally_finish_time, 'DD-MMM-YY hh:mm')}}
                </p-text>
                <p-text v-if="scope.row.putaway_start_time" bold fs8 class="mb-0"> {{__.trans('Putaway')}}
                </p-text>
                <p-text v-if="scope.row.putaway_start_time" fs8 muted class="mb-0">
                  {{__.trans('Start')}} : {{__.dateFormat(scope.row.putaway_start_time, 'DD-MMM-YY hh:mm')}}
                </p-text>
                <p-text v-if="scope.row.putaway_finish_time" fs8 muted class="mb-0">
                  {{__.trans('Finish')}} :{{__.dateFormat(scope.row.putaway_finish_time, 'DD-MMM-YY hh:mm')}}
                </p-text>
              </template>
            </el-popover>
          </p-text>

        </template>
      </el-table-column>
      <!-- <el-table-column label="Remark" property="remark" width="120" /> -->

      <el-table-column label="" property="action" width="80">
        <template #default="scope">
          <p-btn-dropdown icon btnSize="sm">
            <template #button>
              <i class="bi bi-three-dots fs-3"></i>
            </template>
            <template #dropdown>
              <p-dropdown-item icon="bi-search" @click="openDetail(scope.row.id)">
                {{__.trans('Detail')}}
              </p-dropdown-item>
              <p-dropdown-item icon="bi-printer">
                {{__.trans('print')}} Tally
              </p-dropdown-item>
              <p-dropdown-item icon="bi-printer">
                {{__.trans('print')}} GRN
              </p-dropdown-item>
              <p-dropdown-item icon="bi-pencil-square">
                {{__.trans('edit')}}
              </p-dropdown-item>
              <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
                {{__.trans('delete')}}
              </p-dropdown-item>
              <p-dropdown-item menuClass="text-danger" icon="bi-x-lg text-danger">
                {{__.trans('Cancel Receiving')}}
              </p-dropdown-item>
            </template>
          </p-btn-dropdown>
        </template>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    toRef,
    reactive,
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import useMasterInboundDocumentType from "@/composeable/useMasterInboundDocumentType"
  import useMasterSource from "@/composeable/useMasterSource"
  import colorBadge from "@/composeable/useColorBadge"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  import useGetData from "@/composeable/useGetData"
  import SummaryCard from "@/widgets/generals/SummaryCard.vue"
  import api from "@/api/inbound";
  import useCalendarFilterHandler from "@/composeable/useCalendarFilterHandler"
  import {
    useRouter
  } from 'vue-router'
  import {
    documentReceivingStatus
  } from "@/core/data/Options"
  export default defineComponent({
    name: 'InboundReceivingJobsIndex',
    components: {
      SearchField,
      Calendar,
      SummaryCard
    },
    setup() {
      const router = useRouter()
      const initialState = {
        warehouse_id: '0',
        page: '1',
        offset: '10',
        code: '',
        source: '',
        type: '',
        status: '',
        from: '',
        to: ''
      }
      const filter = reactive({
        ...initialState
      })
      const {
        calendar,
        onDateChange
      } = useCalendarFilterHandler(toRef(filter, 'from'), toRef(filter, 'to'))
      const options = reactive({
        inboundDocument: '',
        documentReceivingStatus: documentReceivingStatus
      })

      const {
        getMasterInboundDocumentType,
        optionsMasterDocumentType
      } = useMasterInboundDocumentType()
      const {
        getMasterSource,
        optionsMasterSource
      } = useMasterSource()
      const {
        isMounted,
        loading,
        table,
        getData
      } = useGetData()
      const getNewData = async () => {
        await getData(api.getReceivingList(filter))
      }
      const pageChange = async (currentPage, perPage) => {
        filter.page = currentPage
        filter.offset = perPage
        loading.value = true
        await getNewData()
        loading.value = false
      }
      const onResetFilter = async () => {
        Object.assign(filter, initialState)
        calendar.value.resetDate()
        await getNewData()
      }
      const openDetail = (id) => {
        router.push({
          name: 'inboundReceivingJobsDetail',
          params: {
            documentId: id
          }
        })
      }
      onMounted(async () => {
        await getMasterInboundDocumentType()
        await getMasterSource()
        await getNewData()
      });
      return {
        filter,
        options,
        table,
        optionsMasterSource,
        optionsMasterDocumentType,
        documentReceivingStatus,
        colorBadge,
        isMounted,
        loading,
        pageChange,
        onResetFilter,
        onDateChange,
        calendar,
        getNewData,
        openDetail
      };
    },
  })
</script>