<template>
  <p-loader :isLoading="!isMounted" />
  <DocumentInfoArea v-if="isMounted" :barcode="data.detail[0].code" :status="data.detail[0].status">
    <template #title>
      {{__.trans('Receiving Document #')}}
    </template>
    <template #detail>
      <p-text fs1 bolder>{{data.detail[0].reference_doc}}</p-text>
      <div>
        <DetailItem :title="__.trans('transporter')" :value="data.detail[0].transporter"></DetailItem>
        <DetailItem :title="__.trans('Driver Name')" :value="data.detail[0].driver"></DetailItem>
        <DetailItem :title="__.trans('Receive Date')" :value="__.dateFormat(data.detail[0].date,'DD-MMM-YY HH:mm')"></DetailItem>
        <DetailItem :title="__.trans('Finish Tally')" :value=" __.dateFormat(data.detail[0].tally_finish_time,'DD-MMM-YY HH:mm')"></DetailItem>
        <DetailItem :title="__.trans('Finish Putaway')" :value=" __.dateFormat(data.detail[0].putaway_finish_time,'DD-MMM-YY HH:mm')"></DetailItem>
      </div>
    </template>
    <template #info>
      <InfoItem :title="__.trans('Created By')" :value="data.detail[0].created_by"></InfoItem>
    </template>
  </DocumentInfoArea>
  <p-card :show="isMounted" class="mb-3 shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Tally Report')}}</p-text>
      <p-btn size="sm" variant="color-primary" class=" btn-active-light-primary">
        {{__.trans('Export')}}
      </p-btn>
    </p-flex>
    <p-table :isLoading="loading" :data="data.items" :total="data.items.length" @onPerPageChange="pageChange($event.currentPage,$event.perPage)" @onCurrentChange="pageChange($event.currentPage,$event.perPage)">
      <el-table-column label="Code" property="code" width="100" />
      <el-table-column label="Item Name" property="name" min-width="250" />
      <el-table-column label="Ordered" property="reference_qty" align="center" width="100" />
      <el-table-column label="Expected" property="qty" align="center" width="100" />
      <el-table-column label="Tally" property="received_qty" align="center" width="100" />
      <el-table-column label="Putaway" property="putaway_qty" align="center" width="100" />
      <el-table-column label="Discrepancy" property="discrepencies" align="center" width="130" />
      <el-table-column label="Good" property="good_qty" align="center" width="80" />
      <el-table-column label="NG" property="ng_qty" align="center" width="80" />
    </p-table>
  </p-card>
  <p-flex>
    <p-back-button :to="{name:'inboundReceivingJobsIndex'}"></p-back-button>
  </p-flex>
</template>
<script>
  // import Vue3Barcode from 'vue3-barcode'
  import {
    defineComponent,
    reactive,
    onMounted,
    ref,
    toRef
  } from 'vue';
  import api from "@/api/inbound";
  import {
    useRouter,
    useRoute
  } from 'vue-router'
  import useGetData from "@/composeable/useGetData"
  import colorBadge from "@/composeable/useColorBadge"
  import DocumentInfoArea from "@/widgets/detail/DocumentInfoArea.vue"
  import DocumentInfoAreaDetailItem from "@/widgets/detail/DocumentInfoAreaDetailItem.vue"
  import DocumentInfoAreaInfoItem from "@/widgets/detail/DocumentInfoAreaInfoItem.vue"
  export default defineComponent({
    name: 'InboundReceivingJobsDetail',
    components: {
      // 'barcode': Vue3Barcode,
      DocumentInfoArea,
      'DetailItem': DocumentInfoAreaDetailItem,
      'InfoItem': DocumentInfoAreaInfoItem
    },
    setup() {
      const route = useRoute()
      const data = ref({})
      const initialState = {
        warehouse_id: '0',
        page: '1',
        offset: '10',
      }
      const filter = reactive({
        ...initialState
      })
      const {
        isMounted,
        loading,
        getDataV2
      } = useGetData()
      const onClickRemoveItem = (index) => {
        input.items.splice(index, 1)
      }
      const pageChange = async (currentPage, perPage) => {
        filter.page = currentPage
        filter.offset = perPage
        loading.value = true
        await getNewData()
        loading.value = false
      }
      onMounted(async () => {
        await getDataV2(api.getReceivingDetail({
          id: route.params.documentId
        }), data.value)
      });

      return {
        onClickRemoveItem,
        isMounted,
        loading,
        data,
        colorBadge,
        pageChange
      };
    },
  })
</script>