<template>

  <p-card class="shadow-sm mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Create New Inbound Document')}}</p-text>
    </p-flex>
    <p-row>
      <p-col col>
        <el-form label-position="top">
          <el-form-item :label="__.trans('Inbound Date')">
            <el-date-picker class="w-100" v-model="input.date" type="date" :label="__.trans('Pick a date')" :shortcuts=" {
    text: 'Today',
    value: new Date(),
  }" />
          </el-form-item>
        </el-form>
        <p-select :label="__.trans('Document Type')" v-model="input.type" :options="optionsMasterDocumentType">
        </p-select>
        <p-select :label="__.trans('Source')" v-model="input.source" :options="optionsMasterSource">
        </p-select>
      </p-col>
      <p-col col>
        <p-input :label="__.trans('Remarks')" :placeholder="__.trans('Name for category')" v-model="input.remark"></p-input>
        <p-select :label="__.trans('Job for Warehouse')" v-model="input.warehouse" :options="optionsMasterWarehouse">
        </p-select>

      </p-col>
    </p-row>
  </p-card>
  <p-card class="shadow-sm  mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List Items')}}</p-text>
      <p-btn size="sm" variant="light-primary" @click="onClickAddItem">{{__.trans('Add')}}</p-btn>

    </p-flex>
    <p-table-plain :data="input.items">
      <el-table-column label="Item Name" property="name">
        <template #default="scope">
          <p-select filterable item-class="mb-0" v-model="scope.row.name" :options="optionsMasterItem" @input="onSelectItemInput($event,scope.$index)"></p-select>
        </template>
      </el-table-column>
      <el-table-column label="Quantity" property="quantity" width="120">
        <template #default="scope">
          <el-input type="number" :min="1" v-model="scope.row.quantity"></el-input>
        </template>
      </el-table-column>
      <el-table-column label="Uom" property="uom" width="120">
        <template #default="scope">
          {{scope.row.uom}}
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="80">
        <template #default="scope">
          <p-btn size="sm" variant="light-danger" icon="bi-x-lg" @click="onClickRemoveItem(scope.$index)"></p-btn>
        </template>
      </el-table-column>
    </p-table-plain>
  </p-card>
  <p-flex jc="between">
    <btn-back :to="{name:'inboundDocumentsIndex'}"></btn-back>
    <btn-submit></btn-submit>
  </p-flex>
</template>
<script>
  import {
    defineComponent,
    reactive,
    onMounted
  } from 'vue';
  import useMasterItem from "@/composeable/useMasterItem"
  import useMasterWarehouse from "@/composeable/useMasterWarehouse"
  import useMasterInboundDocumentType from "@/composeable/useMasterInboundDocumentType"
  import useMasterSource from "@/composeable/useMasterSource"
  export default defineComponent({
    name: 'InboundDocumentsCreate',
    setup() {
      const input = reactive({
        date: '',
        type: '',
        source: '',
        remark: '',
        warehouse: '',
        items: []
      })
      const {
        getMasterInboundDocumentType,
        optionsMasterDocumentType
      } = useMasterInboundDocumentType()
      const {
        getMasterSource,
        optionsMasterSource
      } = useMasterSource()
      const {
        getMasterItem,
        optionsMasterItem
      } = useMasterItem()
      const {
        getMasterWarehouse,
        optionsMasterWarehouse
      } = useMasterWarehouse()
      const onClickAddItem = () => {
        input.items.push({
          name: '',
          quantity: 1,
          uom: ''
        })
      }
      const onClickRemoveItem = (index) => {
        input.items.splice(index, 1)
      }
      const onSelectItemInput = (val, index) => {
        let uom = optionsMasterItem.value.find((item) => item.value == val).uom
        input.items[index].uom = uom
        console.log(uom);
      }
      onMounted(async () => {
        await getMasterInboundDocumentType()
        await getMasterSource()
        await getMasterWarehouse()
        await getMasterItem()
      });

      return {
        input,
        optionsMasterDocumentType,
        optionsMasterWarehouse,
        optionsMasterSource,
        optionsMasterItem,
        onClickAddItem,
        onClickRemoveItem,
        onSelectItemInput

      };
    },
  })
</script>