<template>
  <SearchField adv_id="putaway_logs_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.inboundDocument" :placeholder="`Search Receiving Number`">
    <p-row>
      <p-col lg="4">
        <p-input :label="__.trans('Document Number')" v-model="filter.documentNumber" :placeholder="__.trans('Search Document Number')">
        </p-input>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Location')" v-model="filter.location" :placeholder="__.trans('Select Location')" :options="optionsMasterBinLocation" :textAsValue="true">
        </p-select>
        <!-- <el-select v-model="filter.location" filterable remote reserve-keyword placeholder="Please enter a keyword" :remote-method="remoteMethod">
          <el-option v-for="item in options.locations" :key="item.value" :label="item.text" :value="item.value">
          </el-option>
        </el-select> -->
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Putaway')}}</p-text>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Document No." property="documentNumber" width="150" />
      <el-table-column label="Receiving No." property="receivingNumber" width="200" />
      <el-table-column label="Item" property="inboundSource">
        <template #default="scope">
          <p-text class="mb-1">[{{ scope.row.itemCode }}] {{ scope.row.itemName }}
          </p-text>
          <!-- <p-text v-if="scope.row.inboundSource" fs8 class="mb-0">
            {{__.trans('source')}} : {{scope.row.inboundSource}}
          </p-text> -->
          <p-text muted fs8 class="mb-0">
            {{__.trans('Serial Number')}} : {{scope.row.serialNumber}}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Date" property="receivingDate" align="center" width="120" />
      <el-table-column label="Location" property="location" align="center" width="120" />


    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import useMasterBinLocation from "@/composeable/useMasterBinLocation"
  import colorBadge from "@/composeable/useColorBadge"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  export default defineComponent({
    name: 'InboundPutawayLogsIndex',
    components: {
      SearchField,
      Calendar
    },
    setup() {
      const filter = reactive({
        documentNumber: '',
        receivingNumber: '',
        receivingDate: '',
        location: ''
      })
      const options = reactive({
        locations: []
      })

      const table = reactive({
        total: 10,
        data: [{
            documentNumber: 'SJPC-AA-02',
            receivingNumber: 'RCV-22031148282687',
            receivingDate: '11-Mar-22',
            serialNumber: 'SKB2B-220311110651QG9473',
            itemCode: '861912',
            itemName: 'ABC MCKRLEP EOE DW PNG425G1809',
            location: '2A0031',
          },
          {
            documentNumber: 'SJPC-0203202102',
            receivingNumber: 'RCV-22030248231310',
            receivingDate: '11-Mar-22',
            serialNumber: 'ABC-220302172821U2Y83',
            itemCode: '861907',
            itemName: 'ABC MCKRLTMT EOEDW PNG155G1809',
            location: 'A0031',
          },
        ]
      })

      const {
        getMasterBinLocation,
        optionsMasterBinLocation
      } = useMasterBinLocation()
      const remoteMethod = (query) => {
        if (query) {
          // loading.value = true
          setTimeout(() => {
            // loading.value = false
            options.locations = optionsMasterBinLocation.value.filter((item) => {
              return item.text.toLowerCase().includes(query.toLowerCase())
            })
          }, 200)
        } else {
          options.locations = []
        }
      }
      onMounted(async () => {
        await getMasterBinLocation()

      });
      return {
        filter,
        table,
        optionsMasterBinLocation,
        colorBadge,
        remoteMethod,
        options
      };
    },
  })
</script>