<template>

  <p-card class="shadow-sm mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Create New Receiving')}}</p-text>
    </p-flex>
    <p-row>
      <p-col col>

        <el-form label-position="top">
          <el-form-item :label="__.trans('Receiving Date')">
            <el-date-picker class="w-100" v-model="input.date" type="date" :label="__.trans('Pick a date')" :shortcuts=" {
    text: 'Today',
    value: new Date(),
  }" />
          </el-form-item>
        </el-form>
        <el-form label-position="top">
          <el-form-item :label="__.trans('Inbound Document')">
            <p-select filterable multiple class="w-100" @optionClick="onClickInboundDocumentOption" @onRemoveTag="removeInboundDocumentOption($event)" v-model="input.inboundDocument" :options="optionsInboundDocument">
            </p-select>
          </el-form-item>
        </el-form>
        <p-input :label="__.trans('Delivery Document')" :placeholder="__.trans('Delivery Document')" v-model="input.deliveryDocument"></p-input>
      </p-col>
      <p-col col>
        <p-input :label="__.trans('Driver Name')" :placeholder="__.trans('Driver Name')" v-model="input.driverName"></p-input>
        <p-input :label="__.trans('Transporter')" :placeholder="__.trans('B 123 ABC')" v-model="input.transporter"></p-input>
        <el-form label-position="top">
          <el-form-item :label="__.trans('Is Cross Dock')">
            <el-checkbox v-model="input.isCrossDock" :label="input.isCrossDock?'Yes': 'No'" />
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </p-card>
  <p-card class="shadow-sm mb-3">
    <p-flex jc="start" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List Items')}}</p-text>
      <!-- <p-btn size="sm" variant="light-primary" @click="onClickAddItem">{{__.trans('Add')}}</p-btn> -->

    </p-flex>

    <p-table-plain :data="input.items">
      <el-table-column label="Item Code" property="code" width="100">
        <template #default="scope">
          {{scope.row.code}}
        </template>
      </el-table-column>
      <el-table-column label="Item Name" property="item">
        <template #default="scope">
          {{scope.row.name}}
        </template>
      </el-table-column>
      <el-table-column label="Quantity" property="quantity" width="100">
        <template #default="scope">
          <el-input type="number" :min="1" v-model="scope.row.qty"></el-input>
        </template>
      </el-table-column>
    </p-table-plain>
  </p-card>
  <p-flex jc="between">
    <router-link tag="button" class="btn btn-sm btn-primary btn-light-primary shadow-sm" :to="{name:'inboundReceivingJobsIndex'}"> <i class="bi bi-chevron-left"></i>
      {{__.trans('back')}}</router-link>
    <btn-back :to="{name:'managementRolesIndex'}"></btn-back>

  </p-flex>
</template>
<script>
  import {
    defineComponent,
    reactive,
    onMounted
  } from 'vue';
  import useInboundDocument from "@/composeable/useInboundDocument"
  export default defineComponent({
    name: 'InboundReceivingJobsCreate',
    setup() {
      const data = reactive({
        searchInboundDocument: ''
      })
      const input = reactive({
        receivingDocument: '',
        date: '',
        inboundDocument: [],
        transporter: '',
        driverName: '',
        deliveryDocument: '',
        isCrossDock: false,
        items: []
      })

      const {
        getInboundDocument,
        getInboundDocumentItem,
        dataInboundDocumentItem,
        optionsInboundDocument
      } = useInboundDocument()

      const onClickRemoveItem = (index) => {
        input.items.splice(index, 1)
      }
      const onClickInboundDocumentOption = async (data) => {
        let isExistByIndex = input.items.findIndex(item => item.id == data.value)
        if (isExistByIndex >= 0) {
          removeInboundDocumentOption(data.value)
          return
        }
        await getInboundDocumentItem(data.value)
        let mutatedItems = dataInboundDocumentItem.value.items.map((item) => ({
          ...item,
          id: dataInboundDocumentItem.value.detail[0].id
        }))
        mutatedItems.map(item => input.items.push(item))
      }
      const removeInboundDocumentOption = (id) => {
        const newData = input.items.filter(item => item.id != id)
        input.items = newData
      }
      const searchInboundDocument = async (query) => {
        console.log(query);
        let params = {
          code: query
        }
        await getInboundDocument(params)
      }
      onMounted(async () => {

        await getInboundDocument()
      });

      return {
        data,
        input,
        optionsInboundDocument,
        searchInboundDocument,
        onClickRemoveItem,
        onClickInboundDocumentOption,
        removeInboundDocumentOption,
        dataInboundDocumentItem

      };
    },
  })
</script>