<template>
  <p-row class="justify-content-center">

    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New Warehouse Area')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('Area Name')" required :placeholder="__.trans('Area Name')" v-model="input.code"></p-input>
        <p-input :label="__.trans('Area Desciption')" required :placeholder="__.trans('Area Desciption')" v-model="input.description"></p-input>
        <p-select :label="__.trans('Warehouse')" v-model="input.warehouse" :placeholder="__.trans('Select Warehouse')" :options="optionsMasterWarehouse">
        </p-select>
        <p-flex jc="between">
          <btn-back :to="{name:'locationAreaIndex'}"></btn-back>
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    ref,
    onMounted
  } from 'vue';
  import useMasterWarehouse from "@/composeable/useMasterWarehouse"

  export default defineComponent({
    name: 'BinAreaCreate',
    setup() {
      const input = ref({
        name: '',
        description: '',
        warehouse: null
      })
      const {
        getMasterWarehouse,
        optionsMasterWarehouse
      } = useMasterWarehouse(true)


      onMounted(async () => {
        await getMasterWarehouse()
      });
      return {
        input,
        optionsMasterWarehouse
      };
    },
  })
</script>