<template>
  <SearchField adv_id="bin_location_advanced_search_form" class="mb-7">
    <p-row>
      <p-col lg="4">
        <p-input label="Description" placeholder="Description to filter" v-model="filter.description"></p-input>
      </p-col>
      <p-col lg="4">
        <p-select label="Categories" v-model="filter.categories" :options="optionsMasterCategories">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select label="Areas" v-model="filter.areas" :options="optionsMasterArea">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select label="Types" v-model="filter.types" :options="optionsMasterType">
        </p-select>
      </p-col>
      <p-flex jc="end">
        <button type="reset" class="btn btn-sm btn-white btn-active-light-primary me-2" data-kt-menu-dismiss="true">
          {{__.trans('reset')}}
        </button>
        <button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">
          {{__.trans('apply')}}
        </button>
      </p-flex>
    </p-row>
  </SearchField>
  <p-loader :isLoading="!isMounted" />
  <p-card :show="isMounted">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Bin Location')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'locationBinCreate'}"></btn-add-new>
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-file-earmark-arrow-up">
              {{__.trans('import')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-file-earmark-excel">
              {{__.trans('export')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-printer">
              {{__.trans('print')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </p-flex>
    </p-flex>
    <p-table :isLoading="loading" :data="table.data" :total="table.total" @onPerPageChange="getData($event.currentPage,$event.perPage)" @onCurrentChange="getData($event.currentPage,$event.perPage)">
      <el-table-column label="Bin Name" property="locationname" />
      <el-table-column label="Bin Description" property="locationdescription" />
      <el-table-column label="Bin Category" property="categoryname" />
      <el-table-column label="Bin Type" property="typename" />
      <el-table-column label="Bin Area" property="areaname" />
      <el-table-column label="" property="action" width="120">
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-printer">
              {{__.trans('print')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-pencil-square">
              {{__.trans('edit')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
              {{__.trans('delete')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </el-table-column>
    </p-table>

  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import useMasterCategories from "@/composeable/useMasterCategories"
  import useMasterArea from "@/composeable/useMasterArea"
  import useMasterType from "@/composeable/useMasterType"
  import api from "@/api/master";

  export default defineComponent({
    name: 'BinArea',
    components: {
      SearchField,

    },
    setup() {

      const isMounted = ref(false);
      const loading = ref(true);
      const table = reactive({
        total: 644,
        data: []
      });
      const filter = ref({
        description: '',
        categories: null,
        areas: null,
        types: null,
      })
      const {
        getMasterCategories,
        optionsMasterCategories
      } = useMasterCategories()
      const {
        getMasterArea,
        optionsMasterArea
      } = useMasterArea()
      const {
        getMasterType,
        optionsMasterType
      } = useMasterType()

      const getData = async (page = 1, perPage = 10) => {
        loading.value = true
        try {
          const res = await api.getMasterBinLocation(page, perPage)
          table.data = res.data.result
          isMounted.value = true
          loading.value = false
        } catch (error) {
          loading.value = false
          console.log(error);
        }
      }
      onMounted(async () => {
        await getMasterCategories()
        await getMasterArea()
        await getMasterType()
        getData()
      });
      return {
        table,
        getData,
        filter,
        loading,
        isMounted,
        optionsMasterCategories,
        optionsMasterArea,
        optionsMasterType

      };
    },
  })
</script>