<template>
  <p-row class="justify-content-center">

    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New Bin Location')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('Bin Name')" required :placeholder="__.trans('Bin Name')" v-model="input.code"></p-input>
        <p-input :label="__.trans('Bin Desciption')" :placeholder="__.trans('Bin Desciption')" v-model="input.description"></p-input>
        <p-row>
          <p-col>
            <p-select :label="__.trans('Location Category')" required :placeholder="__.trans('Select Location Category')" v-model="input.category" :options="optionsMasterCategories">
            </p-select>
          </p-col>
          <p-col>
            <p-select :label="__.trans('Location Type')" required :placeholder="__.trans('Select Location Type')" v-model="input.type" :options="optionsMasterType">
            </p-select>
          </p-col>
        </p-row>
        <p-select :label="__.trans('Location Area')" required :placeholder="__.trans('Select Location Area')" v-model="input.area" :options="optionsMasterArea">
        </p-select>
        <p-row>
          <p-col>
            <p-input :label="__.trans('Color Code Level')" :placeholder="__.trans('Color Code Level')" v-model="input.colorCodeLevel"></p-input>
          </p-col>
          <p-col>
            <p-input :label="__.trans('Color Code Bin')" :placeholder="__.trans('Color Code Bin')" v-model="input.colorCodeBin"></p-input>
          </p-col>
        </p-row>
        <p-row>
          <p-col>
            <p-input :label="__.trans('Rack')" :placeholder="__.trans('Rack')" v-model="input.rack"></p-input>
          </p-col>
          <p-col>
            <p-input :label="__.trans('Row')" :placeholder="__.trans('Row')" v-model="input.row"></p-input>
          </p-col>
          <p-col>
            <p-input :label="__.trans('Level')" :placeholder="__.trans('Level')" v-model="input.level"></p-input>
          </p-col>
          <p-col>
            <p-input :label="__.trans('Bin')" :placeholder="__.trans('Bin')" v-model="input.bin"></p-input>
          </p-col>
        </p-row>

        <p-flex jc="between">
          <btn-back :to="{name:'locationBinIndex'}"></btn-back>
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    ref,
    onMounted
  } from 'vue';
  import useMasterCategories from "@/composeable/useMasterCategories"
  import useMasterType from "@/composeable/useMasterType"
  import useMasterArea from "@/composeable/useMasterArea"

  export default defineComponent({
    name: 'BinLocationCreate',
    setup() {
      const input = ref({
        name: '',
        description: '',
        warehouse: null,
        category: '',
        area: '',
        type: '',
        colorCodeLevel: '',
        colorCodeBin: '',
        rack: '',
        row: '',
        level: '',
        bin: '',
      })
      const {
        getMasterCategories,
        optionsMasterCategories
      } = useMasterCategories()
      const {
        getMasterType,
        optionsMasterType
      } = useMasterType()
      const {
        getMasterArea,
        optionsMasterArea
      } = useMasterArea()


      onMounted(async () => {
        await getMasterCategories()
        await getMasterType()
        await getMasterArea()
      });
      return {
        input,
        optionsMasterCategories,
        optionsMasterType,
        optionsMasterArea
      };
    },
  })
</script>