<template>
  <p-row class="justify-content-center">

    <p-col sm="8" md="6">
      <p-card class="shadow-sm">
        <p-flex jc="between" ai="center">
          <p-text fs3 bolder class="mb-1">{{__.trans('Add New Location Type')}}</p-text>
        </p-flex>
        <p-input :label="__.trans('Type Name')" required :placeholder="__.trans('Type Name')" v-model="input.code"></p-input>
        <p-input :label="__.trans('Type Desciption')" :placeholder="__.trans('Type Desciption')" v-model="input.description"></p-input>
        <p-flex jc="between">
          <btn-back :to="{name:'locationTypeIndex'}"></btn-back>
          <btn-submit></btn-submit>
        </p-flex>
      </p-card>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    ref,
    onMounted
  } from 'vue';

  export default defineComponent({
    name: 'BinTypeCreate',
    setup() {
      const input = ref({
        name: '',
        description: '',
      })
      return {
        input
      };
    },
  })
</script>