<template>
  <p-card :show="show" class="mb-5 bg-transparent" header-class="border-0 pt-5 " body-class="pt-0">
    <template v-slot:header>
      <div class="w-100">

        <p-row>
          <p-col :md="$slots['header-tool']?'6':'12'">
            <h3 class="card-title align-items-start flex-column">
              <p-text bolder fs3 class="mb-1">{{ title }}</p-text>
              <p-text bold fs7 muted> {{ subtitle }} </p-text>
            </h3>
          </p-col>
          <p-col v-if="$slots['header-tool']" md="6">
            <slot name="header-tool"></slot>

          </p-col>
        </p-row>
      </div>

    </template>
    <slot></slot>
  </p-card>
</template>
<script>
  import {
    defineComponent
  } from "vue";
  export default defineComponent({
    name: "Container",
    props: {
      title: String,
      subtitle: String,
      show: {
        type: Boolean,
        default: true
      }
    },
  });
</script>