<template>
  <p-card :show="show" class="shadow-sm h-100" header-class="border-0 pt-5" body-class="pt-0" footer-class="border-0 p-0">
    <template #header>
      <h3 class="card-title">
        <p-text bolder fs3 class="mb-1"> {{ title }} </p-text>
      </h3>
    </template>
    <slot></slot>
    <template #footer>
      <slot name="chart"></slot>
    </template>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from "vue";
  export default defineComponent({
    name: "FloorOperatorsPerformanceContainer",
    props: {
      title: String,
      show: {
        type: Boolean,
        default: true
      }
    },
  });
</script>