<template>
  <div class="shadow-sm rounded ps-4 pe-2 py-2" :class="isSelected ? 'bg-light-primary' : 'bg-light-dark hoverable'">
    <p-flex ai="center" jc="start">
      <!-- <div class="rounded-circle me-3" :class="isSelected ? 'bg-primary' : 'bg-dark'" style="width: 7px; height: 7px"></div> -->
      <p-text muted fs8 bold class="mb-0">{{ title }}</p-text>
    </p-flex>
    <p-flex ai="center">
      <p-text tag="div" fs7 bolder>{{ value }}</p-text>
      <i v-if="indicatorTrend" class="bi bi-arrow-up text-success"></i>
      <i v-else class="bi bi-arrow-down text-danger"></i>
      {{ indicatorValue }}
    </p-flex>
  </div>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from "vue";
  export default defineComponent({
    name: "FloorOperatorsPerformanceItem",
    props: {
      title: {
        type: String,
      },
      value: {
        type: String || Number,
      },
      indicatorValue: {
        type: String || Number,
      },
      indicatorTrend: {
        type: Boolean,
      },
      isSelected: {
        type: Boolean,
      },
    },
    setup() {
      return {};
    },
  });
</script>