<template>
  <p-row class="mb-3">
    <p-col cols="5">
      <div :class="`bg-light-${variant} rounded text-${variant} p-3`">
        <p-text end fs5 bolder class="mb-0"> {{ value }} </p-text>
      </div>
    </p-col>
    <p-col cols="7">
      <div class="p-3">
        <p-text bolder fs5 class="mb-0"> {{ title }} </p-text>
      </div>
    </p-col>
  </p-row>
</template>
<script>
  import {
    defineComponent,
    onMounted
  } from "vue";
  export default defineComponent({
    name: "OperationActivitiesTotals",
    props: {
      title: String,
      value: String || Number,
      variant: {
        type: String,
        default: "primary",
      },
    },
  });
</script>