<template>
  <p-card :show="show" class="shadow-sm">
    <p-text bolder fs3> {{ title }} </p-text>
    <slot></slot>
  </p-card>
</template>
<script>
  import {
    defineComponent
  } from "vue";
  export default defineComponent({
    name: "OperationActivitiesContainer",
    props: {
      title: String,
      show: {
        type: Boolean,
        default: true
      }
    },
  });
</script>