<template>
  <p-text fs5>{{ title }}</p-text>
  <p-card :class="`bg-light-${variant} p-0 mb-3`" body-class="py-5">
    <p-text center bolder fs3 :class="`text-${variant} mb-0`">{{
      data
    }}</p-text>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted
  } from "vue";
  export default defineComponent({
    name: "ProcessingTimeItem",
    props: {
      title: String,
      data: String,
      variant: String,
    },
  });
</script>