<template>
  <!--begin::Layout Builder Notice-->
  <div class="card mb-10">
    <div class="card-body d-flex align-items-center py-4">
      <!--begin::Icon-->
      <div class="d-flex h-50px w-50px flex-shrink-0 flex-center position-relative">
        <span class="svg-icon svg-icon-primary position-absolute opacity-15">
          <inline-svg src="/media/icons/duotune/abstract/abs051.svg" class="h-50px w-50px" />
        </span>
        <span class="svg-icon svg-icon-2x svg-icon-primary position-absolute">
          <inline-svg src="/media/icons/duotune/general/gen045.svg" />
        </span>
      </div>
      <!--end::Icon-->

      <!--begin::Description-->
      <div class="ms-6">
        <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
          {{ text }}
        </p>
      </div>
      <!--end::Description-->
    </div>
  </div>
  <!--end::Layout Builder Notice-->
</template>
<script>
  export default {
    name: "PageInfo",
    props: {
      text: String,
    },
  };
</script>
<style></style>