<template>
  <p-loader :isLoading="!state.isMounted" />

  <DocumentInfoArea v-if="state.isMounted" :idBarcode="`searchreceivedbarcode`" :barcode="data.code" :status="data.status">
    <template #header>
      <p-text fs3 bolder class="mb-1">{{__.trans('Received')}}</p-text>
    </template>
    <template #title>
      {{__.trans('Receiving Document #')}}
      <!-- <barcode :value="data.code" :width="1" :height="50" :fontSize="15"></barcode> -->

    </template>
    <template #detail>
      <p-text fs1 bolder>{{data.source_name}}</p-text>
      <div>
        <DetailItem :title="__.trans('Vehicle Plate')" :value="data.vehiclePlate"></DetailItem>
        <DetailItem :title="__.trans('driver')" :value="data.driver"></DetailItem>
        <DetailItem :title="__.trans('document')" :value="data.document"></DetailItem>
        <DetailItem :title="__.trans('Receiving Date')" :value="`${__.dateFormat(data.receivingDate)} : ${data.timeReceiving}`"></DetailItem>
        <DetailItem :title="__.trans('Tally')" :value="`Finished at ${data.tally}`"></DetailItem>
        <DetailItem :title="__.trans('Put Away')" :value="`${data.putaway}`"></DetailItem>
      </div>
    </template>

    <template #info>
      <InfoItem :title="__.trans('Created By')" :value="data.createdBy"></InfoItem>
    </template>
  </DocumentInfoArea>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import colorBadge from "@/composeable/useColorBadge"
  import DocumentInfoArea from "@/widgets/detail/DocumentInfoArea.vue"
  import DocumentInfoAreaDetailItem from "@/widgets/detail/DocumentInfoAreaDetailItem.vue"
  import DocumentInfoAreaInfoItem from "@/widgets/detail/DocumentInfoAreaInfoItem.vue"
  import Vue3Barcode from 'vue3-barcode'

  export default defineComponent({
    name: 'SearchReceived',
    components: {
      DocumentInfoArea,
      'DetailItem': DocumentInfoAreaDetailItem,
      'InfoItem': DocumentInfoAreaInfoItem,
      'barcode': Vue3Barcode,

    },
    setup() {
      const state = reactive({
        isMounted: false,
        isLoading: true
      })
      const data = reactive({
        code: 'RCV-22052748583831',
        vehiclePlate: 'B 123 ABC',
        driver: 'DC Driver',
        document: '',
        receivingDate: new Date(),
        timeReceiving: '16:08',
        tally: 'Finished at 16:25',
        putaway: 'Finished at 16:25',
        createdBy: 'Hasna',
        status: 'Complete'
      })
      onMounted(() => {
        setTimeout(() => {
          state.isMounted = true
          state.isLoading = false
        }, 1000);
      });
      return {
        data,
        state

      };
    },
  })
</script>