<template>
  <p-loader :isLoading="!state.isMounted" />
  <p-card v-if="state.isMounted" class="mb-3 shadow-sm">
    <p-text fs3 bolder class="mb-1">{{__.trans('Outbound')}}</p-text>
    <div class="text-center">
      <p-text fs5>
        {{__.trans('It looks like you have no Outbound Document yet...')}}
      </p-text>
      <btn-tool-link :to="{name:'outboundDocumentsCreate'}">
        {{__.trans('Create New Document')}}
      </btn-tool-link>
    </div>
  </p-card>

</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'SearchOutbound',

    setup() {
      const state = reactive({
        isMounted: false,
        isLoading: true
      })
      onMounted(() => {
        setTimeout(() => {
          state.isMounted = true
          state.isLoading = false
        }, 200);
      });
      return {
        state
      };
    },
  })
</script>