<template>
  <div>
    <LpnDetail></LpnDetail>
    <Inbound></Inbound>
    <Received></Received>
    <Outbound></Outbound>
    <Picking></Picking>
    <Loading></Loading>
  </div>
</template>
<script setup>
  import {
    onMounted,
    ref,
    reactive
  } from 'vue';
  import LpnDetail from './SearchLpnDetail.vue'
  import Inbound from './SearchInbound.vue'
  import Received from './SearchReceived.vue'
  import Outbound from './SearchOutbound.vue'
  import Picking from './SearchPicking.vue'
  import Loading from './SearchLoading.vue'
  onMounted(() => {});
</script>