<template>
  <p-loader :isLoading="!state.isMounted" />
  <p-card v-if="state.isMounted" class="mb-3 shadow-sm">
    <p-text fs3 bolder class="mb-1">{{__.trans('LPN Detail')}}</p-text>
    <div class="mb-5">
      <p-flex sm jc="between">
        <div class="mb-3 mb-sm-0">
          <p-text fs1 bolder>[{{data.itemCode}}] {{data.itemName}}</p-text>
          <p-flex>
            <p-flex class="pe-3 me-3">
              <p-text fs5 muted class="me-3">Serial Number :</p-text>
              <p-text fs5> {{data.lpn}}</p-text>
            </p-flex>
            <p-flex>
              <p-text fs5 muted class="me-3">Source :</p-text>
              <p-text fs5> {{data.source}}</p-text>
            </p-flex>
          </p-flex>
        </div>
        <div class="text-end">
          <div>
            <p-badge outline :variant=" colorBadge(data.status)" class="border-5">
              <p-text class="mb-0  display-5 text-uppercase">
                {{data.status}}
              </p-text>
            </p-badge>
          </div>
        </div>
      </p-flex>
      <p-flex jc="between" ai="center">
        <div>
          <span class="badge rounded-pill badge-light-primary me-3">
            {{ data.category1 }}
          </span>
          <span class="badge rounded-pill badge-light-primary me-3">
            {{ data.category2 }}</span>
          <span class="badge rounded-pill badge-light-success me-3">
            {{ data.pickingStrategy }}</span>
          <span class="badge rounded-pill badge-light-info">
            {{ __.ucfirst(data.pickingPeriod) }}</span>
        </div>
        <div>
          <p-badge outline variant="primary" class="border-2 me-3">
            Date In: {{__.dateFormat(data.dateIn)}}
          </p-badge>
          <p-badge outline variant="danger" class="border-2">
            Date Expired: {{__.dateFormat(data.dateExpired)}}
          </p-badge>
        </div>
      </p-flex>
    </div>
    <p-table :isLoading="false" :data="data.list" :total="10">
      <el-table-column label="Item Code" property="itemCode" min-width="100" />
      <el-table-column label="Item Name" property="itemName" min-width="250" />
      <el-table-column label="LPN" property="lpn" min-width="200" />
      <el-table-column label="from" property="fromtime" min-width="100">
        <template #default="scope">
          {{scope.row.fromLocation}}
          <el-popover :width="200" trigger="hover">
            <template #reference>
              <i class="bi bi-info-circle-fill"></i>
            </template>
            <template #default>
              <p-text fs8 muted class="mb-0">
                {{__.trans('date')}} : {{__.dateFormat(scope.row.fromTime, 'DD-MMM-YY hh:mm')}}
              </p-text>
              <p-text fs8 muted class="mb-0">
                {{__.trans('by')}} : {{scope.row.fromBy}}
              </p-text>
            </template>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="to" property="toTime" min-width="100">
        <template #default="scope">
          {{scope.row.toLocation}}
          <el-popover :width="200" trigger="hover">
            <template #reference>
              <i class="bi bi-info-circle-fill"></i>
            </template>
            <template #default>
              <p-text fs8 muted class="mb-0">
                {{__.trans('date')}} : {{__.dateFormat(scope.row.toTime, 'DD-MMM-YY hh:mm')}}
              </p-text>
              <p-text fs8 muted class="mb-0">
                {{__.trans('by')}} : {{scope.row.toBy}}
              </p-text>
            </template>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column label="process" property="processtype" min-width="100" />
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import colorBadge from "@/composeable/useColorBadge"

  export default defineComponent({
    name: 'SearchLpnDetail',
    setup() {
      const state = reactive({
        isMounted: false,
        isLoading: true
      })
      const data = reactive({
        itemCode: 9887823,
        itemName: 'AMBAL HIJAU KOTAK UKURAN 15gr',
        category1: 'General - Genearal',
        category2: '',
        uom: 'pcs',
        status: 'Open',
        pickingStrategy: 'FEFO',
        pickingPeriod: 'MONTHLY',
        quarantineDuration: 20,
        lpn: "ABC-220527162419MYN174 ",
        source: "OWNER PMI ",
        dateIn: new Date(),
        dateExpired: new Date(),
        list: [{
          itemCode: 9887823,
          lpn: "ABC-220527162419MYN174 ",
          itemName: 'AMBAL HIJAU KOTAK UKURAN 15gr',
          fromTime: new Date(),
          fromBy: 'Hasna',
          fromLocation: 'Inbound',
          toTime: new Date(),
          toBy: 'Hasna',
          toLocation: 'Inbound',
          processtype: 'RECEIVING',

        }],

      })
      onMounted(() => {
        setTimeout(() => {
          state.isMounted = true
          state.isLoading = false
        }, 200);
      });
      return {
        data,
        colorBadge,
        state

      };
    },
  })
</script>