<template>
  <p-loader :isLoading="!state.isMounted" />
  <p-card v-if="state.isMounted" class="mb-3 shadow-sm">
    <p-text fs3 bolder class="mb-1">{{__.trans('Loading')}}</p-text>
    <p-flex jc="center">
      <p-text fs5>
        {{__.trans('It looks like you have no Loading Document yet...')}}
      </p-text>
    </p-flex>
  </p-card>

</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'SearchLoading',

    setup() {
      const state = reactive({
        isMounted: false,
        isLoading: true
      })
      onMounted(() => {
        setTimeout(() => {
          state.isMounted = true
          state.isLoading = false
        }, 500);
      });
      return {
        state
      };
    },
  })
</script>