<template>
  <p-loader :isLoading="!state.isMounted" />

  <DocumentInfoArea v-if="state.isMounted" :idBarcode="`searchreceivedbarcode`" :barcode="data.code" :status="data.status">
    <template #header>
      <p-text fs3 bolder class="mb-1">{{__.trans('Inbound')}}</p-text>
    </template>
    <template #title>
      {{__.trans('Inbound Document #')}}
    </template>
    <template #detail>
      <p-text fs1 bolder>{{data.source_name}}</p-text>
      <div>
        <DetailItem :title="__.trans('code')"></DetailItem>
        <DetailItem :title="__.trans('address')" :value="data.source_address"></DetailItem>
        <DetailItem :title="__.trans('city')" :value="data.source_city"></DetailItem>
        <DetailItem :title="__.trans('phone')" :value="data.source_phone"></DetailItem>
        <DetailItem :title="__.trans('CP')" :value="data.source_contact_person"></DetailItem>
      </div>
    </template>

    <template #info>
      <InfoItem class="me-3" :title="__.trans('Date')" :value="__.dateFormat(data.date)"></InfoItem>
      <InfoItem class="me-3" :title="__.trans('Document Type')" :value="data.type"></InfoItem>
      <InfoItem :title="__.trans('Created By')" :value="data.created_by"></InfoItem>
    </template>
  </DocumentInfoArea>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import colorBadge from "@/composeable/useColorBadge"
  import DocumentInfoArea from "@/widgets/detail/DocumentInfoArea.vue"
  import DocumentInfoAreaDetailItem from "@/widgets/detail/DocumentInfoAreaDetailItem.vue"
  import DocumentInfoAreaInfoItem from "@/widgets/detail/DocumentInfoAreaInfoItem.vue"

  export default defineComponent({
    name: 'SearchInbound',
    components: {
      DocumentInfoArea,
      'DetailItem': DocumentInfoAreaDetailItem,
      'InfoItem': DocumentInfoAreaInfoItem
    },
    setup() {
      const state = reactive({
        isMounted: false,
        isLoading: true
      })
      const data = reactive({
        code: 'PO-28270520220782',
        status: 'Close',
        source_name: '',
        source_address: '',
        source_city: '',
        source_phone: '',
        source_contact_person: '',
        qty: '10',
        date: new Date(),
        type: 'Purchase Order',
        created_by: 'Hasna',
      })
      onMounted(() => {
        setTimeout(() => {
          state.isMounted = true
          state.isLoading = false
        }, 500);
      });
      return {
        data,
        state
      };
    },
  })
</script>