<template>
  <router-link tag="button" class="btn btn-sm btn-primary btn-light-primary shadow-sm" :to="to"> <i class="bi bi-chevron-left"></i>
    {{__.trans('back')}}</router-link>
</template>
<script>
  import {
    defineComponent
  } from 'vue';
  export default defineComponent({
    name: 'PBackButton',
    props: {
      to: {
        type: Object,
        default: () => {}
      },
    }
  })
</script>