<template>
  <!-- <span :class='`badge${variant}${pill}`'> -->
  <span :class="outline?`border border-${variant} text-${variant} badge`:`badge${variantOptions}${pill}`">
    <slot></slot>
  </span>
</template>
<script>
  import {
    defineComponent,
    computed
  } from 'vue';
  export default defineComponent({
    name: 'PBadge',
    props: {
      variant: {
        type: String,
        default: 'secondary'
      },
      pill: {
        type: Boolean,
        default: false
      },
      outline: {
        type: Boolean,
        default: false
      },
    },
    setup(props) {
      const variantOptions = computed(() => {
        return !props.outline ? ` bg-${props.variant} ` : "";
      });
      const pill = computed(() => {
        return props.pill ? ` rounded-pill ` : "";
      });
      return {
        variantOptions,
        pill
      };
    },
  })
</script>