<template>
  <button type="button" :class="`btn btn-${variant} ${icon?'btn-icon':''} ${bg?`btn-bg-${bg}`:''}  ${activeColor?`btn-active-color-${activeColor}`:''}  ${props.class} ${sizeOptions}`">
    <span v-if="icon" class="menu-icon">
      <i :class="`bi ${icon}`"></i>
    </span>
    <slot></slot>
  </button>
</template>
<script>
  import {
    defineComponent,
    computed
  } from "vue";
  export default defineComponent({
    name: "PBtn",
    props: {
      class: {
        type: String,
          default: "",
      },
      variant: {
        type: String,
        default: "",
      },
      size: {
        type: String,
        default: "",
      },
      icon: {
        type: String,
        default: ""
      },
      bg: {
        type: String,
        default: ""
      },
      activeColor: {
        type: String,
        default: ""
      },
    },
    setup(props) {
      // onMounted(() => {
      // });
      const sizeOptions = computed(() => {
        return props.size ? `btn-${props.size}` : "";
      });
      return {
        props,
        sizeOptions,
      };
    },
  });
</script>