<template>

  <el-dropdown :trigger="trigger" :placement="placement">
    <button :class="[props.class,variantOptions,'btn',sizeOptions,btnIcon]">
      <slot name="button"></slot>
    </button>
    <template #dropdown>
      <el-dropdown-menu :class="`menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary py-4 ${dropdownClass}`  ">
        <slot name="dropdown"></slot>
      </el-dropdown-menu>
    </template>
  </el-dropdown>

  <!-- <p-btn :class="props.class" :data-kt-menu-trigger="trigger" :data-kt-menu-placement="placement" :data-kt-menu-attach="attach" :data-kt-menu-flip="flip" :size="btnSize">
    <slot name="button"></slot>
  </p-btn>
  <div :class="`dropdown-menu menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary menu menu-sub menu-sub-dropdown ${w} ${wsm} ${dropdownClass}`" data-kt-menu="true">
    <slot name="dropdown"></slot>
  </div> -->
</template>
<script>
  import {
    defineComponent,
    computed
  } from "vue";
  export default defineComponent({
    name: "PBtnDropdown",
    props: {
      class: {
        type: String,
          default: "",
      },
      variant: {
        type: String,
        default: "primary",
      },
      icon: {
        type: Boolean,
        default: false,
      },
      trigger: {
        type: String,
        default: 'click'
      },
      placement: {
        type: String,
        default: 'bottom'
      },
      attach: {
        type: String,
        default: 'parent'
      },
      flip: {
        type: String,
        default: 'bottom'
      },
      btnSize: {
        type: String,
        default: ''
      },
      dropdownClass: {
        type: String,
        default: ''
      },
      w: {
        type: String,
        default: 'w-150px'
      },
      wmd: {
        type: String,
        default: 'w-md-250px'
      }
    },
    setup(props) {
      const btnIcon = computed(() => {
        return props.icon ? `btn-icon` : "";
      });
      const sizeOptions = computed(() => {
        return props.btnSize ? `btn-${props.btnSize}` : "";
      });
      const variantOptions = computed(() => {
        return `btn-color-${props.variant} btn-active-light-${props.variant}`;
      });
      return {
        props,
        variantOptions,
        sizeOptions,
        btnIcon
      }
    }
  });
</script>