<template>
  <Transition :name="transition">
    <div v-if="show" :class="`card ${props.class}`">
      <div v-if="$slots.header" :class="`card-header  ${headerClass}`" :style="headerStyle">
        <slot name="header"></slot>
      </div>
      <div :class="`card-body ${bodyClass}`" :style="bodyStyle">
        <slot></slot>
      </div>
      <div v-if="$slots.footer" :class="`card-footer  ${footerClass}`" :style="footerStyle">
        <slot name="footer"></slot>
      </div>
    </div>
  </Transition>
</template>
<script>
  import {
    defineComponent,
    // onMounted,
    // ref,
    // reactive
  } from "vue";
  export default defineComponent({
    name: "PCard",
    props: {
      transition: {
        type: String,
        default: "slide-fade",
      },
      class: {
        type: String,
          default: "",
      },
      show: {
        type: Boolean,
        default: true,
      },
      bodyClass: {
        type: String,
        default: "",
      },
      headerClass: {
        type: String,
        default: "",
      },
      footerClass: {
        type: String,
        default: "",
      },
      bodyStyle: {
        type: String || Object,
        default: "",
      },
      headerStyle: {
        type: String || Object,
        default: "",
      },
      footerStyle: {
        type: String || Object,
        default: "",
      },
    },
    setup(props) {
      //   onMounted(() => {});
      return {
        props,
      };
    },
  });
</script>