<template>
  <div :class="`text-start p-5 menu menu-sub menu-sub-dropdown ${w} ${wmd}`" data-kt-menu="true">
    <div class="menu-item">

      <slot></slot>
    </div>
  </div>
</template>
<script>
  import {
    defineComponent
  } from "vue";
  export default defineComponent({
    name: "PDropdown",
    props: {
      w: {
        type: String,
        default: 'w-250px'
      },
      wmd: {
        type: String,
        default: 'w-md-300px'
      }
    }
  });
</script>