<template>
  <div :class="`menu-item px-2 ${props.class}`">
    <span :class="`menu-link ps-2 ${menuClass}`">
      <span v-if="icon" class="menu-icon">
        <i :class="`bi ${icon}` "></i>
      </span>
      <slot></slot>
    </span>
  </div>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'PDropdownItem',
    props: {
      class: {
        type: String,
          default: ''
      },
      menuClass: {
        type: String,
        default: ''
      },
      icon: {
        type: String,
        default: ''
      }
    },
    setup(props) {
      onMounted(() => {});
      return {
        props
      };
    },
  })
</script>