<template>
  <p-flex jc="center" ai="center" class="py-8 h-100 flex-column">
    <p-text bolder class="fs-2x">{{__.trans('Data Not Available')}}</p-text>
    <p-text v-if="state === 1" bold fs3 muted>{{__.trans('No data from database or search / filter query')}}</p-text>
    <p-text v-if="state === 2" bold fs3 muted>{{__.trans('No data from database with selected date range')}}</p-text>
  </p-flex>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'PEmptyState',
    props: {
      state: {
        type: Number,
        default: 1
      }
    },
    setup() {

      return {};
    },
  })
</script>