<template>
  <el-form :label-position="labelPosition">
    <el-form-item :label="label" :required="required">
      <el-input v-model="newValue" :type="type" :min="min" :disabled="disabled" :placeholder="placeholder">
        <template v-if="$slots.prepend" #prepend>
          <slot name="prepend"></slot>
        </template>
        <template v-if="$slots.append" #append>
          <slot name="append"></slot>
        </template>
      </el-input>
    </el-form-item>
  </el-form>
</template>
<script>
  import {
    defineComponent,
    computed,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'PInput',
    props: {
      label: {
        type: String,
        default: ''
      },
      type: {
        type: String,
        default: 'text'
      },
      min: {
        type: Number,
        default: null
      },
      required: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      labelPosition: {
        type: String,
        default: 'top'
      },
      modelValue: {
        type: String || Number,
        default: null
      },
      placeholder: {
        type: String,
        default: ''
      }
    },
    setup(props, {
      emit
    }) {

      // const newValue = ref()
      // watchEffect(() => {
      //   newValue.value = props.value;
      // });
      const newValue = computed({
        get: () => props.modelValue,
        set: (value) => emit("update:modelValue", value),
      });
      return {
        newValue,
        // newValue
      };
    },
  })
</script>