<template>
  <div class=" w-100" style="height:80%" v-loading="isLoading" v-if="isLoading">
  </div>
</template>
<script>
  import {
    defineComponent
  } from 'vue';
  export default defineComponent({
    name: 'PLoader',
    props: {
      isLoading: {
        type: Boolean,
        default: false
      },
    }
  }, )
</script>