<template>
  <div :class="`progress ${props.class}`" :style="containerStyle">
    <div
      :class="`progress-bar  bg-${variant} ${barClass}`"
      role="progressbar"
      :style="`width:${value}%;${barStyle}`"
      :aria-valuenow="value"
      :aria-valuemin="min"
      :aria-valuemax="max"
    >
      <slot></slot>
    </div>
  </div>
</template>
<script>
import { defineComponent, computed } from "vue";
export default defineComponent({
  name: "PProgress",
  props: {
    class: {
      type: String,
      default: "",
    },
    style: {
      type: String,
      default: "",
    },
    height: {
      type: String,
      default: "",
    },
    variant: {
      type: String,
      default: "primary",
    },
    value: {
      type: Number,
      default: 0,
    },
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 0,
    },
    barStyle: {
      type: String || Object,
      default: "",
    },
    barClass: {
      type: String || Object,
      default: "",
    },
  },
  setup(props) {
    const containerStyle = computed(() => {
      return props.height
        ? `height:${props.height};${props.style}`
        : props.style;
    });
    return {
      props,
      containerStyle,
    };
  },
});
</script>
