<template>
  <el-form :label-position="labelPosition">
    <el-form-item v-if="!radio" :class="itemClass" :label="label" :required="required">
      <el-select v-model="newValue" class="w-100" :filterable="filterable" :remote="remote" :remoteMethod="remoteMethod" :placeholder="placeholder" :multiple="multiple" @remove-tag="$emit('onRemoveTag', $event)">
        <el-option v-for="(v, i) in options" :key="i" :label="v.text" :value="textAsValue? v.text :v.value" @click="$emit('optionClick',v)">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item v-if="radio" :label="label" :required="required">
      <template v-for="(v, i) in options" :key="i">
        <el-radio v-model="newValue" :label="textAsValue? v.text :v.value">{{ v.text }}</el-radio>
      </template>
    </el-form-item>
  </el-form>
</template>
<script>
  import {
    defineComponent,
    computed,
    ref,
    reactive,
    watch
  } from 'vue';

  export default defineComponent({
    name: 'PSelect',
    props: {
      label: {
        type: String,
        default: ''
      },
      itemClass: {
        type: String,
        default: ''
      },
      placeholder: {
        type: String,
        default: 'Select'
      },
      required: {
        type: Boolean,
        default: false
      },
      textAsValue: {
        type: Boolean,
        default: false
      },
      radio: {
        type: Boolean,
        default: false
      },
      multiple: {
        type: Boolean,
        default: false
      },
      options: {
        type: Array,
        default: []
      },
      labelPosition: {
        type: String,
        default: 'top'
      },
      modelValue: {
        type: String || Number,
        default: null
      },
      placeholder: {
        type: String,
        default: ''
      },
      filterable: {
        type: Boolean,
        default: false
      },
      remote: {
        type: Boolean,
        default: false
      },
      remoteMethod: {
        type: Function,
        default: null
      },
    },
    setup(props, {
      emit
    }) {

      // const newValue = ref()
      // watchEffect(() => {
      //   newValue.value = props.value;
      // });
      const newValue = computed({
        get: () => props.modelValue,
        set: (value) => emit("update:modelValue", value),
      });
      watch(newValue, (newValue, prevNewValue) => {
        emit("input", newValue)
      });
      // const updateValue = (value) => {
      //   emit("update:value", value)
      // }
      return {
        // updateValue,
        newValue
      };
    },
  })
</script>