<template>
  <div class="symbol me-8">
    <span :class="`bg-${variant} `" class="symbol-label">
      <slot></slot>
    </span>
  </div>
</template>
<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "PSymbol",
  props: {
    variant: {
      type: String,
      default: "primary",
    },
  },
  setup() {
    return {};
  },
});
</script>
