<template>
  <div class="dataTables_wrapper dt-bootstrap4 no-footer">
    <div class="table-responsive mb-5">
      <!-- {{isLoadingData}} -->
      <el-table ref="datatable" v-loading="isLoading" :highlight-current-row="false" v-if="isMounted && data.length > 0" :data="data" style="width: 100%" :border="false" @selection-change="handleSelectionChange" @current-change="onCurrentChange" header-row-class-name="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
        <!-- <el-table-column type="selection" align="center" width="50" /> -->
        <el-table-column type="index" align="center" label="No" width="60" :index="indexMethod" />
        <slot></slot>
      </el-table>

    </div>
    <p-row>
      <p-col sm="12" md="5">
        <p-flex ai="center" jc="center" jcmd="start">
          <div class="py-md-0 py-5">
            <label>
              <select class="form-select form-select-sm form-select-solid" @change="onPerPageChange">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
          </div>
        </p-flex>
      </p-col>
      <p-col sm="12" md="7">
        <p-flex ai="center" jc="center" jcmd="end">
          <el-pagination v-model:current-page="currentPageModel" @current-change="onCurrentChange" :page-size="table.perPage" layout="prev, pager, next" :total="total" :hide-on-single-page="true" background>
          </el-pagination>
        </p-flex>
      </p-col>
    </p-row>
  </div>
  <p-empty-state v-if="isMounted && data.length === 0"></p-empty-state>

</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    computed,
    nextTick,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'PTable',
    props: {
      data: {
        type: Array,
        default: () => []
      },
      isLoading: {
        type: Boolean,
        default: false
      },
      isMounted: {
        type: Boolean,
        default: true
      },
      // currentPage: {
      //   type: Number,
      //   default: 1
      // },
      // perPage: {
      //   type: Number,
      //   default: 10
      // },
      total: {
        type: Number,
        default: 0
      },
    },
    setup(props, {
      emit
    }) {
      const datatable = ref()
      const selectedRow = ref([])
      // const perPage = ref(10)
      // const currentPage = ref(10)
      const table = reactive({
        currentPage: 1,
        perPage: 10
      })
      const indexMethod = (index) => {
        return index + 1 + (table.currentPage - 1) * table.perPage
      }
      const onPerPageChange = (val) => {
        table.perPage = val.target.value
        emit("onPerPageChange", table)
      }
      // const onCurrentChange = (val) => {
      //   table.currentPage = val
      //   emit("onCurrentChange", table)
      // }
      const currentPageModel = computed({
        get: () => table.currentPage,
        set: (value) => {
          table.currentPage = value
          emit("onCurrentChange", table)

        },
      });
      const onRowSelect = (selection, row) => {
        selectedRow.value.push(row)
      }
      const handleSelectionChange = (val) => {
        // console.log('selection', selection);
        console.log('handleSelectionChange', val);
        selectedRow.value = val
      }
      const onCurrentChange = () => {
        setTimeout(() => {

          nextTick(() => {

            selectedRow.value.forEach((row) => {
              console.log(row);
              datatable.value.toggleRowSelection(row, undefined)
            });
          })
        }, 500);
      }
      return {
        datatable,
        table,
        onPerPageChange,
        currentPageModel,
        indexMethod,
        handleSelectionChange,
        onRowSelect,
        onCurrentChange
      };
    },
  })
</script>