<template>
  <div class="dataTables_wrapper dt-bootstrap4 no-footer">
    <div class="table-responsive mb-5">
      <el-table ref="datatable" :show-header="showHeader" :highlight-current-row="false" :data="data" style="width: 100%" header-row-class-name="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
        <el-table-column type="index" align="center" label="No" width="60" :index="indexMethod" />
        <slot></slot>
      </el-table>
    </div>
  </div>
</template>
<script>
  import {
    defineComponent
  } from 'vue';
  export default defineComponent({
    name: 'PTablePlain',
    props: {
      data: {
        type: Array,
        default: () => []
      },
      showHeader: {
        type: Boolean,
        default: true
      }
    },
    setup(props, {
      emit
    }) {
      const indexMethod = (index) => {
        return index + 1
      }
      return {
        indexMethod
      };
    },
  })
</script>