<template>
  <div :class="`${props.class}${flexOptions}${alignItemsOptions}${justifyContentOptions}${justifyContentMidOptions}${column}${row}${auto}`">
    <slot></slot>
  </div>
</template>
<script>
  import {
    defineComponent,
    computed
  } from "vue";
  export default defineComponent({
    name: "PFlex",
    props: {
      class: {
        type: String,
          default: "",
      },
      inline: {
        type: Boolean,
      },
      sm: {
        type: Boolean,
      },
      md: {
        type: Boolean,
      },
      lg: {
        type: Boolean,
      },
      xl: {
        type: Boolean,
      },
      xxl: {
        type: Boolean,
      },
      ai: {
        type: String,
      },
      jc: {
        type: String,
      },
      jcmd: {
        type: String,
      },
      column: {
        type: Boolean,
      },
      row: {
        type: Boolean,
      },
      auto: {
        type: Boolean,
      },
    },
    setup(props) {
      const inline = computed(() => {
        return props.inline ? `-inline` : "";
      });
      const sm = computed(() => {
        return props.sm ? `-sm` : "";
      });
      const md = computed(() => {
        return props.md ? `-md` : "";
      });
      const lg = computed(() => {
        return props.lg ? `-lg` : "";
      });
      const xl = computed(() => {
        return props.xl ? `-xl` : "";
      });
      const xxl = computed(() => {
        return props.xxl ? `-xxl` : "";
      });
      const justifyContentOptions = computed(() => {
        return props.jc ? ` justify-content-${props.jc}` : "";
      });
      const justifyContentMidOptions = computed(() => {
        return props.jcmd ? ` justify-content-md-${props.jcmd}` : "";
      });
      const alignItemsOptions = computed(() => {
        return props.ai ? ` align-items-${props.ai}` : "";
      });
      const column = computed(() => {
        return props.column ? ` flex-column` : "";
      });
      const row = computed(() => {
        return props.row ? ` flex-row` : "";
      });
      const auto = computed(() => {
        return props.auto ? ` flex-auto` : "";
      });
      const flexOptions = computed(() => {
        return ` d${sm.value}${md.value}${lg.value}${xl.value}${xxl.value}${inline.value}-flex`;
      });

      return {
        flexOptions,
        props,
        justifyContentOptions,
        alignItemsOptions,
        justifyContentMidOptions,
        column,
        row,
        auto
      };
    },
  });
</script>