<template>
  <p-loader :isLoading="false" />
  <DocumentInfoArea v-if="true" :barcode="data.code" :status="data.status">
    <template #title>
      {{__.trans('Bin Transfer Doc')}}
    </template>
    <template #detail>

    </template>
    <template #info>
      <InfoItem class="me-3" :title="__.trans('For Warehouse')" :value="data.warehouse"></InfoItem>
      <InfoItem class="me-3" :title="__.trans('Date')" :value="__.dateFormat(data.date)"></InfoItem>
      <InfoItem class="me-3" :title="__.trans('Created By')" :value="data.createdBy"></InfoItem>
    </template>
  </DocumentInfoArea>
  <p-card :show="true" class="mb-3 shadow-sm">
    <p-text fs3 bolder class="mb-1">{{__.trans('Ordered Item')}}</p-text>
    <transition name="slide-fade" mode="out-in">
      <div :key="state.detail">
        <div v-if="state.detail == false">

          <p-table :isLoading="false" :data="table.data" :total="table.total">
            <el-table-column label="item code" property="itemCode" align="center" width="100" />
            <el-table-column label="item name" property="itemName" min-width="250" />
            <el-table-column label="ordered" property="ordered" width="150">
              <template #default="scope">
                {{scope.row.ordered}} {{scope.row.uom}}
              </template>
            </el-table-column>
            <el-table-column label="picked" property="picked" width="150">
              <template #default="scope">
                {{scope.row.picked}} {{scope.row.uom}}
              </template>
            </el-table-column>
            <el-table-column label="" property="action" align="center" width="100">
              <template #default="scope">
                <p-btn @click="state.detail = true" size="sm" variant="color-primary" class="btn-active-light-primary">
                  {{__.trans('Detail')}}
                </p-btn>
              </template>
            </el-table-column>

          </p-table>
        </div>
        <div v-if="state.detail == true">
          <p-table-plain :isLoading="false" :data="tableDetail.data" :total="tableDetail.total">
            <el-table-column label="LPN" property="lpn" width="150" />
            <el-table-column label="Qty" align="center" property="qty" width="50" />
            <el-table-column label="Exp Date" align="center" property="expDate" width="120">
              <template #default="scope">
                {{__.dateFormat(scope.row.expDate)}}
              </template>
            </el-table-column>
            <el-table-column label="Lot Number" property="lotNumber" align="center" width="150" />
            <el-table-column label="Mfg Date" align="center" property="mfgDate" width="120">
              <template #default="scope">
                {{__.dateFormat(scope.row.mfgDate)}}
              </template>
            </el-table-column>
            <el-table-column label="No Pallete" property="noPallete" align="center" width="120" />
            <el-table-column label="Receive Date" align="center" property="receivedDate" width="120">
              <template #default="scope">
                {{__.dateFormat(scope.row.receivedDate)}}
              </template>
            </el-table-column>
            <el-table-column label="From" property="location" align="center" width="100">
              <template #default="scope">
                {{scope.row.location}}
              </template>
            </el-table-column>
            <el-table-column label="to" property="location" align="center" width="100">
              <template #default="scope">
                {{scope.row.location}}
              </template>
            </el-table-column>
            <el-table-column label="Status" property="status" align="center" width="100">
              <template #default="scope">
                {{scope.row.status}}
              </template>
            </el-table-column>
            <el-table-column label="pick by" property="pickBy" align="center" width="120" />
            <el-table-column label="Batch" property="batch" align="center" width="120" />

          </p-table-plain>
          <div class="w-100 text-end">
            <p-btn size="sm" variant="color-primary" class="btn-active-primary" @click="state.detail = false">{{__.trans('Ok')}}</p-btn>
          </div>
        </div>
      </div>
    </transition>
  </p-card>
  <p-flex>
    <p-back-button :to="{name:'operationBinTransferIndex'}"></p-back-button>
  </p-flex>
</template>
<script>
  // import Vue3Barcode from 'vue3-barcode'
  import {
    defineComponent,
    reactive,
    onMounted,
    ref,
    toRef
  } from 'vue';
  import api from "@/api/inbound";
  import {
    useRouter,
    useRoute
  } from 'vue-router'
  import useGetData from "@/composeable/useGetData"
  import colorBadge from "@/composeable/useColorBadge"
  import DocumentInfoArea from "@/widgets/detail/DocumentInfoArea.vue"
  import DocumentInfoAreaDetailItem from "@/widgets/detail/DocumentInfoAreaDetailItem.vue"
  import DocumentInfoAreaInfoItem from "@/widgets/detail/DocumentInfoAreaInfoItem.vue"
  export default defineComponent({
    name: 'BinTransferDetail',
    components: {
      // 'barcode': Vue3Barcode,
      DocumentInfoArea,
      'DetailItem': DocumentInfoAreaDetailItem,
      'InfoItem': DocumentInfoAreaInfoItem
    },
    setup() {
      const route = useRoute()
      const state = reactive({
        detail: false
      })
      const data = ref({
        code: 'CC-220428242122',
        warehouse: 'Plant Karawang',
        date: new Date(),
        createdBy: 'widi',
        status: 'OPEN'
      })
      const table = reactive({
        data: [{
          itemCode: '861912',
          itemName: 'ABC MCKRLEP EOE DW PNG425G1809',
          ordered: 20,
          picked: 0,
          uom: 'pcs'
        }],
        total: 10
      })
      const tableDetail = reactive({
        data: [{
          lpn: "24042022000K",
          qty: 10,
          expDate: new Date(),
          lotNumber: 213234,
          mfgDate: new Date(),
          noPallete: null,
          receivedDate: new Date(),
          fromLocation: '',
          toLocation: '',
          status: 'OPEN',
          pickBy: '',
        }]
      })
      const initialState = {
        warehouse_id: '0',
        page: '1',
        offset: '10',
      }


      return {
        table,
        tableDetail,
        data,
        colorBadge,
        state
      };
    },
  })
</script>