<template>

  <p-card class="shadow-sm mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Create New Bin Transfer')}}</p-text>
    </p-flex>
    <p-row>

      <p-col col>
        <p-select :label="__.trans('Job for Warehouse')" v-model="input.warehouse" :options="optionsMasterWarehouse">
        </p-select>
        <p-input :label="__.trans('Remarks')" v-model="input.remark"></p-input>

      </p-col>
      <p-col col>
      </p-col>

    </p-row>
  </p-card>
  <p-card class="shadow-sm  mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List Items')}}</p-text>
      <p-btn size="sm" variant="light-primary" @click="onClickAddItem">{{__.trans('Add')}}</p-btn>

    </p-flex>
    <p-table-plain :data="input.items">
      <el-table-column label="Item Name" property="name">
        <template #default="scope">
          <p-select filterable item-class="mb-0" v-model="scope.row.name" :options="optionsMasterItem" @input="onSelectItemInput($event,scope.$index)"></p-select>
        </template>
      </el-table-column>
      <el-table-column label="Quantity" property="quantity" width="120">
        <template #default="scope">
          <el-input type="number" :min="1" v-model="scope.row.quantity"></el-input>
        </template>
      </el-table-column>
      <el-table-column label="Uom" property="uom" width="120">
        <template #default="scope">
          {{scope.row.uom}}
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="80">
        <template #default="scope">
          <p-btn size="sm" variant="light-danger" icon="bi-x-lg" @click="onClickRemoveItem(scope.$index)"></p-btn>
        </template>
      </el-table-column>
    </p-table-plain>
  </p-card>
  <p-flex jc="between">
    <btn-back :to="{name:'operationBinTransferIndex'}"></btn-back>
    <btn-submit></btn-submit>
  </p-flex>
</template>
<script>
  import {
    defineComponent,
    reactive,
    onMounted
  } from 'vue';
  import useMasterItem from "@/composeable/useMasterItem"
  import useMasterWarehouse from "@/composeable/useMasterWarehouse"
  export default defineComponent({
    name: 'BinTransferCreate',
    setup() {
      const input = reactive({
        date: '',
        remark: '',
        warehouse: '',
        items: []
      })


      const {
        getMasterItem,
        optionsMasterItem
      } = useMasterItem()
      const {
        getMasterWarehouse,
        optionsMasterWarehouse
      } = useMasterWarehouse()
      const onClickAddItem = () => {
        input.items.push({
          name: '',
          quantity: 1,
          uom: ''
        })
      }
      const onClickRemoveItem = (index) => {
        input.items.splice(index, 1)
      }
      const onSelectItemInput = (val, index) => {
        let uom = optionsMasterItem.value.find((item) => item.value == val).uom
        input.items[index].uom = uom
        console.log(uom);
      }
      onMounted(async () => {
        await getMasterWarehouse()
        await getMasterItem()
      });

      return {
        input,
        optionsMasterWarehouse,
        optionsMasterItem,
        onClickAddItem,
        onClickRemoveItem,
        onSelectItemInput

      };
    },
  })
</script>