<template>
  <SearchField adv_id="operation_bin_transfer_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.itemName" :placeholder="`Search Bin Transfer Document No.`">
    <p-row>
      <p-col lg="4">
        <p-select :label="__.trans('Status')" v-model="filter.status" :placeholder="__.trans('Select Status')" :options="options.status" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">

    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Bin Transfer Jobs')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'operationBinTransferCreate'}"></btn-add-new>
      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Document No." property="binTransferDocument" min-width="150">
        <template #default="scope">
          <el-link type="primary" :underline="false" @click="openDetail(scope.row.id)">
            <p-text class="mb-1">
              {{ scope.row.binTransferDocument }}
            </p-text>
          </el-link>
          <p-text v-if="scope.row.remark" fs8 muted class="mb-0">
            {{__.trans('remark')}} : {{scope.row.remark}}
          </p-text>
        </template>
      </el-table-column>
      <el-table-column label="Start" property="start" width="200" />
      <el-table-column label="Finish" property="finish" width="200" />
      <el-table-column label="Status" property="status" width="100" align="center">
        <template #default="scope">
          <p-badge class="mb-1" :variant="colorBadge(scope.row.status)">
            {{ scope.row.status }}
          </p-badge>
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="80">
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-printer">
              {{__.trans('Print Bin Transfer')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-pencil-square">
              {{__.trans('edit')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
              {{__.trans('delete')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import colorBadge from "@/composeable/useColorBadge"
  import {
    documentPickingStatus
  } from "@/core/data/Options";
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  export default defineComponent({
    name: 'BinTransferIndex',
    components: {
      SearchField,
      Calendar

    },
    setup() {
      const filter = reactive({
        binTransferDocument: '',
        status: '',
        date: ''
      })
      const options = reactive({
        status: documentPickingStatus
      })
      const table = reactive({
        total: 10,
        data: [{
            binTransferDocument: 'BT-2203070047',
            start: '22-Mar-22 15:00',
            finish: '22-Mar-22 19:00',
            status: 'Close',
            remark: 'tester',
            id: 4534
          },
          {
            binTransferDocument: 'BT-2202040038',
            start: '22-Mar-22 15:00',
            finish: '',
            status: 'In Progress',
            remark: '',
            id: 4534

          }
        ]
      })
      onMounted(async () => {});
      return {
        filter,
        options,
        table,
        colorBadge

      };
    },
    methods: {
      openDetail(id) {
        this.$router.replace({
          name: 'operationBinTransferDetail',
          params: {
            id: id
          }
        })
      }
    }
  })
</script>