<template>
  <SearchField adv_id="operation_cycle_count_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.document" :placeholder="`Search Document`">
    <p-row>

      <p-col lg="4">
        <p-select :label="__.trans('Status')" v-model="filter.status" :placeholder="__.trans('Select Status')" :options="options.status" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>

    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">

    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Cycle Count')}}</p-text>
      <p-flex ai="center">
        <btn-add-new :to="{name:'operationCycleCountCreate'}"></btn-add-new>
        <btn-tool>{{__.trans('Export')}}</btn-tool>

      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Document" property="document" min-width="150">
        <template #default="scope">

          <el-link type="primary" :underline="false" @click="openDetail(scope.row.id)">
            <p-text class="mb-1">
              {{ scope.row.document }}
            </p-text>
          </el-link>
          <!-- <p-text v-if="scope.row.inboundSource" fs8 class="mb-0">
            {{__.trans('source')}} : {{scope.row.inboundSource}}
          </p-text> -->
          <p-text v-if="scope.row.remark" fs8 muted class="mb-0">
            {{__.trans('remark')}} : {{scope.row.remark}}
          </p-text>

        </template>
      </el-table-column>
      <el-table-column label="Date" property="date" align="center" width="100" />
      <el-table-column label="Type" property="type" width="150" />
      <el-table-column label="Start" property="start" width="150" align="center" />
      <el-table-column label="Finish" property="finish" width="150" align="center" />
      <el-table-column label="Status" property="status" width="100" align="center">
        <template #default="scope">
          <p-badge class="mb-1" :variant="colorBadge(scope.row.status)">
            {{ scope.row.status }}
          </p-badge>
        </template>
      </el-table-column>
      <el-table-column label="" property="action" width="80">
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-check-lg">
              {{__.trans('Final Count')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-check-lg">
              {{__.trans('Check Result')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-pencil-square">
              {{__.trans('edit')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
              {{__.trans('delete')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </el-table-column>
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import colorBadge from "@/composeable/useColorBadge"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  import {
    documentStatus
  } from "@/core/data/Options"
  export default defineComponent({
    name: 'CycleCountIndex',
    components: {
      SearchField,
      Calendar
    },
    setup() {
      const filter = reactive({
        document: '',
        status: '',
        date: ''
      })
      const options = reactive({
        status: documentStatus
      })
      const table = reactive({
        total: 10,
        data: [{
          id: 123,
          document: 'CC-220311342117',
          date: '11-Mar-22',
          type: 'By Location',
          start: '11-Mar-22 09:07',
          finish: '11-Mar-22 09:27',
          status: 'Close',
          remark: 'adjust to scanned qty',
        }]
      })

      onMounted(async () => {

      });
      return {
        filter,
        options,
        table,
        colorBadge

      };
    },
    methods: {
      openDetail(id) {
        this.$router.push({
          name: 'operationCycleCountDetail',
          params: {
            id: id
          }
        })
      },
    }
  })
</script>