<template>

  <p-card class="shadow-sm mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Create New Cycle Count Job')}}</p-text>
    </p-flex>
    <p-row>
      <p-col col>
        <p-select :label="__.trans('Operator')" v-model="input.user" :options="optionsMasterUser">
        </p-select>
        <el-form label-position="top">
          <el-form-item :label="__.trans('Cycle Count Date')">
            <el-date-picker class="w-100" v-model="input.date" type="date" :label="__.trans('Pick a date')" :shortcuts=" {
    text: 'Today',
    value: new Date(),
  }" />
          </el-form-item>
        </el-form>

      </p-col>
      <p-col col>
        <p-select :label="__.trans('Job for Warehouse')" v-model="input.warehouse" :options="optionsMasterWarehouse">
        </p-select>

      </p-col>
    </p-row>
  </p-card>
  <p-card class="shadow-sm  mb-3">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List Location')}}</p-text>
      <p-btn size="sm" variant="light-primary" @click="onClickAddLocation">{{__.trans('Add')}}</p-btn>

    </p-flex>
    <p-table-plain :data="input.items">
      <el-table-column label="Area" property="area" min-width="200">
        <template #default="scope">
          <p-select filterable item-class="mb-0" v-model="scope.row.area" :options="optionsMasterArea" @input="onSelectItemInput($event,scope.$index)"></p-select>
        </template>
      </el-table-column>
      <el-table-column label="location" property="location" min-width="200">
        <template #default="scope">
          <p-select filterable item-class="mb-0" v-model="scope.row.location" :options="options.binLocation[scope.$index]"></p-select>
        </template>
      </el-table-column>

      <el-table-column label="" property="action" width="80">
        <template #default="scope">
          <p-btn size="sm" variant="light-danger" icon="bi-x-lg" @click="onClickRemoveItem(scope.$index)"></p-btn>
        </template>
      </el-table-column>
    </p-table-plain>
  </p-card>
  <p-flex jc="between">
    <btn-back :to="{name:'operationCycleCountIndex'}"></btn-back>
    <btn-submit></btn-submit>
  </p-flex>
</template>
<script>
  import {
    defineComponent,
    reactive,
    onMounted,
    computed
  } from 'vue';
  import useMasterItem from "@/composeable/useMasterItem"
  import useMasterWarehouse from "@/composeable/useMasterWarehouse"
  import useMasterArea from "@/composeable/useMasterArea"
  import useMasterBinLocation from "@/composeable/useMasterBinLocation"
  import useMasterUser from "@/composeable/useMasterUser"
  export default defineComponent({
    name: 'CycleCountCreate',
    setup() {
      const input = reactive({
        date: '',
        type: '',
        user: '',
        remark: '',
        warehouse: '',
        items: []
      })
      const options = reactive({
        binLocation: []
      })
      const {
        getMasterArea,
        optionsMasterArea
      } = useMasterArea()
      const {
        getMasterBinLocation,
        dataMasterBinLocation
      } = useMasterBinLocation()
      const {
        getMasterUser,
        optionsMasterUser
      } = useMasterUser()

      const {
        getMasterWarehouse,
        optionsMasterWarehouse
      } = useMasterWarehouse()
      const onClickAddLocation = () => {
        input.items.push({
          area: '',
          location: '',
        })
      }
      const onClickRemoveItem = (index) => {
        input.items.splice(index, 1)
        options.binLocation.splice(index, 1)
      }
      const onSelectItemInput = (val, index) => {
        let area = optionsMasterArea.value.find((item) => item.value == val).text
        let location = dataMasterBinLocation.value.filter((item) => item.areaname == area)
        options.binLocation[index] = location.map(function(item) {
          return {
            value: item.locationid,
            text: item.locationname,
          };
        });
        console.log(options.binLocation[index]);
      }
      onMounted(async () => {
        await getMasterArea()
        await getMasterUser()
        await getMasterWarehouse()
        await getMasterBinLocation()
      });

      return {
        input,
        optionsMasterArea,
        optionsMasterWarehouse,
        optionsMasterUser,
        // optionsMasterBinLocation,
        onClickAddLocation,
        onClickRemoveItem,
        onSelectItemInput,
        options

      };
    },
  })
</script>