<template>
  <p-loader :isLoading="false" />
  <DocumentInfoArea v-if="true" :barcode="data.code" :status="data.status">
    <template #title>
      {{__.trans('Cycle Count Doc')}}
    </template>
    <template #detail>

    </template>
    <template #info>
      <InfoItem class="me-3" :title="__.trans('Date')" :value="__.dateFormat(data.date)"></InfoItem>
      <InfoItem class="me-3" :title="__.trans('Type')" :value="data.type"></InfoItem>
      <InfoItem class="me-3" :title="__.trans('Created By')" :value="data.createdBy"></InfoItem>
      <InfoItem :title="__.trans('Operator')" :value="data.operator"></InfoItem>
    </template>
  </DocumentInfoArea>
  <p-card :show="true" class="mb-3 shadow-sm">
    <p-text fs3 bolder class="mb-1">{{__.trans('Location List')}}</p-text>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="location" property="location" align="center" />
    </p-table>
  </p-card>
  <p-flex>
    <p-back-button :to="{name:'operationCycleCountIndex'}"></p-back-button>
  </p-flex>
</template>
<script>
  // import Vue3Barcode from 'vue3-barcode'
  import {
    defineComponent,
    reactive,
    onMounted,
    ref,
    toRef
  } from 'vue';
  import api from "@/api/inbound";
  import {
    useRouter,
    useRoute
  } from 'vue-router'
  import useGetData from "@/composeable/useGetData"
  import colorBadge from "@/composeable/useColorBadge"
  import DocumentInfoArea from "@/widgets/detail/DocumentInfoArea.vue"
  import DocumentInfoAreaDetailItem from "@/widgets/detail/DocumentInfoAreaDetailItem.vue"
  import DocumentInfoAreaInfoItem from "@/widgets/detail/DocumentInfoAreaInfoItem.vue"
  export default defineComponent({
    name: 'CycleCountDetail',
    components: {
      // 'barcode': Vue3Barcode,
      DocumentInfoArea,
      'DetailItem': DocumentInfoAreaDetailItem,
      'InfoItem': DocumentInfoAreaInfoItem
    },
    setup() {
      const route = useRoute()
      const data = ref({
        code: 'CC-220428242122',
        type: 'By Location',
        date: new Date(),
        createdBy: 'hasna',
        operator: 'hasna',
        status: 'CLOSE'
      })
      const table = reactive({
        data: [{
          location: 'A0062'
        }],
        total: 10
      })
      const initialState = {
        warehouse_id: '0',
        page: '1',
        offset: '10',
      }


      return {
        table,
        data,
        colorBadge,
      };
    },
  })
</script>