<template>
  <p-card class="mb-3 shadow-sm">
    <p-text fs3 bolder class="mb-1">{{__.trans('Item Summary')}}</p-text>

    <p-text fs1 bolder>[{{data.itemCode}}] {{data.itemName}}</p-text>
    <div class="mb-5">
      <p-flex sm jc="between" ai="center">
        <div class="mb-3 mb-sm-0">

          <span class="badge rounded-pill badge-light-primary me-3">
            {{ data.category1 }}</span>
          <span class="badge rounded-pill badge-light-primary me-3">
            {{ data.category2 }}</span>
          <span class="badge rounded-pill badge-light-success me-3">
            {{ data.pickingStrategy }}</span>
          <span class="badge rounded-pill badge-light-info">
            {{ __.ucfirst(data.pickingPeriod) }}</span>
        </div>
        <div class="text-end">
          <p-badge outline variant="primary" class="border-2">
            Total Qty: {{data.totalQty}} {{data.uom}}
          </p-badge>
        </div>
      </p-flex>
    </div>
    <p-row class="mb-5">
      <p-col lg="2" md="3" sm="4" cols="6" class="mb-3">
        <SummaryCard title="Receiving" :value="data.receiving" variant="primary"></SummaryCard>
      </p-col>
      <p-col lg="2" md="3" sm="4" cols="6" class="mb-3">
        <SummaryCard title="On Hand" :value="data.onhand" variant="info"></SummaryCard>
      </p-col>
      <p-col lg="2" md="3" sm="4" cols="6" class="mb-3">
        <SummaryCard title="Picked" :value="data.picked" variant="success"></SummaryCard>
      </p-col>
      <p-col lg="2" md="3" sm="4" cols="6" class="mb-3">
        <SummaryCard title="Hold" :value="data.hold" variant="warning"></SummaryCard>
      </p-col>
      <p-col lg="2" md="3" sm="4" cols="6" class="mb-3">
        <SummaryCard title="Damage" :value="data.damage" variant="danger"></SummaryCard>
      </p-col>
      <p-col lg="2" md="3" sm="4" cols="6" class="mb-3">
        <SummaryCard title="Available" :value="data.available" variant="success"></SummaryCard>
      </p-col>
    </p-row>
  </p-card>
  <p-card class="mb-3 shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('LPN List')}}</p-text>

      <div>
        <BtnTool>
          {{__.trans('Export')}}
        </BtnTool>
        <p-btn-dropdown btnSize="sm">
          <template #button>
            Reprint
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-printer">
              LPN
            </p-dropdown-item>
            <p-dropdown-item icon="bi-printer">
              GID
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
        <BtnTool>
          {{__.trans('Show All')}}
        </BtnTool>
      </div>
    </p-flex>
    <p-table :isLoading="false" :data="data.lpnList" :total="10">
      <el-table-column label="LPN" property="lpn" width="150" />

      <el-table-column label="Qty" align="center" property="qty" width="50" />
      <el-table-column label="Exp Date" align="center" property="expDate" width="120">
        <template #default="scope">
          {{__.dateFormat(scope.row.expDate)}}
        </template>
      </el-table-column>
      <el-table-column label="Mfg Date" align="center" property="mfgDate" width="120">
        <template #default="scope">
          {{__.dateFormat(scope.row.mfgDate)}}
        </template>
      </el-table-column>
      <el-table-column label="No Pallete" property="noPallete" width="150" />
      <el-table-column label="Lot Number" property="lotNumber" width="150" />
      <el-table-column label="Batch" property="batch" width="150" />
      <el-table-column label="Receive Date" align="center" property="receivedDate" width="150">
        <template #default="scope">
          {{__.dateFormat(scope.row.receivedDate)}}
        </template>
      </el-table-column>
      <el-table-column label="Shelf Life" property="shelfLife" width="150">
        <template #default="scope">
          {{scope.row.shelfLife}} Days

        </template>
      </el-table-column>

    </p-table>
  </p-card>
  <p-card class="mb-3 shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Stock Card')}}</p-text>

      <div>
        <BtnTool>
          {{__.trans('Export')}}
        </BtnTool>
      </div>
    </p-flex>
    <p-table :isLoading="false" :data="data.stockCard" :total="10">
      <el-table-column label="Stock Card" align="center" property="date" width="150">
        <template #default="scope">
          {{__.dateFormat(scope.row.date)}}
        </template>
      </el-table-column>
      <el-table-column label="In" property="in" align="center" width="100" />
      <el-table-column label="Out" property="out" align="center" width="100" />
      <el-table-column label="Balance" property="balance" align="center" width="100" />
      <el-table-column label="By" property="by" width="100" />
      <el-table-column label="Ref Doc" property="reference" width="200">
        <template #default="scope">
          <el-link type="primary" :underline="false" @click="openDetail(scope.row.receivingId)">
            <p-text class="mb-1">
              {{ scope.row.refference }}
            </p-text>
          </el-link>

        </template>
      </el-table-column>

    </p-table>
  </p-card>
  <BtnBack :to="{name:'operationInventoryIndex'}"></BtnBack>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import DocumentInfoAreaDetailItem from "@/widgets/detail/DocumentInfoAreaDetailItem.vue"
  import SummaryCard from "@/widgets/generals/ActiveInventorySummaryCard.vue"
  export default defineComponent({
    name: 'InventoryDetail',
    components: {
      'DetailItem': DocumentInfoAreaDetailItem,
      SummaryCard

    },
    setup() {
      const data = reactive({
        itemCode: 9887823,
        itemName: 'AMBAL HIJAU KOTAK UKURAN 15gr',
        category1: 'General - Genearal',
        category2: '',
        uom: 'pcs',
        pickingStrategy: 'FEFO',
        pickingPeriod: 'MONTHLY',
        defaultQty: 50,
        totalQty: 20,
        receiving: 10,
        onhand: 10,
        picked: 0,
        hold: 0,
        damage: 0,
        available: 0,
        lpnList: [{
          lpn: "24042022000K",
          qty: 10,
          expDate: new Date(),
          mfgDate: new Date(),
          noPallete: null,
          lotNumber: '24042022000K',
          batch: '',
          receivedDate: new Date(),
          shelfLife: 725
        }],
        stockCard: [{
          date: new Date(),
          in: 10,
          out: 0,
          balance: 20,
          by: 'leo',
          refference: 'RCV-22052448560729',
          receivingId: 5421

        }]
      })
      onMounted(() => {});
      return {
        data
      };
    },
    methods: {
      openDetail(id) {
        this.$router.push({
          name: 'inboundReceivingJobsDetail',
          params: {
            documentId: id
          }
        })
      }
    }
  })
</script>