<template>
  <SearchField adv_id="operation_inventory_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.itemName" :placeholder="`Search Item Name`">
    <p-row>

      <p-col lg="4">
        <p-select :label="__.trans('Categories')" v-model="filter.categories" :placeholder="__.trans('Select Categories')" :options="options.categories" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Location Type')" v-model="filter.locationType" :placeholder="__.trans('Select Location Type')" :options="optionsMasterType" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('UoM')" v-model="filter.uom" :placeholder="__.trans('Select UoM')" :options="optionsMasterUom" :textAsValue="true">
        </p-select>
      </p-col>

    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">

    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Inventory')}}</p-text>
      <p-flex ai="center">
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item icon="bi-file-earmark-arrow-up">
              {{__.trans('Import Adjustment Stock')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi-arrow-repeat">
              {{__.trans('sync')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi bi-file-earmark-excel">
              {{__.trans('Export Book Picking')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi bi-file-earmark-excel">
              {{__.trans('Export')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>
      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Item Code" property="itemCode" width="100">
        <template #default="scope">
          <el-link type="primary" :underline="false" @click="openDetail(scope.row.id)">
            <p-text class="mb-1">
              {{ scope.row.itemCode }}
            </p-text>
          </el-link>
        </template>
      </el-table-column>
      <el-table-column label="Item Name" property="itemName" min-width="250" />
      <el-table-column label="Category" property="category" width="150" />
      <el-table-column label="Qty (Stock)" property="quantityStock" width="150" />
      <el-table-column label="Qty (Min)" property="quantityMinimum" width="150" />

    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import useMasterType from "@/composeable/useMasterType"
  import useMasterUom from "@/composeable/useMasterUom"

  export default defineComponent({
    name: 'ActiveInventory',
    components: {
      SearchField,
    },
    setup() {
      const filter = reactive({
        itemCode: '',
        itemName: '',
        locationType: '',
        uom: ''
      })
      const options = reactive({
        categories: []
      })
      const table = reactive({
        total: 10,
        data: [{
          id: 123,
          itemCode: '9887823',
          itemName: 'SAMBAL HIJAU KOTAK UKURAN 15gr',
          category: 'General',
          quantityStock: '0 PCS',
          quantityMinimum: '0 PCS'
        }, {
          id: 256,
          itemCode: '861912',
          itemName: 'ABC MCKRLEP EOE DW PNG425G1809',
          category: 'General',
          quantityStock: '15426 PCS',
          quantityMinimum: '0 PCS'
        }]
      })
      const {
        getMasterType,
        optionsMasterType
      } = useMasterType()
      const {
        getMasterUom,
        optionsMasterUom
      } = useMasterUom()
      const openDetail = () => {
        code
      }
      onMounted(async () => {
        await getMasterType()
        await getMasterUom()
      });
      return {
        filter,
        options,
        table,
        optionsMasterType,
        optionsMasterUom,
      };
    },
    methods: {
      openDetail(id) {
        this.$router.push({
          name: 'operationInventoryDetail',
          params: {
            id: id
          }
        })
      },
    }
  })
</script>