<template>
  <div>
    location create
  </div>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  export default defineComponent({
    name: 'LocationCreate',
    setup() {
      onMounted(() => {});
      return {};
    },
  })
</script>