<template>
  <p-text fs3 bolder class="mb-1">{{__.trans('Please Select Area')}}</p-text>
  <p-flex>

    <p-select :placeholder="__.trans('Select Area')" v-model="data.area" :options="optionsMasterArea" @optionClick="onOptionClick($event)">
    </p-select>
  </p-flex>
  <Transition :name="`slide-fade`" mode="out-in">
    <div>

      <template v-for="(v,i) in dummyData" :key="i">


        <p-text bolder fs3>Row {{v.row}}</p-text>
        <p-card class="mb-3 shadow-sm">
          <div class="d-flex shelf-row">
            <template v-for="(shelf, shelfIndex) in v.shelfs" :key="shelfIndex">
              <div class="shelf-container">
                Rack {{shelfIndex + 1}}
                <div class=" shelf-column">
                  <template v-for="(drawer, drawerIndex) in shelf.drawers.slice().reverse()" :key="drawerIndex">
                    <!-- <div class="border w-100 p-3"> -->
                    <div :id="`shelf-${v.row}-${shelfIndex}-${drawerIndex}`" :class="[` w-100 p-3 drawer-row position-relative`,{'bg-danger text-white':drawer.lpn_actual >= drawer.lpn_capacity}]" style="white-space:nowrap" @click="onDrawerRowclick(`shelf-${v.row}-${shelfIndex}-${drawerIndex}`,drawer.tag)" data-kt-menu-trigger="click" :data-kt-menu-attach="`#shelf-${v.row}-${shelfIndex}-${drawerIndex}`" data-kt-menu-placement="bottom" data-kt-menu-flip="bottom">

                      {{drawer.tag}}
                      <p-dropdown>
                        <div class="text-dark" v-if="targetPopover == `shelf-${v.row}-${shelfIndex}-${drawerIndex}`">
                          <p-text fs5 bold class="border-bottom text-center border-dark">{{data.popoverData.tag}}</p-text>
                          <template v-for="(popoverValue, popoverIndex) in data.popoverData.items" :key="popoverIndex">
                            - {{popoverValue.qty}} {{popoverValue.uom}} {{popoverValue.itemName}} ({{popoverValue.status}})
                          </template>
                          <div class="text-end w-100 mt-5">

                            <btn-tool-link :to="{name:'operationLocationDetail',params:{id:'123'}}">See Bin Detail</btn-tool-link>
                          </div>
                        </div>
                      </p-dropdown>
                    </div>
                  </template>
                </div>
              </div>
            </template>
          </div>
        </p-card>
        <!-- <Teleport v-if="targetPopover" to="body">

      <div class="card   position-absolute  shadow-sm text-dark" style="top:404px;left:875px">
        <div class="card-body">

          Info Detail
        </div>
      </div>
    </Teleport> -->
      </template>
      <p-flex jc="between">

        <p-btn variant="secondary" size="sm" class="shadow-sm">
          {{__.trans('back')}}
        </p-btn>
        <p-btn variant="primary" size="sm" class="shadow-sm">
          {{__.trans('next')}}
        </p-btn>
      </p-flex>
    </div>

  </Transition>

</template>
<script>
  import {
    defineComponent,
    onMounted,
    reactive,
    ref,
    onUnmounted
  } from 'vue';
  import useMasterArea from "@/composeable/useMasterArea"
  import dummyData from "@/core/data/visualisationDummyData"
  export default defineComponent({
    name: 'LocationVisualisation',
    setup() {
      const targetPopover = ref('')
      const data = reactive({

        area: '',
        container: [],
        popoverData: {
          tag: '',
          items: [{

            qty: 100,
            uom: 'Pcs',
            itemName: 'ABC Item Data',
            status: 'GOOD'
          }]
        }
      })
      const {
        getMasterArea,
        optionsMasterArea
      } = useMasterArea()


      const onDrawerRowclick = (id, tag) => {
        targetPopover.value = id
        data.popoverData.tag = tag
        console.log(id);
        return

      }

      const onOptionClick = (val) => {
        console.log(val);
        data.container = dummyData
      }
      onMounted(async () => {
        await getMasterArea();
      });
      return {
        optionsMasterArea,
        data,
        dummyData,
        onDrawerRowclick,
        targetPopover,
        onOptionClick
      };
    },
  })
</script>
<style lang="scss" scoped>
  .shelf-row {
    overflow-y: scroll;

    .shelf-container {

      // min-width: 200px;
      &:not(:first-child) {
        .shelf-column {
          border-left: none;
        }
      }

      .shelf-column {
        border: 1px solid grey;

        .drawer-row {
          border-top: none;
          cursor: pointer;
          transition: all .2s ease;

          &:not(:first-child) {
            border-top: 1px solid grey;
          }

          &:hover {
            box-shadow: 0px 0px 0px 1px grey inset;
            -webkit-box-shadow: 0px 0px 0px 1px grey inset;
            -moz-box-shadow: 0px 0px 0px 1px grey inset;
          }

        }
      }
    }
  }
</style>