<template>
  <SearchField adv_id="operation_location_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.location" :placeholder="`Search Location Name`">
    <p-row>
      <p-col lg="4">
        <p-select :label="__.trans('Location Type')" v-model="filter.locationType" :placeholder="__.trans('Select Location Type')" :options="optionsMasterType" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Category')" v-model="filter.category" :placeholder="__.trans('Select Category')" :options="optionsMasterCategories" :textAsValue="true">
        </p-select>
      </p-col>
    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">

    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('List of Location')}}</p-text>
      <p-flex ai="center">
        <btn-tool>{{__.trans('Export')}}</btn-tool>
        <btn-tool-link :to="{name:'operationLocationVisualisation'}">
          {{__.trans('Visualize')}}
        </btn-tool-link>
      </p-flex>
    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Location" property="location">
        <template #default="scope">
          <el-link type="primary" :underline="false" @click="openDetail(scope.row.id)">
            <p-text class="mb-1">
              {{ scope.row.location }}
            </p-text>
          </el-link>
        </template>
      </el-table-column>
      <el-table-column label="Category" property="category" align="center" />
      <!--belum ada API nya -->
      <el-table-column label="Location Type" property="locationType" />
      <el-table-column label="Total Items" property="totalItems" align="center" />

    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import useMasterType from "@/composeable/useMasterType"
  import useMasterCategories from "@/composeable/useMasterCategories"
  import BtnTool from '@/components/widgets/BtnTool.vue';

  export default defineComponent({
    name: 'LocationIndex',
    components: {
      SearchField,
      BtnTool,
    },
    setup() {
      const filter = reactive({
        location: '',
        locationType: '',
        item: '',
        category: ''
      })
      const options = reactive({
        categories: []
      })
      const table = reactive({
        total: 10,
        data: [{
            id: 123,
            location: 'A0011',
            category: 'General',
            locationType: 'Put n Pick',
            totalItems: '13',
          },
          {
            id: 123,
            location: 'A0063',
            category: 'General',
            locationType: 'Put n Pick',
            totalItems: '3',
          }
        ]
      })
      const {
        getMasterType,
        optionsMasterType
      } = useMasterType()
      const {
        getMasterCategories,
        optionsMasterCategories
      } = useMasterCategories()
      onMounted(async () => {
        await getMasterType()
        await getMasterCategories()
      });
      return {
        filter,
        options,
        table,
        optionsMasterType,
        optionsMasterCategories
      };
    },
    methods: {
      openDetail(id) {
        this.$router.replace({
          name: 'operationLocationDetail',
          params: {
            id: id
          }
        })
      }
    }
  })
</script>