<template>
  <p-card class="mb-3 shadow-sm">
    <p-text fs3 bolder class="mb-1">{{__.trans('Location Info')}}</p-text>


    <div>
      <p-flex sm jc="between" ai="center">
        <div class="mb-3">
          <DetailItem title="Category" :value="data.category"></DetailItem>
          <DetailItem title="Type" :value="data.type"></DetailItem>
          <DetailItem title="Area" :value="data.area"></DetailItem>
          <DetailItem title="Warehouse" :value="data.warehouse"></DetailItem>
          <!-- <span class="badge rounded-pill badge-light-primary me-3">
            {{ data.category }}</span>
          <span class="badge rounded-pill badge-light-info me-3">
            {{ data.area }}</span>
          <span class="badge rounded-pill badge-light-success me-3">
            {{ data.warehouse }}</span> -->
        </div>
        <div class="text-end">
          <p-card class="shadow-sm d-inline-block mb-5" bodyClass="p-0">
            <p-flex>
              <div class="bg-primary border-primary border rounded-start py-3 px-7">
                <p-text fs1 bolder class="mb-0">{{data.oddeven}}</p-text>
              </div>
              <div class="p-3   border rounded-end py-3 px-7">
                <p-text fs1 bolder class="mb-0">{{data.location}}</p-text>
              </div>
            </p-flex>
          </p-card>
        </div>
      </p-flex>
    </div>

  </p-card>
  <p-card class="mb-3 shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Item List')}}</p-text>
      <div>
        <BtnTool>
          {{__.trans('Export')}}
        </BtnTool>
      </div>
    </p-flex>
    <transition name="slide-fade" mode="out-in">
      <div :key="state.detail">
        <p-table v-if="state.detail == false" :isLoading="false" :data="table.data" :total="table.total">
          <el-table-column label="Item Code" property="itemCode" width="150">
            <template #default="scope">
              <el-link type="primary" :underline="false" @click="openDetail(scope.row.itemId)">
                <p-text class="mb-1">
                  {{ scope.row.itemCode }}
                </p-text>
              </el-link>
            </template>
          </el-table-column>
          <el-table-column label="Name" property="itemName" align="left" min-width="200" />
          <el-table-column label="Qty" property="out" align="center" width="100">
            <template #default="scope">
              {{scope.row.qty}} {{scope.row.uom}}
            </template>
          </el-table-column>
          <el-table-column label="" property="action" align="center" width="100">
            <template #default="scope">
              <p-btn @click="state.detail = true" size="sm" variant="color-primary" class="btn-active-light-primary">
                {{__.trans('Detail')}}
              </p-btn>
            </template>
          </el-table-column>


        </p-table>

        <div v-if="state.detail == true">

          <p-table-plain :isLoading="false" :data="tableDetail.data" :total="tableDetail.total">
            <el-table-column label="LPN" property="lpn" width="150" />
            <el-table-column label="Qty" align="center" property="qty" width="50" />
            <el-table-column label="Exp Date" align="center" property="expDate" width="120">
              <template #default="scope">
                {{__.dateFormat(scope.row.expDate)}}
              </template>
            </el-table-column>
            <el-table-column label="Mfg Date" align="center" property="mfgDate" width="120">
              <template #default="scope">
                {{__.dateFormat(scope.row.mfgDate)}}
              </template>
            </el-table-column>
            <el-table-column label="No Pallete" property="noPallete" align="center" width="120" />
            <el-table-column label="Lot Number" property="lotNumber" width="150" />
            <el-table-column label="Receive Date" align="center" property="receivedDate" width="120">
              <template #default="scope">
                {{__.dateFormat(scope.row.receivedDate)}}
              </template>
            </el-table-column>
            <el-table-column label="Location" property="location" align="center" width="100">
              <template #default="scope">
                {{scope.row.location}}

              </template>
            </el-table-column>
            <el-table-column label="Status" property="status" align="center" width="100">
              <template #default="scope">
                {{scope.row.status}}

              </template>
            </el-table-column>
            <el-table-column label="Batch" property="batch" align="center" width="120" />

          </p-table-plain>
          <div class="w-100 text-end">
            <p-btn size="sm" variant="color-primary" class="btn-active-primary" @click="state.detail = false">{{__.trans('Ok')}}</p-btn>
          </div>
        </div>
      </div>
    </transition>

  </p-card>
  <!-- <p-card class="mb-3 shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Stock Card')}}</p-text>

      <div>
        <BtnTool>
          {{__.trans('Export')}}
        </BtnTool>
      </div>
    </p-flex>
    <p-table :isLoading="false" :data="data.stockCard" :total="10">
      <el-table-column label="Stock Card" align="center" property="date" width="150">
        <template #default="scope">
          {{__.dateFormat(scope.row.date)}}
        </template>
      </el-table-column>
      <el-table-column label="In" property="in" align="center" width="100" />
      <el-table-column label="Out" property="out" align="center" width="100" />
      <el-table-column label="Balance" property="balance" align="center" width="100" />
      <el-table-column label="By" property="by" width="100" />
      <el-table-column label="Ref Doc" property="reference" width="200">
        <template #default="scope">
          <el-link type="primary" :underline="false" @click="openDetail(scope.row.receivingId)">
            <p-text class="mb-1">
              {{ scope.row.refference }}
            </p-text>
          </el-link>

        </template>
      </el-table-column>

    </p-table>
  </p-card> -->
  <BtnBack :to="{name:'operationLocationIndex'}"></BtnBack>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import DocumentInfoAreaDetailItem from "@/widgets/detail/DocumentInfoAreaDetailItem.vue"
  export default defineComponent({
    name: 'LocationDetail',
    components: {
      'DetailItem': DocumentInfoAreaDetailItem,

    },
    setup() {
      const data = reactive({
        location: 'A0031',
        oddeven: 'ODD',
        category: 'Put n Pick',
        area: 'A',
        warehouse: 'DC Karawang',
      })
      const table = reactive({
        data: [{
          itemCode: 9887823,
          itemName: 'AMBAL HIJAU KOTAK UKURAN 15gr',
          uom: 'pcs',
          qty: 20,
          itemId: 1231
        }]
      })
      const tableDetail = reactive({
        data: [{
          lpn: "24042022000K",
          qty: 10,
          expDate: new Date(),
          mfgDate: new Date(),
          noPallete: '123PAL',
          lotNumber: '24042022000K',
          batch: 'sesuai',
          receivedDate: new Date(),
          location: 'A011',
          status: 'Good',
        }]
      })
      const state = reactive({
        detail: false
      })
      onMounted(() => {});
      return {
        data,
        table,
        tableDetail,
        state
      };
    },
    methods: {
      openDetail(id) {
        this.$router.push({
          name: 'operationInventoryDetail',
          params: {
            id: id
          }
        })
      }
    }
  })
</script>