<template>
  <SearchField adv_id="operation_quarantine_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.itemName" :placeholder="`Search Item Name`">
    <p-row>
      <p-col lg="4">
        <p-input :label="__.trans('Item Code')" v-model="filter.itemCode" :placeholder="__.trans('Input Item Code')">
        </p-input>
      </p-col>
      <p-col lg="4">
        <p-select :label="__.trans('Item Type')" v-model="filter.itemType" :placeholder="__.trans('Select Type')" :options="[]" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <div class="row fv-row">
          <p-select radio :label="__.trans('Quarantine')" v-model="filter.quarantine" :placeholder="__.trans('Select Categories')" :options="booleanChoices" :textAsValue="true">
          </p-select>
        </div>
      </p-col>
      <p-col lg="4">
        <div class="row fv-row">
          <p-select radio :label="__.trans('Auto Release')" v-model="filter.autoRelease" :placeholder="__.trans('Select Categories')" :options="booleanChoices" :textAsValue="true">
          </p-select>
        </div>
      </p-col>
    </p-row>
  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Quarantine List')}}</p-text>

    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">

      <el-table-column label="Item Code" property="itemCode" min-width="150">
        <template #default="scope">
          <el-link type="primary" :underline="false" @click="openDetail(scope.row.id)">
            <p-text class="mb-1">
              {{ scope.row.itemCode }}
            </p-text>
          </el-link>
        </template>
      </el-table-column>
      <el-table-column label="Item Name" property="itemName" min-width="250" />
      <el-table-column label="Qty (Total)" property="quantityTotal" width="150" />
      <el-table-column label="Qty (Hold)" property="quantityPalette" width="150" />
      <el-table-column label="Duration" property="duration" width="150" />

    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  import colorBadge from "@/composeable/useColorBadge"
  import {
    booleanChoices
  } from "@/core/data/Options";
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  export default defineComponent({
    name: 'QuarantineIndex',
    components: {
      SearchField,
      Calendar

    },
    setup() {
      const filter = reactive({
        itemName: '',
        itemCode: '',
        itemType: '',
        quarantine: 'All',
        autoRelease: 'All',
      })
      const options = reactive({})
      const table = reactive({
        total: 10,
        data: [{
          id: 21312,
          itemCode: '861910',
          itemName: 'ABC MCKRLCHL EOEDW PNG425G1809',
          quantityTotal: '122 PCS',
          quantityPalette: '2 PCS',
          duration: '0 Days'
        }, ]
      })
      onMounted(async () => {});
      return {
        filter,
        options,
        table,
        colorBadge,
        booleanChoices
      };
    },
    methods: {
      openDetail(id) {
        this.$router.push({
          name: 'operationQuarantineDetail',
          params: {
            id: id
          }
        })
      },
    }
  })
</script>