<template>
  <SearchField adv_id="operation_quarantine_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.lotNumber" :placeholder="`Search lot number`">
    <p-row>
      <p-col lg="4">
        <p-select :label="__.trans('Status')" v-model="filter.status" :placeholder="__.trans('Select Status')" :options="options.status" :textAsValue="true">
        </p-select>
      </p-col>
      <p-col lg="4">
        <el-form :label-position="'top'">
          <el-form-item label="Period">
            <calendar></calendar>
          </el-form-item>
        </el-form>
      </p-col>
    </p-row>
  </SearchField>
  <p-card class="mb-3 shadow-sm">
    <p-text fs1 bolder>[{{data.itemCode}}] {{data.itemName}}</p-text>
    <div class="mb-5">
      <p-flex sm jc="between" ai="center">
        <div class="mb-3 mb-sm-0">
          <span class="badge rounded-pill badge-light-primary me-3">
            {{ data.category1 }}</span>
          <span class="badge rounded-pill badge-light-primary me-3">
            {{ data.category2 }}</span>
          <span class="badge rounded-pill badge-light-success me-3">
            {{ data.pickingStrategy }}</span>
          <span class="badge rounded-pill badge-light-info">
            {{ __.ucfirst(data.pickingPeriod) }}</span>
        </div>
        <div class="text-end">
          <p-badge outline variant="danger" class="border-2">
            Quarantine Duration: {{data.quarantineDuration}} days
          </p-badge>
        </div>
      </p-flex>
    </div>

  </p-card>
  <p-card class="mb-3 shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('LPN List')}}</p-text>

      <div>
        <BtnTool>
          {{__.trans('Export')}}
        </BtnTool>
        <p-btn-dropdown icon btnSize="sm">
          <template #button>
            <i class="bi bi-three-dots fs-3"></i>
          </template>
          <template #dropdown>
            <p-dropdown-item menuClass="text-success" icon="bi-check-circle text-success">
              {{__.trans('release')}}
            </p-dropdown-item>
            <p-dropdown-item icon="bi bi-arrow-return-left">
              {{__.trans('Return to Vendor')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-warning" icon="bi bi-archive text-warning">
              {{__.trans('quarantine')}}
            </p-dropdown-item>
            <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
              {{__.trans('disposal')}}
            </p-dropdown-item>
          </template>
        </p-btn-dropdown>

      </div>
    </p-flex>
    <p-table :isLoading="false" :data="data.lpnList" :total="10">
      <el-table-column label="LPN" property="lpn" width="150">
        <template #default="scope">
          <el-link type="primary" :underline="false" @click="openDetail(scope.row.lpn)">
            <p-text class="mb-1">
              {{ scope.row.lpn }}
            </p-text>
          </el-link>
        </template>
      </el-table-column>

      <el-table-column label="Qty" align="center" property="qty" width="50" />
      <el-table-column label="Exp Date" align="center" property="expDate" width="120">
        <template #default="scope">
          {{__.dateFormat(scope.row.expDate)}}
        </template>
      </el-table-column>
      <el-table-column label="Mfg Date" align="center" property="mfgDate" width="120">
        <template #default="scope">
          {{__.dateFormat(scope.row.mfgDate)}}
        </template>
      </el-table-column>
      <el-table-column label="No Pallete" property="noPallete" width="150" />
      <el-table-column label="Lot Number" property="lotNumber" width="150" />
      <el-table-column label="Batch" property="batch" width="150" />
      <el-table-column label="Receive Date" align="center" property="receivedDate" width="150">
        <template #default="scope">
          {{__.dateFormat(scope.row.receivedDate)}}
        </template>
      </el-table-column>
      <el-table-column label="Shelf Life" property="location" align="center" width="150">
        <template #default="scope">
          {{scope.row.location}}

        </template>
      </el-table-column>
      <el-table-column label="Status Item" property="statusItem" align="center" width="150" />
      <el-table-column label="Status Hold" property="statusHold" align="center" width="150" />
      <el-table-column label="Max Hold Date" property="maxHoldDate" align="center" width="150">
        <template #default="scope">
          {{__.dateFormat(scope.row.maxHoldDate)}}
        </template>
      </el-table-column>
      <el-table-column label="Remain Hold Day" property="remainHoldDay" align="center" width="150" />
      <el-table-column label="reason (reject)" property="reason" width="150" />
      <el-table-column label="" property="action" width="50" align="center">
        <template #default="scope">
          <p-btn-dropdown icon btnSize="sm">
            <template #button>
              <i class="bi bi-three-dots fs-3"></i>
            </template>
            <template #dropdown>
              <p-dropdown-item menuClass="text-success" icon="bi-check-circle text-success">
                {{__.trans('release')}}
              </p-dropdown-item>
              <p-dropdown-item menuClass="text-warning" icon="bi bi-archive text-warning">
                {{__.trans('quarantine')}}
              </p-dropdown-item>
              <p-dropdown-item menuClass="text-danger" icon="bi-trash text-danger">
                {{__.trans('reject')}}
              </p-dropdown-item>
            </template>
          </p-btn-dropdown>
        </template>
      </el-table-column>


    </p-table>
  </p-card>

  <BtnBack :to="{name:'operationQuarantineIndex'}"></BtnBack>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    ref,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'

  import DocumentInfoAreaDetailItem from "@/widgets/detail/DocumentInfoAreaDetailItem.vue"
  import SummaryCard from "@/widgets/generals/ActiveInventorySummaryCard.vue"
  import Calendar from "@/components/calendar/CalendarDateRange.vue"
  import {
    quarantineStatus
  } from "@/core/data/Options";
  export default defineComponent({
    name: 'QuarantineDetail',
    components: {
      'DetailItem': DocumentInfoAreaDetailItem,
      SummaryCard,
      SearchField,
      Calendar
    },
    setup() {
      const filter = reactive({
        lotNumber: '',
        status: '',
        date: ''
      })
      const options = reactive({
        status: quarantineStatus
      })
      const data = reactive({
        itemCode: 9887823,
        itemName: 'AMBAL HIJAU KOTAK UKURAN 15gr',
        category1: 'General - Genearal',
        category2: '',
        uom: 'pcs',
        pickingStrategy: 'FEFO',
        pickingPeriod: 'MONTHLY',
        quarantineDuration: 20,
        lpnList: [{
          lpn: "24042022000K",
          qty: 10,
          expDate: new Date(),
          mfgDate: new Date(),
          noPallete: null,
          lotNumber: '24042022000K',
          batch: '',
          receivedDate: new Date(),
          location: 'A0021',
          statusItem: 'GOOD',
          statusHold: 'No Action',
          maxHoldDate: new Date(),
          remainHoldDay: 4,
          reason: '',
        }],

      })
      onMounted(() => {});
      return {
        data,
        filter,
        options
      };
    },
    methods: {
      openDetail(lpn) {
        this.$router.push({
          name: 'searchSerialNumber',
          params: {
            serialNumber: lpn
          }
        })
      }
    }
  })
</script>