<template>
  <SearchField adv_id="operation_replenishment_advanced_search_form" class="mb-7 shadow-sm" v-model="filter.itemName" :placeholder="`Search Item Name`">

  </SearchField>
  <p-loader :isLoading="false" />
  <p-card :show="true" class="shadow-sm">
    <p-flex jc="between" ai="center">
      <p-text fs3 bolder class="mb-1">{{__.trans('Replenishment List')}}</p-text>

    </p-flex>
    <p-table :isLoading="false" :data="table.data" :total="table.total">
      <el-table-column label="Item Code" property="itemCode" width="150" />
      <el-table-column label="Item Name" property="itemName" min-width="250" />
      <el-table-column label="QTY (Min Replenish)" property="quantityMinimum" width="250" />
      <el-table-column label="Qty (Available)" property="quantityAvailable" width="250" />
    </p-table>
  </p-card>
</template>
<script>
  import {
    defineComponent,
    onMounted,
    reactive
  } from 'vue';
  import SearchField from '@/widgets/generals/Search.vue'
  export default defineComponent({
    name: 'ReplenishmentIndex',
    components: {
      SearchField,

    },
    setup() {
      const filter = reactive({
        itemName: ''
      })
      const options = reactive({})
      const table = reactive({
        total: 10,
        data: [{
          itemName: '',
          itemCode: '',
          quantityMinimum: '',
          quantityAvailable: '',
        }, ]
      })
      onMounted(async () => {});
      return {
        filter,
        options,
        table
      };
    },
  })
</script>