.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label-wrap>.el-form-item__label:after, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:after {
    content: "*";
    color: var(--el-color-danger);
    margin-right: 4
px
;
}
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label-wrap>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
    content: "";
    color: unset;
    margin-right: unset;
}

  .slide-fade-leave-active {
    transition: all 0.3s ease;
  }
  .slide-fade-enter-active {
    transition: all 0.8s ease;
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
  }
  .el-table thead.is-group th.el-table__cell {
    background: unset; 
}

  // .el-table--enable-row-transition .el-table__body td.el-table__cell{
  //   transition: none!important;
  // }
//   .el-table tr:hover{
// background-color: unset;
//   }